#bb-recentitems {
  float: left;
  padding: 0 10px 0 15px;
  top: -4px;
  position: relative;
}
.page-civicrm #branding .breadcrumb {
  padding-left: 0;
}
div#nyss-recentitems-wrap {
  /*background: url('/sites/all/modules/civicrm/i/myshadow.png');*/
}
ul#nyss-recentitems-list {
  position: absolute;
  top: 37px;
  left: 40px;
  z-index: 10;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 10px 0 15px 0;
  box-shadow: 0px 0px 15px #ccc;
}
ul#nyss-recentitems-list li {
  white-space: nowrap;
  padding: 6px 60px 6px 24px;
  font-size: 13px;
  color: #464354;
}
ul#nyss-recentitems-list li a {
  color: #464354;
}
ul#nyss-recentitems-list li a:hover {
  text-decoration: none;
}
ul#nyss-recentitems-list li:hover {
  background-color: #e8eef0;
}
.nyss-recentitems-edit:hover {
  text-decoration: underline;
}
