.instance_file {
	border-left:1px solid #bfb6ac;
	border-right:1px solid #bfb6ac;
	background-color: #fff2e6;
	margin-bottom:3px;
	padding: 5px;
}
.instance_file_name {
	background-color:#bfb6ac;	
	padding-left:2px;
	padding-right:4px;
}
.instance_file_date {
	font-size:90%;
	font-style: italic;
	padding-left:4px;
	padding-right:4px;
}
.nyss_backup-button {
	margin:0px 0px 0px 20px;
}

#instance_files {
	margin: 0px auto;
	width: 90%;
}

.instance_create_backup {
	height:18px;
}

.nyss_backup_create {
	margin-top: -3px;
}

#blocker {
	position:absolute;
	z-index:2;
	background-color:black;
	opacity: .5;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border-radius:2px;
	-moz-border-radius:2px;
}

#progress_container {
	z-index:3;
	background-color:white;
	position:absolute;
	left:0px;
	top:50px;
	width:300px;
	padding-bottom:5px;
	margin-left:35%;
	border-radius:15px;
	-moz-border-radius:15px;
	overflow: hidden;
}

#instance_confirm_action {
	margin-left:28%;
	margin-top: 7%;
	padding-bottom:10px;
}

#instance_progress_image {
	margin-left:13%;
	margin-top: 7%;
}


.instance_confirm_text {
	margin-top: 1%;
	text-align:center;
	display:block;
	font-size:125%;
	word-wrap: break-word;
}

.hot {
	color:red;
	font-weight:bold;
}

#file_name {
	border-right: 0px;
	text-align:right;
}

#file_ext {
	border-top: 1px dashed #BBBBBB;
	border-right: 1px dashed #BBBBBB;
	border-bottom: 1px dashed #BBBBBB;
	padding:3px;
	background-color:#FFC;
}

.line_item {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.main-container {
	min-height:200px;
	height:auto;
}

* html .main-container {
	height:200px;
}
