body.admin-menu.adminimal-menu:before {
  height: auto;
}
#bb-header {
  top: -5px;
  position: relative;
  float: right;
  margin-right: 80px;
  font-size: 70%;
  text-align: right;
  line-height: normal;
}
#bb-sitejob a {
  color: white;
}

.bb-footer-left {
  text-align: left;
  float: left;
}
.bb-footer-right {
  text-align: right;
  float: right;
}

/*display branding bar (breadcrumbs, etc.), printer icon, on contact page*/
.page-civicrm-contact-view #branding {
  display: block;
  min-height: 34px;
}
.page-civicrm-contact-view #branding h1.page-title {
  display: none;
}
.page-civicrm.page-civicrm-contact-view div#printer-friendly {
  top: -6px !important;
  right: 40px !important;
}
