body.page-civicrm.admin-menu.adminimal-menu:before {
  height: auto;
}
#bb-header {
  top: -5px;
  position: relative;
  float: right;
  margin-right: 50px;
  font-size: 70%;
  text-align: right;
  line-height: normal;
}
#bb-sitejob a {
  color: white;
}
.bb-footer-left {
  text-align: left;
  float: left;
}
.bb-footer-right {
  text-align: right;
  float: right;
}
ul#civicrm-menu {
  background: white url(../images/bluebirds.png) no-repeat scroll 98% bottom;
}
.page-civicrm-contact-view .crm-actions-ribbon {
  padding: 10px !important;
}
.page-civicrm #branding {
  position: fixed;
  top: 60px;
  z-index: 1;
  width: 100%;
}
.page-civicrm #page {
  margin-top: 90px;
}
.page-civicrm div#printer-friendly {
  top: 106px !important;
  right: 15px !important;
  z-index: 50;
  position: fixed !important;
}

/*display branding bar (breadcrumbs, etc.), printer icon, on contact page*/
.page-civicrm-contact-view #branding {
  display: block;
  min-height: 34px;
}
.page-civicrm-contact-view #branding h1.page-title {
  display: none;
}
.page-civicrm.page-civicrm-contact-view #page {
  margin-top: 54px;
}

/*contact summary + tabs*/
.bb-contactsummary {
  margin-right: 30px;
  margin-top: 10px;
  font-size: 90%;
  float: right;
  text-align: right;
}
.page-civicrm-contact-view .ui-tabs-panel>div.help {
  padding: 10px !important;
}
.page-civicrm-contact-view #Tag .contact-tagset label {
  float: left;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}
.page-civicrm-contact-view #crm-container div.crm-summary-contactname-block {
  min-height: 56px;
}
.page-civicrm-contact-view .crm-contact-page #mainTabContainer .ui-tabs-panel {
  padding: 10px !important;
}

  /*login*/
.not-logged-in,
.not-logged-in #page {
  background-color: #C9DBD9;
}
.not-logged-in #block-user-login,.not-logged-in form#user-login {
  background: transparent url(../images/login.png) no-repeat top center;
  margin-top: 50px;
  height: 235px;
}
.not-logged-in #block-user-login h2,
.not-logged-in #block-user-login div.item-list,
.not-logged-in #block-user-login .form-required{
  display: none;
}
.not-logged-in #block-user-login div.content {
  width: 230px;
  margin: auto;
  padding-top: 50px;
}
.not-logged-in #block-user-login .form-item {
  margin-bottom: 20px;
}
.not-logged-in #block-user-login label {
  display: block;
  float: left;
  color: white;
  font-size: 110%;
  font-weight: normal;
  width: 40%;
}
.not-logged-in input.form-text {
  border: none;
  width: 120px;
  font-size: 110%;
  float: right;
}
.not-logged-in div.form-actions {
  text-align: right;
  padding-top: 10px;
}
.not-logged-in input.form-submit {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0;
}
