body.page-civicrm.admin-menu.adminimal-menu:before {
  height: auto;
}
#page {
  padding-top: 0;
}
.bb-footer-left {
  text-align: left;
  float: left;
}
.bb-footer-right {
  text-align: right;
  float: right;
}

.page-civicrm #crm-main-content-wrapper {
  background: none !important;
}

ul#civicrm-menu.sm {
  background: #DADAD2 url(../images/bluebirds_55x26.png) no-repeat scroll 97% bottom;
  border-top: 2px solid #393D3F;
}
ul#civicrm-menu.sm ul {
  padding: 0;
}

.page-civicrm-contact-view .crm-actions-ribbon {
  padding: 10px !important;
}
.page-civicrm #branding {
  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
  padding: 10px 0 !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.page-civicrm #page {
  margin-top: 0;
  margin-bottom: 30px !important;
}
.page-civicrm div#printer-friendly {
  top: -6px !important;
  right: -25px !important;
  z-index: 50;
}

#bb-header-title h1.page-title {
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0 40px !important;
  line-height: 50px !important;
  color: rgb(70, 67, 84);
  margin: 0;
}

/*display branding bar (breadcrumbs, etc.), printer icon, on contact page*/
.page-civicrm-contact-view #branding,
.page-civicrm-contact-view:not([class*='page-civicrm-contact-view-']) #branding {
  display: block !important;
  min-height: 34px;
}
.page-civicrm-contact-view #bb-header-title h1.page-title {
  display: none;
}
.page-civicrm.page-civicrm-contact-view #page {
  margin-top: 12px;
  margin-bottom: 66px !important;
}

/*contact summary + tabs*/
.bb-contactsummary {
  margin-right: 30px;
  margin-top: 10px;
  font-size: 0.9em;
  float: right;
  text-align: right;
}
.page-civicrm.page-civicrm-contact-view #crm-container div#printer-friendly {
  color: white;
}
.page-civicrm-contact-view .ui-tabs-panel>div.help {
  padding: 10px !important;
}
.page-civicrm-contact-view #Tag .contact-tagset label {
  float: left;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}
.page-civicrm-contact-view #crm-container div.crm-summary-contactname-block,
.page-civicrm-contact-view:not([class*='page-civicrm-contact-view-']) #crm-container div.crm-summary-contactname-block {
  min-height: 56px;
  padding-top: 0;
}
.page-civicrm-contact-view .crm-contact-page #mainTabContainer .ui-tabs-panel {
  padding: 10px !important;
}

  /*login*/
.not-logged-in,
.not-logged-in #page {
  background-color: #C9DBD9;
}
.not-logged-in #block-user-login,.not-logged-in form#user-login {
  background: transparent url(../images/login.png) no-repeat top center;
  margin-top: 50px;
  height: 235px;
}
.not-logged-in #block-user-login h2,
.not-logged-in #block-user-login div.item-list,
.not-logged-in #block-user-login .form-required{
  display: none;
}
.not-logged-in #block-user-login div.content {
  width: 230px;
  margin: auto;
  padding-top: 50px;
}
.not-logged-in #block-user-login .form-item {
  margin-bottom: 20px;
}
.not-logged-in #block-user-login label {
  display: block;
  float: left;
  color: white;
  font-size: 110%;
  font-weight: normal;
  width: 40%;
}
.not-logged-in input.form-text {
  border: none;
  width: 120px;
  font-size: 110%;
  float: right;
}
.not-logged-in div.form-actions {
  text-align: right;
  padding-top: 10px;
}
.not-logged-in input.form-submit {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0;
}

/*Drupal admin pages*/
.page-admin-people div.breadcrumb {
  display: none;
}
#block-menu-menu-non-admin-drupal-menu {
  position: fixed;
  top: 10px;
  font-size: 120%;
  font-style: italic;
}

/*DASHBOARD*/
#crm-container .column-0 {
  width: 100% !important;
}
#crm-container .column-1 {
  width: 0 !important;
  display: none;
}
#crm-container #dashlets-header-col-0,
#crm-container #existing-dashlets-col-0 {
  width: 100% !important;
}
#crm-container #dashlets-header-col-1,
#crm-container #existing-dashlets-col-1 {
  width: 0 !important;
  display: none;
}

/*Footer*/
#bb-header {
  float: right;
  margin-right: 50px;
  font-size: 0.7em;
  text-align: right;
  line-height: normal;
  color: white;
}
#bb-sitejob a {
  color: white;
}

/*Recent Items - Footer*/
#nyss-recentitems {
  font-size: 0.7em;
  color: white;
  padding-left: 46px;
  width: 70%;
  float: left;
  line-height: normal;
}
#nyss-recentitems-list {
  list-style-type: none;
  margin: 0;
}
#nyss-recentitems-list li {
  display: inline;
  margin-right: 6px;
}
#nyss-recentitems-list li a {
  color: white;
}
