_notes
_compareTemp

#ignore all drupal installation sites and uploads
drupal/upload/*
drupal/sites/*
!drupal/sites/all
!drupal/sites/default

# sublime text files
*.sublime-project
*.sublime-workspace

#eclipse project files
.buildpath
.project
.settings

#bluebird.cfg at root is installation specific
bluebird.cfg*

#user custom
scripts/test.sh
.idea
local/*
.sass-cache
modules/nyss_LCD
civicrm/scripts/lcd.php
scripts/lcd.sh
