#ignore all drupal installation sites and uploads
drupal/data
drupal/sites/*
!drupal/sites/all
!drupal/sites/default

# sublime text files
*.sublime-project
*.sublime-workspace

# Eclipse and IntelliJ project files
.buildpath
.project
.settings
.idea

#bluebird.cfg at root is installation specific
bluebird.cfg*

#user custom
local/*
*.bak
modules/nyss_LCD
civicrm/scripts/lcd.php
scripts/lcd.sh
