# We would normally ignore drupal/sites/, but unlike typical Drupal
# installations, we are not using the sites/ directory for dynamic data.
# Instead, we use a symlink drupal/data that points to the data volume.
drupal/data

# sublime text files
*.sublime-project
*.sublime-workspace

# Eclipse and IntelliJ project files
.buildpath
.project
.settings
.idea

# Config files (ending in .cfg) at the root level are installation specific.
/*.cfg

#user custom
local/*
*.bak
modules/nyss_LCD
civicrm/scripts/lcd.php
scripts/lcd.sh

#civicrm
civicrm/custom/ext/cache
