.slicknav_nav li.menumain {
  float: none;
}

.slicknav_menu {
  display: none;
}

body .slicknav_nav a:hover,
body .slicknav_nav .slicknav_row:hover {
  background-color: #aaa;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

body .slicknav_nav .slicknav_row,
body .slicknav_nav a {
	padding: 10px 10px;
	margin: 0px 5px 0px 2px;
}

@media screen and (max-device-width: 50em), screen and (max-width: 50em) {
  /*overides for civicrm joomla css*/
  ul#civicrm-menu {
    height: auto;
    padding: 0 !important;
  }

  .menumain:not(#crm-qsearch) {
    display: none;
  }
  #civicrm-menu {
    height: auto;
    width: 100% !important;
  }
  #civicrm-menu.crm-slickmenu-open {
    position: absolute !important;
  }
	.slicknav_menu {
		display:block;
	}
  #crm-qsearch {
    width: 75%;
  }
  #civicrm-menu #crm-qsearch input {
    height: 1.9em;
    margin-top: .65em;
    margin-left: .5em;
    width: 100% !important;
    border-radius: 2px;
    padding-left: .5em;
    background-position: right -22px;
  }
  #root-menu-div div.outerbox {
    margin-top: 18px !important;
  }
  #civicrm-menu li a {
    display: inline-block;
    border-bottom: 1px solid #595959;
    width: 97%;
  }
  #civicrm-menu li a a {
    display: inline-block;
    border-bottom: none;
    width: auto;
  }
}
/* Fix for CiviCRM < 4.7.13 */
#civicrm-menu #crm-qsearch {
  background: transparent !important;
  border-right: 0;
}

/* WordPress compatibility */
@media screen and (max-device-width: 50em), screen and (max-width: 50em) {
  body.wp-admin .slicknav_menu {
    padding: 0;
  }
  body.wp-admin .slicknav_btn {
    margin: 5px 5px 5px 0;
  }
  body.wp-admin #civicrm-menu #crm-qsearch input {
    margin-top: 5px;
  }
  html>body.wp-admin #root-menu-div div.outerbox:first-child {
    margin-top: 10px !important;
  }
}

/* The WordPress admin menu uses this breakpoint */
@media screen and (max-width: 782px) {
  /* Expose the WordPress hamburger to navigate away from CiviCRM */
  body.wp-admin #civicrm-menu {
    width: 92% !important;
    width: -webkit-calc(100% - 52px) !important;
    width: -moz-calc(100% - 52px) !important;
    width: calc(100% - 52px) !important;
    left: 8%;
    left: -webkit-calc(52px) !important;
    left: -moz-calc(52px) !important;
    left: calc(52px) !important;
  }
  body.wp-admin .slicknav_menu {
    min-height: 46px;
  }
  body.wp-admin .slicknav_btn {
    margin-top: 7px;
  }
  body.wp-admin #civicrm-menu #crm-qsearch {
    padding: 0 !important;
    width: 92% !important;
    width: -webkit-calc(100% - 70px) !important;
    width: -moz-calc(100% - 70px) !important;
    width: calc(100% - 70px) !important;
  }
  body.wp-admin #civicrm-menu #crm-qsearch input {
    margin-top: 7px;
    width: 84% !important;
  }
  html>body.wp-admin #root-menu-div div.outerbox:first-child {
    margin-top: 12px !important;
  }
}
