/* Main CSS for Report Template */

html, body {
  font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin:0px;
  padding:0px;
}

.header {
  color:white;
  background-color:#457AA4;
}

.header h1 {
  padding:5px 5px;
  margin:0px;
}

.sub-header h3 {
  margin: 0px;
  padding: 10px;
  background-color: #DDD;
}

.content {
  margin: 10px;
}

h3, h4, h5 {
  color:#435263;
}

h4.contrast {
  margin-bottom: 0px;
  background: #0495CC;
  padding: 5px;
  color: white;
}

p, label, a {
  font-size:14px;
}

a {
  color:#1C5F8A;
}

.border-right{
  border-right:1px solid #777;
}

hr {
  border:1px solid #999;
  border-style: solid none none none;
}

table {
  border-spacing:0px;  
  font-size:14px;
}

.district-view {
  display:none;
}

#detail_load_text{
  font-size:18px;
  font-weight:bold;
  color:#333;
}

/* ---------------------- 
       Datatable CSS 
   ----------------------
*/
table.datatable {
  border: 1px solid #777;
}

table.datatable th {
  color:#444;
}

table.datatable td {
  padding: 5px 10px;
  border-bottom:1px solid #CCC;
}

table.datatable tr.odd{
  background-color:#EEE !important;
}
table.datatable tr.even {
  background-color:#FFF !important;
}

table.datatable tr.odd:hover {
  background-color: #B3DFFF !important;
}

table.datatable tr.even:hover {
  background-color: #B3DFFF !important;
}

table.datatable tr.odd:hover td.sorting_1{
  background-color:#8FC9F2 !important;
}
table.datatable tr.even:hover td.sorting_1 {
  background-color:#8FC9F2 !important;
}

table.datatable tr.odd td.sorting_1{
  background-color:#EEE !important;
}
table.datatable tr.even td.sorting_1 {
  background-color:#FFF !important;
}

.dataTables_info {
  font-size:14px;
}

.datatables_filter, .dataTables_paginate, .dataTables_info {
  margin-bottom:5px;
  margin-top:5px;
}

.quick-stats {
  border:1px solid #777;  
}

.quick-stats p {
  margin:8px;
  color:#333;
}

/* ---------------------- 
       Pie Chart CSS 
   ----------------------
*/
.pie-chart {
  min-width: 350px; 
  height: 350px; 
  margin: 0 auto;
  width:700px;
}

.pie-chart.active {
  display:block;
}

.pie-chart.inactive {
  display:none;
}

/*! jQuery UI - v1.9.2 - 2013-01-17
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.tabs.css
* Copyright (c) 2013 jQuery Foundation and other contributors Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{zoom:1}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}.ui-tabs{position:relative;padding:.2em;zoom:1}.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0}.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:1px .2em 0 0;border-bottom:0;padding:0;white-space:nowrap}.ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none}.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px;padding-bottom:1px}.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-tabs-loading a{cursor:text}.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{cursor:pointer}.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:none}

/* JQuery Tabs Overrides */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #0495CC !important;  
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a span{
  color: white !important;  
}

.ui-tabs .ui-tabs-nav {
  border-bottom: 5px solid #0495CC;
  padding:0px !important;  
}

.ui-tabs .ui-tabs-panel {
  padding: 0px !important;
}

.ui-tabs .ui-tabs-nav li {
  font-size:16px !important;
  font-weight:bold !important;
  color:#1C5F8A;
  background:#DDD;  
}

.ui-tabs .ui-tabs-nav li a {
  outline:none !important;
}
