#mainTabContainer ul.token-input-list-facebook, #tagSelect ul.token-input-list-facebook {
  width: 310px;
}
#mainTabContainer div#Tag .tag-section, #tagSelect .tag-section {
  float: right;
  margin-right: 50px;
  width: 310px;
}
#crm-container div.form-item .BBtree *, #crm-container .crm-form-block .BBtree * {
	text-align:left; float:left; font-size: 1em; padding:0px;
}
#crm-container div.form-item .BBtree * dl, #crm-container .crm-form-block .BBtree * dl {
	padding-left:10px;
}
#crm-container div.form-item .BBtree* dt, #crm-container .crm-form-block .BBtree * dt {
	width:auto;
	min-width:0;
	display:inline;
	line-height:18px;
}
.BBtree.ui-dialog-content{
	font-size:95%;
}
.BBtree.edit {
	width:335px;
	padding:10px;
	line-height:150%;
	overflow-x:hidden;
	overflow-y:scroll;
	height:580px;
	background-color:#fff;
	
}
.BBtree.modal {
	height:95%;
}
.BBtree.hidden {
	display:none;
}
.BBtree.edit.tab {
	width:336px;
}

.BBtree.edit.manage {
	width: 455px;
	float:left;
}
* .BBtree dl {
	margin: 0; padding-left:25px; width:250px;

}
.BBtree dt .fCB {display:none;}
.BBtree dt:hover .fCB {display:inline;}
.BBtree.ui-dialog-content dt:hover .fCB {display:none;}
.BBtree dt .treeButton {
	 background: url("/sites/default/themes/rayCivicrm/nyss_skin/images/icons-3e3e3e.png") no-repeat -32px -15px;
	 height:16px; width:15px; float:left; margin:0px 5px 0 0px;
}
.BBtree.manage dt .treeButton {
	margin:0px 5px 0 -5px;
}
.BBtree.loadingGif {
	 background: url("/sites/default/themes/rayCivicrm/images/loading.gif") no-repeat scroll center white;
}
.BBtree dl.lv-0 {
	float:left;
}
.BBtree dt.lv-0 .treeButton {
	background-position: -32px -15px;
}
.BBtree dt.lv-0.open .treeButton {
	background-position: -64px -15px;
}
.BBtree dt div.treeButton.open {
	background-position:-64px -15px;
}
.BBtree.edit dt div.treeButton.stub {
	background: url("/sites/default/themes/rayCivicrm/nyss_skin/images/fcb.png") no-repeat -81px 6px; cursor:default; margin-left:4px; margin-right:3px;
}
.BBtree.manage dt div.treeButton.stub {
	 background: url("/sites/default/themes/rayCivicrm/nyss_skin/images/fcb.png") no-repeat -81px 6px; cursor:default; margin-left:-2px; margin-right:-3px;
}
.BBtree.tab dt div.treeButton.stub, .BBtree.modal dt div.treeButton.stub  {
	 background: url("/sites/default/themes/rayCivicrm/nyss_skin/images/fcb.png") no-repeat -81px 6px; cursor:default; margin-left:4px; margin-right:1px;
}

.BBtree dt div.tag {
	width:150px;
	padding-left:20px;
}
.BBtree.manage dt div.tag {
	width:170px;
}
.BBtree dt {
	cursor:pointer;padding-left:5px;font-weight:normal;font-size:12px; line-height:18px; clear:both;
}
.BBtree.manage.edit dt {
	margin-bottom:-18px\9; 
}
.BBtree.manage.edit dt.lv-0 {
	margin-bottom:0px\9; 
}
.BBtree dt.lv-0 {
	font-weight:bold;
}
.BBtree.edit dt.subChecked {
	background-color: #F1F8EB;
	border: 1px dashed #B0D730;
	margin: -1 -1px 0px;
}
.BBtree.edit dt.checked {
	background-color: #F1F8EB;
	border: 1px solid #B0D730;
	margin: 0 -1px -1px;
}
.BBtree dt:hover, .BBtree dt.subChecked:hover, .BBtree dt.checked:hover {
	background-color:#DEDEDE;
}
.BBtree.tab dt, .BBtree.manage dt {
	position:relative;
}
.BBtree.tab .fCB, .BBtree.manage .fCB{
	position:absolute;
	right:0px;
	top:0px;
}
.BBtree .fCB {
	margin-top:0px;
}
/*.BBtree.tab .fCB, .BBtree.manage .fCB {
	margin-top:-18px;
}
.BBtree.tab .fCB {
	margin-top:-24px\9;
}*/
.ui-dialog-content.BBtree .fCB {
	margin-top:-30px;
}
.BBtree .fCB ul{
margin:0;
}
.BBtree .fCB li, div.block-civicrm .BBtree .fCB li, #crm-container .BBtree .fCB li{
	list-style-type:none;
	background: url('/sites/default/themes/rayCivicrm/nyss_skin/images/fcb.png') transparent no-repeat;
}
.BBtree.edit .fCB .checkbox{
	top: .25em\9; margin-left:2px\9;
}
.BBtree.edit.tab .fCB .checkbox{
	top: .5em\9;
}
.BBtree.modal input[type=radio]{
	float:right; margin-top:-15px; margin-top:-18px\9;
}
/*adjust the following to choose the default open portion for the drop-down*/
.BBtree dl.lv-2, .BBtree dl.lv-3, .BBtree dl.lv-4, .BBtree dl.lv-5, .BBtree dl.lv-6 {
	display:none;
}
/*this will remove check boxes from individual levels*/
.BBtree dl.lv-0{
	width:320px !important;
}
.BBtree.manage dl.lv-0{
	margin-left:-25px;
}
.BBtree.edit dt.lv-0{
	width:295px !important;
}
.BBtree.edit.tab dl.lv-0{
	margin-left:-35px;
}
.BBtree.edit dl.lv-1{
	width:285px !important;
}
.BBtree.edit dt.lv-1{
	width:285px !important;
}
.BBtree.edit dl.lv-2{
	width:275px !important;
}
.BBtree.edit dt.lv-2{
	width:275px !important;
}
.BBtree.edit dl.lv-3{
	width:265px !important;
}
.BBtree.edit dt.lv-3{
	width:265px !important;
}
.BBtree.edit dl.lv-4{
	width:255px !important;
}
.BBtree.edit dt.lv-4 {
	width:255px !important;
}
.BBtree.edit dl.lv-5{
	width:245px !important;
}
.BBtree.edit dt.lv-5{
	width:245px !important;
}
.BBtree.tab dt.lv-0{
	width:335px !important;
}
.BBtree.tab dl.lv-0{
	width:340px !important;
	margin-left:-35px;
}
.BBtree.tab dl.lv-1{
	width:315px !important;
}
.BBtree.tab dt.lv-1{
	width:310px !important;
}
.BBtree.tab dl.lv-2{
	width:290px !important;
}
.BBtree.tab dt.lv-2{
	width:285px !important;
}
.BBtree.tab dl.lv-3{
	width:265px !important;
}
.BBtree.tab dt.lv-3{
	width:260px !important;
}
.BBtree.tab dl.lv-4{
	width:240px !important;
}
.BBtree.tab dt.lv-4 {
	width:235px !important;
}
.BBtree.tab dl.lv-5{
	width:215px !important;
}
.BBtree.tab dt.lv-5{
	width:205px !important;
}
.BBtree.manage dt.lv-0{
	width:420px !important;
}
.BBtree.manage dl.lv-1{
	width:400px !important;
}
.BBtree.manage dt.lv-1{
	width:395px !important;
}
.BBtree.manage dl.lv-2{
	width:375px !important;
}
.BBtree.manage dt.lv-2{
	width:370px !important;
}
.BBtree.manage dl.lv-3{
	width:350px !important;
}
.BBtree.manage dt.lv-3{
	width:345px !important;
}
.BBtree.manage dl.lv-4{
	width:325px !important;
}
.BBtree.manage dt.lv-4 {
	width:320px !important;
}
.BBtree.manage dl.lv-5{
	width:300px !important;
}
.BBtree.manage dt.lv-5{
	width:295px !important;
}
.BBtree. dl.lv-0{
	width:300px;
}
.BBtree dl.lv-1{
	width:275px;
}
.BBtree dl.lv-2{
	width:250px;
}
.BBtree dl.lv-3{
	width:225px;
}
.BBtree dl.lv-4{
	width:200px;
}
.BBtree dt.lv-4 div.tag {
	width:145px;
}
.BBtree dl.lv-5{
	width:175px;
}
.BBtree dt.lv-5 div.tag {
	width:120px;
}	
.crm-tagListInfo {
	padding:15px;
	float:left;
}
.tagInfoBody {
	margin-top:15px;
}
.tagInfoBody div {
	margin-top:2px;
	line-height:24px;
}