* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 83.69231em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 768px) {
  }

#page {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 83.69231em; }
  #page:before, #page:after {
    content: " ";
    display: table; }
  #page:after {
    clear: both; }
  @media screen and (max-width: 83.69231em) {
    #page {
      width: auto; } }

.no-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%; }
  .no-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .no-sidebars #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .no-sidebars #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-second #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%; }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-second #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 74.19355%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-second #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-first #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 82.97872%;
  margin-left: 17.02128%; }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-first #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 61.29032%;
      margin-left: 25.80645%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-first #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
.two-sidebars #content {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 57.44681%;
  margin-left: 17.02128%; }
  .two-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .two-sidebars #content {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 48.3871%;
      margin-left: 25.80645%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .two-sidebars #content {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }

#sidebar-first {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 14.89362%;
  margin-left: -76.59574%; }
  #sidebar-first:last-child {
    margin-right: 0; }
  .sidebar-first #sidebar-first {
    margin-left: -102.12766%; }
  @media screen and (max-width: 768px) {
    #sidebar-first {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 22.58065%;
      margin-left: -77.41935%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: -90.32258%; } }
  @media screen and (max-width: 480px) {
    #sidebar-first {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: 0%; } }

#sidebar-second {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-left: 0%; }
  #sidebar-second:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #sidebar-second {
      display: block;
      float: left;
      margin-right: 3.22581%;
      width: 22.58065%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    #sidebar-second {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }

#footer {
  float: none;
  clear: both; }

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both; }

.inner {
  padding: 0; }

#navigation li {
  list-style-type: none;
  display: inline-block; }
