@font-face {
  font-family: "FreightText Book";
  src: url(freighttext-book.woff);
}

body {
  margin: 0;
  font-family: "adelle", serif;
  font-size: 13px;
  letter-spacing: 0.03em;
  background-color: white;
  line-height: 200%;
}

a:link, a:visited {
  color: blue;
  text-decoration: none; }

a:hover, a:active {
  color: red;
  text-decoration: underline; }

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1em 0; }

ul, ol {
  margin-left: 0;
  padding-left: 0; }

table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  margin-bottom: 10px;
}

div.nyss-logo {
  max-width: 960px;
  padding: 20px 0;
  margin: 0 auto;
  border-bottom: 1px solid #AAAAAA;
  font-size: 22px;
  font-family: "FreightText Regular";
  color: #444444;
}
div.nyss-logo::before {
  content: "";
  background: url(../images/nys_logo_header240x240.jpg) no-repeat top left;
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 83.69231em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 768px) {
  }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 83.69231em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 768px) {
  }

#crm-container div.crm-title {
  margin-bottom: 0;
}
div.crm-title h1.title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "adelle", serif;
  font-weight: 600;
}
div.nyss-senator {
  font-size: 2.5em;
  color: #444444;
  line-height: 150%;
  margin-bottom: 15px;
}
div.nyss-intro {
  background-color: #2B6A90;
  padding: 20px;
  font-size: 1.3em;
  line-height: 150%;
  margin-bottom: 25px;
  color: white;
}
div.nyss-intro p {
  margin-bottom: 0;
}
div.nyss-intro div.display_name {
  color: white;
}
div.display_name {
  color: #444444;
  font-size: 2em;
  margin: 20px 0;
}
div.emails {
  padding: 10px;
  border: none;
}
div.nyss-email-label {
  float: left;
  width: 30%;
  color: #444444;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0 5px;
}
div.nyss-email-label.wide {
  width: 40%;
}
div.nyss-email-row {
  clear: both;
  padding-top: 25px;
  border-top: none;
}
div.nyss-email-fld {
  float: left;
  width: 60%;
  font-size: 1.2em;
}
div.nyss-email-fld.wide {
  width: 40%;
}
div.nyss-email-fld input.form-checkbox {
  margin-right: 8px;
  margin-bottom: 8px;
}
div.nyss-key {
  padding-top: 5px;
  padding-bottom: 8px;
  line-height: 130%;
}
div.nyss-email-fld input {
  margin-right: 8px;
}
div.notes {
  margin-top: 20px;
}
div.notes span.label {
  display: block;
  color: #036;
  font-size: 1.5em;
  margin-bottom: 10px;
}
div.nyss-buttons {
  margin: 20px 0;
}
div.nyss-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #2B6A90;
  color: white;
}
.crm-container div.nyss-buttons input.form-submit {
  font-size: 1.4em;
  padding: 4px 8px;
  background-color: #F1AF58;
  color: white;
  border: none;
}
.crm-container div.nyss-buttons input.form-submit:hover {
  background-color: #CB8D37;
}
div.nyss-mailing-subscriptions,
div.crm-title {
  padding: 0 6px;
}
div.nyss-buttons input {
  background-color: #2B6A90;
  padding: 20px 30px;
  color: #eee;
  border: none;
  font-size: 1.4em;
}
div#printer-friendly {
  display: none;
}
