/* CSS rules for Angular module "contactlayout" */

#bootstrap-theme #contactLayoutEditor .panel-body {
  min-height: 600px;
  padding: 0;
}
#bootstrap-theme #contactLayoutEditor .panel-inner {
  width: 100%;
  overflow-y: auto;
  height: 100%;
  padding: 15px 20px;
}

/* Fix weird shorditch style */
#bootstrap-theme #contactLayoutEditor .panel-heading {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
  height: 50px;
}

#bootstrap-theme #contactLayoutEditor .panel-heading .btn-group {
  top: -8px;
}
#bootstrap-theme #contactLayoutEdit .panel-heading .btn-group {
  top: -6px;
}
#bootstrap-theme #contactLayoutEditor .panel-heading .btn {
  padding: 7px 13px;
  border-color: white;
}
#bootstrap-theme #contactLayoutEditor .panel-heading .btn i {
  margin-right: 4px;
}
#bootstrap-theme #contactLayoutEditor .panel-heading .panel-title form {
  position: relative;
  top: -3px;
}

#bootstrap-theme #contactLayoutEditor .alert {
  padding: 10px;
  margin: 0;
}

#bootstrap-theme #contactLayoutEditor .cse-layout-item {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 3px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  position: relative;
}

#bootstrap-theme #contactLayoutEditor .cse-layout-system-default {
  border-radius: 4px;
  font-style: italic;
  cursor: pointer;
}

#bootstrap-theme #contactLayoutEditor h4.cse-layout-item-title {
  font-weight: 600;
  margin: 7px 0;
}

#bootstrap-theme #contactLayoutEditor .cse-item-selected {
  background-color: #a2d2f3;
  border-color: #0071bd;
}
#bootstrap-theme #contactLayoutEditor .navbar {
  border-radius: 0;
  margin: 0;
}
#bootstrap-theme #contactLayoutEditor .navbar select {
  width: 13em;
}
#bootstrap-theme #contactLayoutEditor .navbar input.form-control {
  width: 20em;
}

#contactLayoutLayouts {
  margin-right: 10px;
}
#cse-rows .cse-col {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.cse-block-container-editable #cse-rows .cse-col {
  min-height: 50px;
}
.cse-block-container-editable #cse-rows .cse-row:first-child .cse-col {
  min-height: 200px;
}
#cse-rows .cse-drop {
  width: 100%;
  height: 100%;
  padding: 22px 5px 0;
}
#cse-block-container > div:first-child,
#cse-block-container > div:last-child {
  margin: 0;
}
.cse-block-container-editable .cse-col {
  border: 2px dashed #adadad;
  background-color: #f8f8f8;
}
#cse-rows .cse-add-col,
#cse-rows .cse-add-row {
  display: block;
  flex: none;
  border: 2px dashed grey;
  width: 20px;
  height: 20px;
  color: grey;
  margin-right: 8px;
  text-align: center;
  line-height: 1.3;
}

#cse-block-container #cse-palette-col > h4 {
  padding: 11px 10px;
  border-radius: 2px 2px 0 0;
  margin: 0;
  background-color: #0071bd;
  color: white;
  font-weight: 600;
  position: relative;
}
#cse-block-container #cse-palette-col > h4 .btn-group {
  position: relative;
  top: -5px;
}
#cse-block-container #cse-palette-col > h4 .btn {
  padding: 3px 8px;
  border-color: white;
}
#cse-block-container #cse-palette {
  color: #333;
  background-color: lightgrey;
  border-radius: 0 0 2px 2px;
  border: 1px solid #0071bd;
  padding: 2px 4px;
  min-height: 200px;
}
#cse-block-container .cse-block {
  border-radius: 4px;
  border: 2px solid #0071bd;
  position: relative;
  background-color: white;
  margin-bottom: 14px;
  margin-top: 2px;
  min-height: 28px;
}
#cse-block-container .cse-block .cse-block-buttons,
#cse-rows .cse-remove-col {
  position: absolute;
  right: 3px;
  top: 3px;
}
#cse-block-container .btn-group-xs .btn,
#cse-block-container .btn-xs {
  border: 0 none;
}
#cse-block-container .cse-block-buttons button,
#cse-rows button.cse-remove-col,
#cse-block-container .cse-add-row,
#cse-block-container .cse-add-col {
  opacity: .6;
}
#cse-block-container .cse-block-buttons button:hover,
#cse-rows button.cse-remove-col:hover,
#cse-block-container .cse-add-row:hover,
#cse-block-container .cse-add-col:hover {
  opacity: 1;
}
#cse-block-container .cse-block h5 {
  color: #0071bd;
  top: -18px;
  left: 8px;
  margin: 5px 0;
}
#cse-block-container .cse-layout-col .cse-block h5 {
  padding: 0 3px;
  position: absolute;
  background: white linear-gradient(to bottom, #f8f8f8 0%,#f8f8f8 50%,#fff 65%,#fff 100%);
}
#contactLayoutEditor .crm-editable-enabled,
#contactLayoutEditor .cse-tab-title {
  display: inline-block;
  padding: 0 !important;
  border: 2px solid transparent !important;
}
#contactLayoutEditor .crm-editable-enabled:hover:not(:focus) {
  border: 2px dashed grey !important;
}
#contactLayoutEditor .crm-editable-enabled:before,
#contactLayoutEditor .crm-editable-enabled:after {
  content: '';
  display: none;
}
#cse-block-container .cse-block h5 [contenteditable]:focus {
  cursor: text;
  background: white;
}
#cse-block-container .cse-layout-col .cse-block:not(.collapsible):not(.show-title) h5 {
  font-weight: normal;
  color: grey;
}
#cse-block-container .cse-block-sample {
  margin-left: 8px;
  margin-bottom: 4px;
}
#cse-block-container .cse-block-sample p {
  color: grey;
  font-size: 10px;
  padding: 1px;
  margin: 0;
}
#cse-block-container #cse-palette .cse-block {
  border: 1px solid #0071bd;
  margin-bottom: 6px;
  margin-top: 6px;
}
#cse-block-container .cse-block .cse-block-collapsible-toggle {
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 2px;
}
#cse-block-container .cse-block .cse-block-collapsible-toggle button {
  background: transparent;
}
#cse-block-container .cse-block .cse-block-collapsible-toggle button:active,
#cse-block-container .cse-block .cse-block-collapsible-toggle button:focus {
  background-color: rgba(88, 183, 209, 0.7);
}
#cse-block-container .cse-block .cse-block-collapsible-toggle button:hover {
  background-color: #58b7d1;
}
#cse-block-container .cse-block .cse-block-collapsible-toggle button span span:last-child {
  text-transform: none;
  color: white;
}
#cse-block-container #cse-palette .cse-block .cse-block-sample,
#cse-block-container #cse-palette .cse-block .cse-block-collapsible-toggle,
#cse-block-container .cse-block.collapsed .cse-block-sample,
#cse-block-container #cse-palette .cse-block .form-inline {
  display: none;
}
#cse-block-container #cse-palette .cse-block h5 {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 500;
}
#cse-block-container #cse-palette .invalid-block {
  cursor: not-allowed;
}
#cse-block-container #cse-palette .invalid-block h5 {
  color: grey;
  text-decoration: line-through;
}
#cse-block-container .cse-layout-col .block-multiple:not(.collapsed) {
  margin-bottom: 40px;
}
#cse-block-container .cse-layout-col .block-multiple:not(.collapsed):after {
  display: block;
  position: absolute;
  bottom: -28px;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: white;
  height: 24px;
  margin: 0 -2px;
  width: calc(100% + 4px);
  padding-left: 8px;
  padding-top: 2px;
  color: grey;
  font-size: 11px;
  box-sizing: border-box;
}

#cse-tabs-container {
  padding-left: 6px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background: lightgrey;
}

#cse-tabs-container .cse-tab {
  display: inline-block;
  position: relative;
  padding: 1px 15px 0 8px;
  border-radius: 4px;
  border: 2px solid #0071bd;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 12px;
  height: 30px;
  background-color: #f8f8f8;
}
#cse-tabs-container .cse-tab[data-tab-id=summary] {
  background-color: #a2d2f3;
  padding-right: 8px;
}
#cse-tabs-container .cse-tab.cse-tab-disabled {
  background-color: #bdbdbd;
}
#cse-tabs-container .cse-tab.cse-tab-disabled .cse-tab-title {
  text-decoration: line-through;
}
#cse-tabs-container .cse-tab-icon {
  margin-right: -4px;
}
#cse-tabs-container .cse-tab-icon i {
  padding-left: 2px;
  padding-right: 2px;
}
#cse-tabs-container .cse-tab-toggle {
  color: inherit;
  position: absolute;
  font-size: 10px;
  top: -1px;
  right:  3px;
  opacity: .5;
}
#cse-tabs-container .cse-tab:hover .cse-tab-toggle {
  opacity: 1;
}
#cse-tabs-container .cse-tab.ui-sortable-helper {
  padding-right: 0;
}
#cse-tabs-container .cse-tab .fa-arrows {
  cursor: move;
}

/* Relationship dialog styles */
.crm-container .contactlayout__relatioonship-dialog .select2-container {
  min-width: calc(100% - 30px);
}

.contactlayout__relatioonship-dialog__illustration {
  align-items: center;
  color: gray;
  display: flex;
  margin-top: 2em;
  text-align: center;
}

.contactlayout__relatioonship-dialog__illustration__contact {
  align-self: flex-start;
  width: 30%;
}

.contactlayout__relatioonship-dialog__illustration__relationship-type {
  position: relative;
  top: 5px;
  width: 40%;
}

.contactlayout__relatioonship-dialog__illustration__relationship-type .fa {
  font-size: 1.5em;
  position: relative;
  top: 3px;
}

.contactlayout__relatioonship-dialog__illustration__relationship-type small {
  padding: 0 5px;
}
