/* Style rules for Api4 Explorer */

#bootstrap-theme.api4-explorer-page .panel-heading {
  height: 50px;
}
#bootstrap-theme.api4-explorer-page .explorer-params-panel .panel-heading {
  padding-top: 12px;
}
#bootstrap-theme.api4-explorer-page .explorer-params-panel .panel-heading button {
  position: relative;
  top: -5px;
}
#bootstrap-theme.api4-explorer-page .row .panel-body {
  min-height: 400px;
  overflow-x: auto;
}
#bootstrap-theme.api4-explorer-page .row .explorer-help-panel .panel-body {
  max-height: 400px;
  overflow: auto;
}
/* Fix weird shorditch style */
#bootstrap-theme.api4-explorer-page .row .panel-heading {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}
#bootstrap-theme.api4-explorer-page .explorer-code-panel table td:first-child {
  width: 5em;
}
/* Collapsible optgroups for select2 */
div.select2-drop.collapsible-optgroups-enabled .select2-result-with-children:not(.optgroup-expanded) > .select2-result-sub > li.select2-result {
  display: none;
}
div.select2-drop.collapsible-optgroups-enabled .select2-result-with-children > .select2-result-label:before {
  font-family: FontAwesome;
  content: "\f0da";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: normal;
}
div.select2-drop.collapsible-optgroups-enabled .select2-result-with-children.optgroup-expanded > .select2-result-label:before {
  content: "\f0d7";
}
