<?xml version="1.0" encoding="iso-8859-1" ?>
<menu>
  <item>
     <path>civicrm/imap/mapper</path>
     <title>IMAP Mapper</title>
     <page_callback>CRM_IMAP_Page_Mapper</page_callback>
     <access_arguments>access CiviCRM</access_arguments>
  </item>
    <item>
     <path>civicrm/imap/activities</path>
     <title>Activities</title>
     <page_callback>CRM_IMAP_Page_Activities</page_callback>
     <access_arguments>access CiviCRM</access_arguments>
  </item>
  <item>
     <path>civicrm/imap/ajax/message</path>
     <page_callback>CRM_IMAP_AJAX::getMessageDetails</page_callback>
     <access_arguments>access CiviCRM</access_arguments>
  </item>
  <item>
     <path>civicrm/imap/ajax/deleteMessage</path>
     <page_callback>CRM_IMAP_AJAX::deleteMessage</page_callback>
     <access_arguments>access CiviCRM</access_arguments>
  </item>

  <item>
    <path>civicrm/imap/ajax/contacts</path>
    <page_callback>CRM_IMAP_AJAX::getContacts</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/imap/ajax/unmatchedMessages</path>
    <page_callback>CRM_IMAP_AJAX::getUnmatchedMessages</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/imap/ajax/assignMessage</path>
    <page_callback>CRM_IMAP_AJAX::assignMessage</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/imap/ajax/getMatchedMessages</path>
    <page_callback>CRM_IMAP_AJAX::getMatchedMessages</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
   <item>
    <path>civicrm/imap/ajax/activityDetails</path>
    <page_callback>CRM_IMAP_AJAX::getActivityDetails</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
   <item>
    <path>civicrm/imap/ajax/deleteActivity</path>
    <page_callback>CRM_IMAP_AJAX::deleteActivity</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/imap/ajax/createNewContact</path>
    <page_callback>CRM_IMAP_AJAX::createNewContact</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
  <item>
    <path>civicrm/imap/ajax/unproccessedActivity</path>
    <page_callback>CRM_IMAP_AJAX::unproccessedActivity</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
    <item>
    <path>civicrm/imap/ajax/getTags</path>
    <page_callback>CRM_IMAP_AJAX::getTags</page_callback>
    <access_arguments>access CiviCRM</access_arguments>
  </item>
</menu>