<div class="civitutorial-step">
  <h5 class="civitutorial-step-title">
    <div class="civitutorial-step-icon"><% if(icon) { %><i class="crm-i <%= icon %>"></i><% } %></div>
    <div contenteditable="true" class="crm-editable-enabled" placeholder="<%- ts('No title') %>" name="title"><%= title %></div>
    <i class="crm-i fa-window-close-o civitutorial-step-remove"></i>
  </h5>
  <div class="civitutorial-step-content">
    <div>
      <textarea name="content" class="crm-form-textarea"><%= content %></textarea>
    </div>
    <div>
      <label><%- ts('Element') %> <span class="crm-marker">*</span></label>
      <input name="target" class="crm-form-text twenty" value="<%= target %>" required />
      <div class="description"><%- ts('Click to select page element.') %></div>
    </div>
    <div>
      <label><%- ts('Placement') %> <span class="crm-marker">*</span></label>
      <select name="placement" class="crm-form-select" required >
        <option value="top" <% if (placement == "top") { %> selected="selected" <% } %>><%- ts('Top') %></option>
        <option value="bottom" <% if (placement == "bottom") { %> selected="selected" <% } %>><%- ts('Bottom') %></option>
        <option value="left" <% if (placement == "left") { %> selected="selected" <% } %>><%- ts('Left') %></option>
        <option value="right" <% if (placement == "right") { %> selected="selected" <% } %>><%- ts('Right') %></option>
      </select>
    </div>
    <div>
      <label><%- ts('Icon') %></label>
      <input name="icon" class="crm-form-text crm-icon-picker" allowclear="1" value="<%= icon %>" />
      <a class="crm-hover-button crm-clear-link" <% if(!icon) { %>style="visibility:hidden;"<% } %>><i class="crm-i fa-times"></i></a>
    </div>
  </div>
</div>
