<div class="civicase__activity-card civicase__activity-card--big">
  <div class="panel panel-default" ng-click="viewInPopup($event, activity)" ng-if="activity">
    <div class="panel-body">
      <div class="civicase__activity-card-row civicase__activity-card-row--first clearfix">
        <span ng-if="activity.icon || activity.category.indexOf('milestone') > -1" class="pull-left" activity-icon="activity"></span>
        <div class="civicase__activity__right-container">
          <!-- Attachments to show for milestones-->
          <div class="btn-group civicase__activity-attachment__container" ng-if="activity.file_id">
            <i ng-mouseover="getAttachments(activity)" class="civicase__activity-attachment__icon material-icons">attach_file</i>
            <ul class="dropdown-menu">
              <li ng-if="!activity.attachments || !activity.attachments.length" class="civicase__activity-attachment-load">
                <span>
                  <i class="civicase__activity-attachment-load-icon text-primary material-icons">loop</i> &nbsp;{{ ts('Loading...') }}
                </span>
              </li>
              <li ng-repeat="file in activity.attachments || []">
                <a class="civicase__activity-attachment__file-name"
                  title="{{ file.description || ts('Download File') }}"
                  href="{{ file.url }}">
                  <i class="civicase__activity-attachment__file-icon crm-i {{ file.icon }}"></i> &nbsp;{{ file.name }}
                </a>
              </li>
              <li ng-if="activity.attachments.length" role="separator" class="divider"></li>
              <li ng-if="activity.attachments.length">
                <a class="civicase__activity-attachment__file-name"
                  ng-href="{{ 'civicrm/case/activity/download-all-files' | civicaseCrmUrl:{ activity_ids: activity.id } }}">
                  <i class="civicase__activity-attachment__file-icon crm-i fa-download"></i> &nbsp;Download all
                </a>
              </li>
            </ul>
          </div>
          <!-- End - Attachments -->
          <!-- Stars -->
          <a ng-click="toggleActivityStar($event, activity)" href ng-if="activity.is_star" title="{{ activity.is_star === '0' ? ts('Add star') : ts('Unstar') }}" class="civicase__activity-star__container">
            <i ng-if="activity.is_star === '0'" class="civicase__activity-star material-icons">star_border</i>
            <i ng-if="activity.is_star === '1'" class="civicase__activity-star active material-icons">star</i>
          </a>
          <!-- End - Rating -->
          <!-- Contact icons -->
          <span
            ng-if="activity.assignee_contact_name"
            civicase-contact-card
            avatar="true"
            case-id="activity.case_id"
            contacts="activity.assignee_contact_name"
          ></span>
          <!-- End contact icons -->
          <!-- 3 dot menu -->
          <div ng-include="'~/civicase/activity/card/directives/activity-card-menu.html'"></div>
          <!-- end of 3 dot menu -->
        </div>
      </div>
      <!-- Activity Body -->
      <div class="civicase__activity-card-inner">
        <!-- Top section -->
        <div class="civicase__activity-card-row">
        <!-- Task - Checkbox -->
          <div
            ng-if="activity.category.indexOf('task') > -1"
            class="civicase__checkbox"
            title="{{ activity.is_completed ? ts('Mark incomplete') : ts('Mark complete') }}"
            ng-click="markCompleted(activity); $event.stopPropagation();" role="checkbox" aria-checked="{{activity.is_completed}}" tabindex="0" aria-labelledby="Mark complete/incomplete">
            <i ng-if="activity.is_completed" class="civicase__checkbox--checked material-icons">check_box</i>
          </div>
        <!-- End - Task - Checkbox -->
          <civicase-tooltip
            tooltip-text="civicaseTs(activity.type)">
            <span
              class="civicase__tooltip__ellipsis civicase__activity-type"
              ng-class="{'civicase__activity-type--completed': (activity.category.indexOf('task') > -1 && activity.is_completed)}">
              {{ civicaseTs(activity.type) }}
            </span>
          </civicase-tooltip>
        </div>
        <!-- End - top section -->
        <span class="civicase__activity-date" ng-class="{'civicase__overdue-activity-icon': activity.is_overdue}"><i class="material-icons">event</i>{{formatDate(activity.activity_date_time, 'DD MMM YYYY') }}</span>
        <!-- Subject -->
          <div class="civicase__activity-subject">{{ activity.subject }}</div>
        <!-- End - Subject -->
        <!-- Tags -->
        <civicase-tags-container
          tags="activity.tag_id"
          show-ellipsis-after="2">
        </civicase-tags-container>
        <!-- End - Tags -->
        <!-- With -->
        <div class="civicase__activity-card-row">
          <span class="civicase__activity-with">With:&nbsp;</span>
          <span
            class="civicase__contact-card"
            civicase-contact-card
            case-id="activity.case_id"
            contacts="activity.target_contact_name"
          ></span>
        </div>
        <!-- End - With -->
      </div>
      <!-- Activity Body -->
    </div>
  </div>
  <!-- No result behaviour -->
  <div ng-if="!activity" class="civicase__activity-card--big--empty">
    <div ng-if="type === 'milestone'" class="civicase__activity-no-result-icon civicase__activity-no-result-icon--milestone"></div>
    <div ng-if="type === 'activity'" class="civicase__activity-no-result-icon civicase__activity-no-result-icon--activity"></div>
    <div class="civicase__activity-card--big--empty-title" ng-if="type === 'milestone'"> No upcoming milestones </div>
    <div class="civicase__activity-card--big--empty-title" ng-if="type === 'activity'"> No upcoming activities </div>
      <div class="civicase__activity-card--big--empty-description" ng-if="type === 'milestone'">
          {{ ts("Click on the button below to add a milestone to this case") }}
      </div>
    <div class="civicase__activity-card--big--empty-description" ng-if="type === 'activity'"> Click the button below to add an activity </div>
    <span ng-if="type === 'milestone'" civicase-dropdown>
      <button
        class="civicase__activity-card--big--empty-button btn btn-default"
        civicase-dropdown-toggle
        ng-disabled="isReadOnly"
      >
        <i class="material-icons">add_circle</i>
        ADD MILESTONE
        <i class="fa fa-caret-down"></i>
      </button>
      <civicase-add-activity-menu
        case="case"
        filter-activities-by="milestone">
      </civicase-add-activity-menu>
    </span>
    <span ng-if="type === 'activity'" civicase-dropdown>
      <button
        class="civicase__activity-card--big--empty-button btn btn-default"
        civicase-dropdown-toggle
        ng-disabled="isReadOnly"
      >
        <i class="material-icons">add_circle</i>
        {{ ts('ADD ACTIVITY') }}
        <i class="fa fa-caret-down"></i>
      </button>
      <civicase-add-activity-menu
        case="case"
        exclude-activities-by="milestone">
      </civicase-add-activity-menu>
    </span>
  </div>
  <!-- End of no result behaviour -->
</div>
