<div class="btn-group btn-group-sm civicase__activity-filter__contact">
  <button
    class="btn btn-default"
    ng-model="filters['@involvingContact']"
    uib-btn-radio="'myActivities'"
    title="{{ ts('Show only activities created by, involving or assigned to me') }}"
  >{{ts('My Activities')}}</button>
  <button
    class="btn btn-default"
    ng-model="filters['@involvingContact']"
    uib-btn-radio="'delegated'"
    title="{{ ts('Show only activities created by me but assigned to someone other than me') }}"
  >{{ts('Delegated')}}</button>
  <button
    class="btn btn-default"
    ng-model="filters['@involvingContact']"
    uib-btn-radio="''"
    title="{{ ts('Show all activities regardless of who created them, who they are assigned to or who they are with') }}"
  >{{ts('All')}}</button>
</div>
