.crm-container .contact_panel.crm-contact-summary-layout-row {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.crm-container .crm-contact-summary-layout-col {
  flex: 1 1 250px;
  box-sizing: border-box;
  padding: 10px 10px 0;
}
#crm-contact-thumbnail + .crm-inline-block-content {
  clear: left;
}
#crm-container .crm-actions-ribbon .crm-contact-summary-edit-layout {
  float: right;
}
