div.crmMailing a.helpicon[title="From Help"] {
  display: none;
}
li[aria-controls=tab-attachment],
li[aria-controls=tab-pub],
li[aria-controls=tab-response],
li[aria-controls=tab-tracking] {
  display: none;
}

/*13116*/
.crm-container .crm-hover-button[disabled] {
  cursor: pointer !important;
}

/*13339*/
body.ui-dialog-open {
  position: fixed;
  width: 100%;
}

.crm-container.ui-dialog .ui-dialog-content {
  max-height: -moz-calc(100vh - 100px) !important;
  max-height: -webkit-calc(100vh - 100px) !important;
  max-height: calc(100vh - 100px) !important;
}

/*13305*/
a[title^="Preview a List of Recipients"] {
  font-family: Roboto, Helvetica, sans-serif !important;
}
.select2-drop {
  z-index: 100000 !important;
}

/*13304 hide advance mailing options*/
div.crmb-wizard-step button {
  display: none !important;
}

/*13556*/
label[for=all_emails] {
  float: left;
  margin-right: 10px;
}
input[name=all_emails] {
  margin-top: 0 !important;
}

/*13581*/
ul#civicrm-menu {
  z-index: 99999 !important;
}

/*13837 - ensure confirmation dialog box is on-screen*/
div.ui-dialog.crm-confirm {
  top: 200px !important;
}
