<div
  ng-if="item['case_type_id.is_active'] !== '0'"
  civicase-file-uploader="item"
  on-upload="loadActivities()"
></div>
<div class="civicase__case-tab__actions">
  <civicase-bulk-actions-checkboxes
    everything-count="totalCount"
    displayed-count="totalCount"
    show-checkboxes="showCheckboxes"
    ng-show="bulkAllowed">
  </civicase-bulk-actions-checkboxes>
  <span
    ng-if="bulkAllowed"
    class="civicase__bulkactions-actions-dropdown btn-group btn-group-sm">
    <div class="btn-group">
      <button
        type="button" class="btn btn-default"
        ng-class="{disabled: (!selectedActivities.length || !showCheckboxes) && !isSelectAll}"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ ts('Actions') }}
      </button>
      <button
        type="button" class="btn btn-default dropdown-toggle"
        ng-class="{disabled: (!selectedActivities.length || !showCheckboxes) && !isSelectAll}"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul
        class="dropdown-menu" refresh-callback="refresh"
        civicase-activity-actions mode="case-files-activity-bulk-action"
        selected-activities="selectedActivities" is-select-all="isSelectAll"
        total-count="totalCount" params="fileFilterParams">
      </ul>
    </div>
  </span>

  <div
    civicase-file-filter="fileFilterParams"
    is-loading="isLoading"
    activities="activities"
    refresh="loadActivities"
    class="civicase__file-tab-filters">
  </div>
</div>

<civicase-bulk-actions-message
  selected-items="selectedActivities.length" total-count="totalCount"
  show-checkboxes="showCheckboxes"
  is-select-all="isSelectAll">
</civicase-bulk-actions-message>

<div civicase-file-list class="clear"></div>
