<div crm-ui-debug="filesByAct"></div>
<div civicase-util="caseutil"></div>

<form>
  <fieldset ng-disabled="block.check()">
  <!-- Activity Feed -->
  <div class="civicase__activity-feed__list"  ng-show="fileLists.result.count">
    <div class="civicase__activity-feed__list-item">
      <div
        case-activity-card="activity"
        mode="long"
        refresh-on-checkbox-toggle="true"
        bulk-allowed="bulkAllowed"
        refresh-callback="refresh"
        ng-repeat="activity in activities"
        >
      </div>
    </div>
  </div>
  <!-- End Activity Feed -->

  <!-- Loading Placeholder -->
  <div class="civicase__activity-feed__list" ng-if="fileLists.loading && !fileLists.result.count">
    <div class="civicase__activity-feed__list-item">
      <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2]">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
              <div class="civicase__loading-placeholder__oneline" style="width: 0.8em; font-size: 24px; margin-right: 10px;"></div>
              <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
              <div class="civicase__activity__right-container civicase__loading-placeholder__oneline" style="width: 7em;"></div>
            </div>
            <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 8em; margin-bottom: 10px;"></div>
            <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 5em; margin-bottom: 10px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Loading Placeholder -->

  <!-- No result HTML -->
  <div ng-hide="fileLists.loading || fileLists.result.count" class="civicase__panel-empty">
    <i class="fa fa-file-o fa-big"></i>
    <div class="empty-label">{{ ts('No files found') }}</div>
  </div>
  <!-- End no result HTML -->
  </fieldset>
</form>
