/* CSS rules for Angular civicase timeline */
#bootstrap-theme .cb-dot {
  position: absolute;
  left: -1.3em;
  top: -.9em;
  width: 2.7em;
  height: 2.7em;
  background-color: #c2cfd8;
  border-radius: 1.5em;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding-top: .2em;
  border: .4em solid white;
}

#bootstrap-theme .cb-dot .act-direction-icon {
  position: absolute;
  left: -21px;
  top: 11px;
  font-size: 18px;
  transform: scale(0.75, 1);
}

#bootstrap-theme .dropdown-menu>li>span {
  display: block;
  padding: 11px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5384615385;
  color: #727E8A;
  white-space: nowrap;
}
#bootstrap-theme .act-feed-list-group,
#bootstrap-theme .act-feed-view-activity {
  position: relative;
  transition: width .2s linear;
}

#bootstrap-theme .case-tab-files .act-feed-list-group {
  margin: 0 auto;
  width: 80%;
}

#bootstrap-theme div.act-feed-panel .panel-body {
  padding: 0;
}
#bootstrap-theme .case-tab-files div.act-feed-panel .input-group {
  width: 100%;
}
#bootstrap-theme .case-tab-files div.act-feed-panel .input-group .input-group-addon:last-child {
  color: #727E8A;
  width: 18px;
}
#bootstrap-theme .act-feed-list-group.viewing-activity {
  width: calc(100% - 355px);
  float: left;
}
#bootstrap-theme .activity-timeline.viewing-activity {
  min-height: calc(100vh - 120px);
}
#bootstrap-theme .case-is-focused .activity-timeline.viewing-activity {
  width: calc(100% - 463px);
}

#bootstrap-theme .act-feed-view-activity {
  background-color: #F3F6F7;
  border-left: 1px solid #E7E7E7;
  float: right;
  width: 463px;
}

#bootstrap-theme div.act-actions-menu {
  position: absolute;
  right: -.5em;
  top: -.5em;
}

#bootstrap-theme div.act-attachment-menu {
  display: inline-block;
  margin-top: 0;
}

#bootstrap-theme .act-feed-list-group div.btn-group-sm>button.btn {
  font-size: 16px;
}

#bootstrap-theme .act-feed-item div.btn-group-sm>button.btn {
  background-color: transparent;
}

#bootstrap-theme .act-filters .btn-group,
#bootstrap-theme .act-filters .form-control {
  margin: .6em 0 .6em .6em;
}

#bootstrap-theme .act-filters .crm-ui-range {
  display: inline-block;
}

#bootstrap-theme .act-filters .act-available-filter-menu>li>span {
  padding-bottom: 0;
}
#bootstrap-theme .act-filters .act-available-filter-menu>li:last-child>span {
  padding-bottom: 10px;
}
#bootstrap-theme .act-filters .act-filter-header {
  display: none;
}
#bootstrap-theme .act-filters .act-filter-has-header .act-filter-header {
  display: block;
  cursor: default;
  margin-top: -10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #727E8A;
}

#bootstrap-theme .act-feed-list-group .list-group-item {
  border: 0 none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

#bootstrap-theme .act-feed-list-group .list-group-item .act-date {
  font-size: 13px;
  font-weight: 600;
}

#bootstrap-theme .act-feed-list-group .act-list-controls {
  padding: .7em 0;
  margin: 0 .5em;
  border-bottom: 1px solid #ddd;
}

#bootstrap-theme .act-feed-list-group .act-category-milestone.act-feed-item {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 5px solid;
  border-right: 5px solid;
  padding-left: 15px;
  padding-right: 15px;
}

#bootstrap-theme .act-feed-list-group .act-feed-item {
  padding: 10px 20px;
  cursor: pointer;
}

#bootstrap-theme .act-feed-list-group.act-feed-list-group-file .act-feed-item {
  cursor: inherit;
  margin: 15px 0;
}
#bootstrap-theme .act-feed-list-group:not(.viewing-activity) .list-group:not(.list-group-inner) {
  margin: 0 auto;
  width: 675px;
}

#bootstrap-theme .act-feed-list-group .list-group {
  margin-bottom: 0;
}

#bootstrap-theme .act-feed-list-group .list-group-inner:not(.activity-placeholder-list-inner) li.list-group-item:hover,
#bootstrap-theme .act-feed-list-group .list-group-inner li.list-group-item.is-viewing {
  background-color: #D9EFF5;
}
#bootstrap-theme .act-feed-list-group .list-group-inner li.list-group-item:hover .act-feed-item:not(.act-category-milestone) .cb-dot,
#bootstrap-theme .act-feed-list-group .list-group-inner li.list-group-item.is-viewing .act-feed-item:not(.act-category-milestone) .cb-dot {
  border-color: #D9EFF5;
}
#bootstrap-theme .act-feed-list-group .list-group-inner li.list-group-item {
  margin-bottom: 17px;
}
#bootstrap-theme .act-feed-list-group .list-group-inner li.list-group-item:last-child {
  margin-bottom: 10px;
}
#bootstrap-theme .act-feed-list-group.act-feed-list-group-file .act-feed-item:hover {
  background: inherit;
}

#bootstrap-theme .act-feed-inner {
  margin-left: 2em;
  padding-left: 3em;
  position: relative;
}

#bootstrap-theme .activity-timeline .act-feed-inner,
#bootstrap-theme .case-tab-files .act-feed-inner {
  border-left: 1px solid #ddd;
}

#bootstrap-theme .act-feed-list-group .act-category-task .act-feed-inner {
  padding-left: 5em;
}

#bootstrap-theme .act-feed-list-group .act-category-alert .status-type-incomplete .act-subject {
  font-weight: 600;
}

#bootstrap-theme .act-feed-list-group .act-category-alert .status-type-incomplete .cb-dot {
  background-color: #e6807f;
}

#bootstrap-theme .activity-timeline .act-date {
  color: #525966;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 0px 20px 10px;
  margin: 0;
}

#bootstrap-theme .activity-timeline .act-feed-item-content .act-date {
  display: none; /* In the timeline, dates are shown above the activity card */
}

#bootstrap-theme .act-feed-list-group .act-task-checkbox { 
  color: #586277;
  cursor: pointer;
  font-size: 1.5em;
  left: 34px;  
  position: absolute;
  top: -6px;
}

#bootstrap-theme .act-feed-list-group .act-task-checkbox:hover i {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

#bootstrap-theme .case-tab-files .act-feed-list-group .act-feed-item h4 {
  margin: 0;
}

#bootstrap-theme .act-feed-list-group .act-subject {
  color: #727E8A;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin-right: 1em;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bootstrap-theme .act-feed-list-group .act-category-milestone .act-subject {
  font-weight: 600;
}

#bootstrap-theme .case-tab-files .act-feed-item .act-files a {
  color: #4D5663;
}

#bootstrap-theme .case-tab-files .act-feed-item .act-files a .fa {
  font-size: 16px;
  margin-right: 10px;
}

#bootstrap-theme .case-tab-files .act-feed-item .act-files a span {
  color: #4D5663;
  font-size: 13px;
  font-weight: 600;
}

#bootstrap-theme .case-tab-files .act-feed-item .act-files .btn-group .btn {
  padding: 0 5px;
  margin-left: 10px;
}

#bootstrap-theme .case-tab-files .act-feed-item .act-files .btn-group .btn i {
  color: #4D5663;
}

#bootstrap-theme .case-tab-files .act-feed-item .act-files .btn-group .btn:hover,
#bootstrap-theme .case-tab-files .act-feed-item .act-files .btn-group .btn:focus,
#bootstrap-theme .case-tab-files .act-feed-item .act-files .btn-group.open .btn.dropdown-toggle {
  background: transparent;
  box-shadow: none;
}

#bootstrap-theme .case-tab-files  .act-feed-item .act-files .btn-group .btn:hover i,
#bootstrap-theme .case-tab-files  .act-feed-item .act-files .btn-group .btn:focus i,
#bootstrap-theme .case-tab-files  .act-feed-item .act-files .btn-group.open .btn.dropdown-toggle i {
  color: #42AFCB;
}
#bootstrap-theme .case-tab-files  .act-feed-item .act-subject {
  color: #727E8A;
}
#bootstrap-theme .case-tab-files  .act-feed-item .act-files p {
  color: #727E8A;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#bootstrap-theme .act-star {
  margin-right: .5em;
  color: #c2cfd8;
}

#bootstrap-theme .act-star .fa-star {
  color: #ECA67F;
}

#bootstrap-theme .act-star:hover,
#bootstrap-theme .act-star:focus,
#bootstrap-theme .fa-star {
  color: #f1965a;
}

#bootstrap-theme .act-feed-list-group .act-details {
  overflow: hidden;
  max-height: 9em;
}

#bootstrap-theme .act-feed-list-group .act-contacts {
  padding: 0 0 1em;
}
#bootstrap-theme .act-feed-list-group .act-tags {
  margin-bottom: 1em;
}
#bootstrap-theme .act-feed-list-group .act-feed-inner .btn {
  border: none;
  padding: 0 5px;
}
#bootstrap-theme .act-feed-list-group .act-contacts div:not(.act-contacts-target):not(.btn-group) {
  min-width: 40%;
  max-width: 100%;
  margin-right: 2em;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#bootstrap-theme .act-list-controls label.btn {
  text-transform: none;
  font-weight: normal;
  border: 1px solid #C2CFD8; 
}
#bootstrap-theme .act-list-controls label.btn:hover {
  border-color: #bfbfbf;
}
#bootstrap-theme .act-list-controls label.btn.active, 
#bootstrap-theme .act-list-controls label.btn:focus {
  background-color: #E8EEF0;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1);
  color: #42AFCB;

}

#bootstrap-theme .act-tags .label {
  margin-right: 1em;
}
#bootstrap-theme .pager-loading {
  height: 200px;
}
#bootstrap-theme .act-filters .btn-group.act-clear-filter {
  margin-right: 10px;
}
#bootstrap-theme .act-filters .input-group-btn {
  border-radius: 2px;
}
#bootstrap-theme .act-filters .btn-filter {
  border-bottom-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
  line-height: 17px;
  margin: 0.7em 0;
}
#bootstrap-theme .act-filters .filter-separator {
  background-color: #C2CFD8;
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  width: 1px; 
}
#bootstrap-theme .act-list-controls .btn.btn-clean {
  border: none;
}
#bootstrap-theme .act-list-controls .btn.btn-clean.active {
  background: none;
}
#bootstrap-theme .act-list-controls .btn.btn-clean.active .fa-paperclip,
#bootstrap-theme .act-list-controls .btn.btn-clean.active .fa-paperclip {
  color: #42AFCB;
}
#bootstrap-theme .act-list-controls .select2-container {
  margin-top: 2px;
}
#bootstrap-theme div.act-feed-panel {
  margin-bottom: 0;
  padding-top: 47px;
  position: relative;
}
#bootstrap-theme div.act-feed-panel > .panel-header {
  margin-top: -47px;
}
#bootstrap-theme div.act-feed-panel > .panel-header.affix-top {
  top: 0 !important;
  width: 100% !important;
}
#bootstrap-theme div.act-feed-panel > .panel-header.affix {
  margin-top: 0;
  width: inherit;
  z-index: 600;
}
#bootstrap-theme div.act-feed-panel > .panel-header .form-control {
  vertical-align: top;
}
#bootstrap-theme div.act-feed-panel > .panel-header .select2-container-multi {
  height: auto;
  min-width: 170px;
  max-width: 170px;
}
#bootstrap-theme div.act-feed-panel .act-list-controls .select2-container {
  min-width: 185px;
}
#bootstrap-theme .act-feed-list-group .act-list-controls.affix {
  margin: 0px;
  padding: 0.2em 0.5em;
  width: inherit;
  z-index: 5;
}
#bootstrap-theme .case-tab-activities .act-feed-list-group .act-list-controls.affix {
  margin-top: 0;
}

#bootstrap-theme .act-feed-list-group {
  position: relative;
}
#bootstrap-theme .case-tab-activities .act-feed-list-group {
  padding-top: 54px;
}
#bootstrap-theme .case-tab-activities .act-feed-list-group .act-list-controls {
  margin-top: -54px;
}
#bootstrap-theme .act-feed-list-group .act-list-controls.affix-top {
  top: 0 !important;
  width: calc(100% - 13px) !important;
}
#bootstrap-theme .act-feed-view-activity:not(.cc-zero-w) {
  width: 355px;
}
#bootstrap-theme .act-feed-view-activity.affix:not(.cc-zero-w) {
  background-color: #FFFFFF;
  margin-right: -600px;
  position: fixed;
  right: 50%;
  top: 147px;
  width: 355px;
  z-index: 600;
}
#bootstrap-theme .case-is-focused .act-feed-view-activity:not(.cc-zero-w) {
  width: 463px;
}
#bootstrap-theme .act-feed-view-activity.affix-top {
  top: 0 !important;
}

#bootstrap-theme .act-feed-item a.act-case-info {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
#bootstrap-theme .act-feed-item a.act-case-info:hover {
  border: 1px solid #666;
}
#bootstrap-theme .act-feed-item a.act-case-info span {
  display: inline-block;
  padding: 4px 6px;
  height: 28px;
  border-radius: 4px 0 0 0;
}
#bootstrap-theme .act-feed-item a.act-case-info span:first-child {
  color: #fff;
  font-weight: 600;
  padding-right: 12px;
  position: relative;
}
#bootstrap-theme .act-feed-item a.act-case-info span:first-child:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 10px;
  border-color: white transparent white transparent;
  position: absolute;
  right: 0;
  top: 0;
}
#bootstrap-theme .activity-timeline .act-feed-item {
  margin: 0px 22px;
}
#bootstrap-theme .activity-timeline .act-feed-item.act-category-task {
  border: !important;
  border-radius: 0;
}
#bootstrap-theme .act-feed-panel .pager-show-more,
#bootstrap-theme .act-feed-panel .pager-no-more {
  margin-bottom: 20px;
}
#bootstrap-theme .activity-timeline h3 {
  background-color: #F3F6F7;
  border-top: 1px solid #D3DEE2;
  border-bottom: 1px solid #D3DEE2;
  color: #4D5663;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0px 15px;
  padding: 13px 20px;
}
#bootstrap-theme .activity-timeline .activity-placeholder-group h3 {
  background-color: #fcfcfc;
}
#bootstrap-theme .activity-timeline .activity-item-menu.btn-group {
  margin-right: -5px;
  margin-top: -10px;
}
#bootstrap-theme .activity-timeline .act-category-communication .activity-item-menu.btn-group {
  margin-top: 20px;
  margin-right: 20px;
}
#bootstrap-theme .activity-timeline .act-star {
  margin-top: -5px;
}
#bootstrap-theme .activity-timeline .act-attachment-menu {
  margin-top: -8px;
}
#bootstrap-theme .act-filters input::placeholder {
  color: #727E8A;
}
#bootstrap-theme .act-filters .select2-default::placeholder {
  color: #727E8A;
}
#bootstrap-theme .crm-activity-view-block .crm-info-panel {
  border-bottom: 1px solid #E8EEF0;
  box-shadow: none;
}
#bootstrap-theme .crm-activity-view-block .crm-submit-buttons {
  height: auto;
  margin: 20px;
}
#bootstrap-theme .crm-activity-view-block .help a.button,
#bootstrap-theme .crm-activity-view-block .crm-submit-buttons a {
  color: #FFF;
  background-color: #42AFCB;
  float: none;
}
#bootstrap-theme .crm-activity-view-block .crm-submit-buttons a.delete {
  background-color: #E6807F;
}
#bootstrap-theme .crm-activity-view-block .help a.button:hover,
#bootstrap-theme .crm-activity-view-block .crm-submit-buttons a:hover {
  color: #FFF;
  opacity: 0.8 !important;
  text-decoration: none;
}
#bootstrap-theme .crm-activity-view-block .crm-submit-buttons a:hover i {
  color: #FFF;
}
#bootstrap-theme .act-feed-panel .form-control::placeholder {
  color: #727E8A;
}
