/* CSS rules for Angular civicase search */
#bootstrap-theme .civicase-filters {
  padding: 15px;
}
#bootstrap-theme .civicase-filters input.form-control,
#bootstrap-theme .civicase-filters div.form-control.select2-container {
  width: 40% !important;
  margin-right: 15px;
}
#bootstrap-theme .civicase-search-panel.case-is-focused,
#bootstrap-theme .civicase-filters-placeholder {
  display: none;
}
#bootstrap-theme .case-is-focused .civicase-filters-placeholder {
  display: block;
  cursor: pointer;
  text-align: center;
}
#bootstrap-theme .civicase-search-description {
  margin-right: 150px;
}
