/* CSS rules for Angular civicase view */
#bootstrap-theme .civicase-view-with-search {
  width: 75%;
  padding-left: 10px;
}
#bootstrap-theme .civicase-view-with-search.case-is-focused {
  width: 100%;
  padding-left: 40px;
}
#bootstrap-theme .civicase-view-with-search.case-is-focused > .panel > .panel-header {
  border-radius: 2px 2px 0 0;
}
#bootstrap-theme .btn {
  font-weight: 600;
}
#bootstrap-theme .fa.fa-plus {
  padding-right: 5px;
}
#bootstrap-theme .civicase-view-header {
  background-color: #F3F6F7; 
  border-radius: 2px 2px 0 0;
}
#bootstrap-theme .civicase-view-header h2 {
  color: #525966;
  font-size: 24px;
  margin: 19px 19px 0 25px;

}

#bootstrap-theme .civicase-view-header h2 .btn-group {
  line-height: 24px;
  margin-top: -10px;
}

#bootstrap-theme .civicase-view-header h2 .btn-info {

  background: transparent;
  border: none;
  border-radius: 0;
  color: #42AFCB;
  float: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}
#bootstrap-theme .label {
  border-radius: 10px;
}
#bootstrap-theme .btn-group .btn.btn-primary {
  border: none;
}
#bootstrap-theme .civicase-view-header .case-id {
  color: #727E8A;
  font-weight: normal;
  font-size: 13px;
}
#bootstrap-theme .civicase-view-header .case-id strong {
  color: #4D5663;
}

#bootstrap-theme .civicase-view-header .civicase-dates,
#bootstrap-theme .civicase-view-header .civicase-tags {
  display: inline-block;
  margin-right: 15px;
}
#bootstrap-theme .civicase-view-header .civicase-dates {
  color: #525966;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 25px;
  margin-top: 16px;
}
#bootstrap-theme .civicase-tags .label {
  margin-right: 1em;
  padding: 0.1em 0.8em 0.2em;
}
#bootstrap-theme .case-action-menu {
  clear: both;
  margin-right: 19px;
}
#bootstrap-theme .case-action-menu .btn-group-md .btn {
  padding: 7px 12px;
}
#bootstrap-theme .civicase-type-and-manager {
  border-top: 1px solid #E8EEF0;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0 19px 0 25px;
}
#bootstrap-theme .civicase-type-and-manager .civicase-type {
  padding-top: 13px;
  display: block;
  width: 200px;
}
#bootstrap-theme .civicase-type-and-manager .civicase-type a {
  color: #4D5663;
  text-decoration: none;
}
#bootstrap-theme .civicase-type-and-manager .civicase-manager {
  color: #42AFCB;
  padding-top: 13px;
}
#bootstrap-theme .civicase-type-and-manager .civicase-manager strong{
  color: #4D5663;
}
#bootstrap-theme .civicase-view-panel .panel-body {
  border-radius: 0 0 2px 2px;
  padding: 0;
}
#bootstrap-theme .civicase-view-summary .panel-body ul {
  margin: 0;
}
#bootstrap-theme .civicase-summary-top {
  padding: 5px 10px 10px;
}
#bootstrap-theme .civicase-view-summary .row {
  border-bottom: 1px solid #e8eef0;
  margin: 0;  
}
#bootstrap-theme nav.civicase-view-tab-bar {
  background-color: #42AFCB;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
  margin-bottom: 0;
  z-index: 1;
}
#bootstrap-theme .panel-default .nav-tabs:not(.nav-tabs-stacked) {
  padding: 8px 0 0 5px;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .btn-group {
  margin: 9px 0 0 9px;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;  
}
#bootstrap-theme .navbar.civicase-view-tab-bar .open .btn {
  border: 0 none;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .btn-group.open .btn {
  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  color: #31b0d5;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .navbar-nav li {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .navbar-nav > .active > a {
  background-color: transparent;
  border-bottom: 3px solid white;
}
#bootstrap-theme .civicase-view-summary .panel-header h3 {
  margin: 0;
  padding: 5px;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a + a {
  border-top: 1px solid #D3DEE2;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a:hover {
  background-color: #F3F6F7;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a > i.fa-arrow-circle-o-right {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a:hover > i.fa-arrow-circle-o-right {
  color: inherit;
}
#bootstrap-theme .civicase-alpha-pager {
  padding: 15px 20px;
}
#bootstrap-theme .civicase-alpha-pager a {
  font-weight: 600;
  margin-left: .8em;
}
#bootstrap-theme .civicase-alpha-pager a.active {
  font-weight: 600;
}
#bootstrap-theme .case-action-dropdown {
  width: 20em;
}
#bootstrap-theme .case-people-subtab {
  margin: 20px 0px 0;
}
#bootstrap-theme .case-people-subtab .case-people-status {
  border-bottom: 1px solid #e8eef0;
  margin-bottom: 15px;
  padding: 0 20px 20px 25px;
}
#bootstrap-theme .case-people-subtab .case-people-status h3 {
  margin-bottom: 20px;
}
#bootstrap-theme .case-people-subtab .case-people-status strong {
  color: #4D5663;
}
#bootstrap-theme .case-people-subtab label + .select2-container {
  margin-top: 10px;
}
#bootstrap-theme .case-people-subtab .people-selection-radio {
  margin-left: 10px;
}
#bootstrap-theme .case-people-status .select2-container:not(.select2-container-disabled) .select2-choice .select2-chosen {
  color: #42AFCB;
}
#bootstrap-theme .select2-container,
#bootstrap-theme .form-control.select2-container {
  height: 30px 
}
#bootstrap-theme .select2-container .select2-choice {
  background-image: none;
}
#bootstrap-theme .act-feed-panel .select2-container .select2-choice .select2-chosen,
#bootstrap-theme .act-feed-panel .select2-default {
  color: #727E8A !important;
  font-size: 13px;
  font-weight: normal;
}
#bootstrap-theme .form-control .select2-choice .select2-arrow {
  padding: 0;
  top: 0;
}
#bootstrap-theme .crm-case-custom-form-block .crm-accordion-body {
  padding: 5px;
}
#bootstrap-theme .crm-case-custom-form-block td.label {
  display: table-cell;
  padding-top: 7.5px;
  text-align: left;
  vertical-align: top;
}
#bootstrap-theme .crm-case-custom-form-block .select2-choice .select2-arrow {
  background: none;
  padding: 0;
  width: 26px;
}
#bootstrap-theme .crm-case-custom-form-block .select2-container .select2-choices {
  margin-bottom: 0;
}
#bootstrap-theme .crm-case-custom-form-block input.crm-form-date {
  display: inline-block;
}
#bootstrap-theme .crm-case-custom-form-block .crm-form-text {
  max-width: 230px;
}
#bootstrap-theme .crm-case-custom-form-block .crm-form-textarea {
  height: 80px;
  max-width: 230px;
}
#bootstrap-theme .crm-case-custom-form-block .crm-button-type-cancel input:hover {
  color: #FFF !important;
}

#bootstrap-theme .select2-container.select2-dropdown-open,
#bootstrap-theme .select2-container.select2-container-active .select2-choice, 
#bootstrap-theme .select2-container.select2-container-active .select2-choices {
  box-shadow: none;
}
#bootstrap-theme .select2-container.select2-container-disabled {
  background: #f3f6f7;
  border-color: #b8bec4;
  color: #b8bec4;
}
#bootstrap-theme .case-tab-people .pagination {
  color: #4D5663;
  margin: 16px 0;
  padding-left: 20px;
}
#bootstrap-theme .case-tab-people .pagination li.active a {
  font-weight: 600;
}
#bootstrap-theme .case-tab-people .paging-top {
  display: inline-block;
}
#bootstrap-theme .case-tab-people .paging-top .pagination {
  margin-bottom: 0;
  margin-top: 0;
}
#bootstrap-theme .case-tab-people .pager-counter {
  margin: 16px 0;
  padding-right: 20px;
}
#bootstrap-theme .case-tab-people .pagination li.disabled {
  display: none;
}
#bootstrap-theme .case-tab-people .pagination li:nth-child(-n+2),
#bootstrap-theme .case-tab-people .pagination li:nth-last-child(-n+2) {
  font-weight: 600;
}
#bootstrap-theme .case-tab-people .pagination li:nth-child(-n+2) a,
#bootstrap-theme .case-tab-people .pagination li:nth-last-child(-n+2) a{
  color: #4D5663;
}
#bootstrap-theme .case-tab-people table + paging {
  border-top: 1px solid #E8EEF0;
  padding: 15px 0;
}
#bootstrap-theme .client-role {
  margin-right: 20px;
}
#bootstrap-theme  .case-people-subtab .table {
  border-bottom: 1px solid #E8EEF0;
}
#bootstrap-theme  .case-people-subtab .table > thead tr {
  border-top: 1px solid #E8EEF0;
}
#bootstrap-theme .case-people-subtab .table > thead > tr > th,
#bootstrap-theme .case-people-subtab .table > tbody > tr > td {
  padding: 15px 10px;
}

#bootstrap-theme .case-people-subtab .table > thead > tr > th:first-child,
#bootstrap-theme .case-people-subtab .table > tbody > tr > td:first-child {
  padding-left: 20px;
  width: 10px;
}

#bootstrap-theme .case-people-subtab .table > thead > tr > th:last-child,
#bootstrap-theme .case-people-subtab .table > tbody > tr > td:last-child {
  padding-right: 20px;
}
#bootstrap-theme .case-people-subtab .table input[type=checkbox]+label[for] {
  margin: 0;
}
#bootstrap-theme .case-people-subtab .table input[type=checkbox] + label[for]:before {
  margin-right: 0;
}
#bootstrap-theme .case-people-subtab tr.unassigned {
  color: #b7b7b7;
  font-style: italic;
}
#bootstrap-theme .case-people-subtab td,
#bootstrap-theme .case-people-subtab th {
  padding: .5em;
  vertical-align: middle !important;
}
#bootstrap-theme .case-people-subtab td:last-child {
  text-align: right;
}
#bootstrap-theme .case-people-subtab td:last-child .btn-group .btn {
  border: none;
  padding: 0 5px;
}
#bootstrap-theme .case-people-subtab td:last-child .btn-group .btn:active,
#bootstrap-theme .case-people-subtab td:last-child .btn-group .btn:focus,
#bootstrap-theme .case-people-subtab td:last-child .btn-group .btn:hover {
  background: none;
  box-shadow: none;
  color: #42AFCB;
}
#bootstrap-theme .case-tab-people .nav.nav-tabs > li:first-child {
  margin-left: 1em;
}
#bootstrap-theme .case-tab-summary .row > div {
  padding: 1em;
}
#bootstrap-theme .case-tab-summary .civicase-summary-mid .col-md-6 {
  min-height: 420px;
}
#bootstrap-theme .civicase-view-next-activities-inner {
  overflow-x: auto;
  position: relative;
}
#bootstrap-theme .civicase-view-next-activities:before,
#bootstrap-theme .civicase-view-next-activities:after {
  content: "";
  height: calc(100% - 26px);
  margin: 13px;
  position: absolute;
  top: 0;
  width: 18px;
}
#bootstrap-theme .civicase-view-next-activities:before {
  box-shadow: inset 36px 0 18px -36px rgba(49,40,40,0.25);
  left: 0;
  z-index: 1;
}
#bootstrap-theme .civicase-view-next-activities:after {
  box-shadow: inset -36px 0 18px -36px rgba(49,40,40,0.25);
  right: 0;
}
#bootstrap-theme .civicase-view-next-activities-inner > ul {
  white-space: nowrap;
}
#bootstrap-theme .civicase-view-next-activities-inner .list-group-item {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}
#bootstrap-theme .civicase-view-tasks .act-feed-item {
  border-left: 5px solid;
}
#bootstrap-theme .civicase-view-tasks .act-feed-item.activity-overdue {
  border-left-color: #e6807f !important;
}
#bootstrap-theme .civicase-view-tasks .act-feed-item.activity-overdue .cb-dot {
  background-color: #e6807f !important;
}
#bootstrap-theme .case-tab-files .act-feed-panel {
  box-shadow: none;
}
#bootstrap-theme .case-tab-files .act-feed-panel .panel-header {
  border-top: 1px solid #D3DEE2;
  padding: 10px 30px;
}
#bootstrap-theme .case-tab-files .act-feed-panel .panel-body {
  padding: 20px;
}
#bootstrap-theme .case-tab-files .act-feed-panel .panel-header .checkbox {
  margin: -2px 0 0 15px;
}
#bootstrap-theme .case-tab-files .act-feed-panel .panel-header .select2-container {
  margin-left: 15px;
}
#bootstrap-theme .civicase-view-other-cases-panel.panel-primary{
  box-shadow: 0 3px 18px 0 rgba(48,40,40,0.25);
}
#bootstrap-theme .civicase-view-other-cases-panel.panel-primary .panel-heading {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}
#bootstrap-theme .civicase-view-other-cases-panel .panel-collapse {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#bootstrap-theme .civicase-view-other-cases-panel .panel-body {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case {
  padding: 20px;
  cursor: pointer;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case:not(:last-of-type) {
  border-bottom: 1px solid #E8EEF0;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case:hover {
  background-color: #D9EFF5;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 10px 0;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case .text-muted {
  color: #727E8A;
  font-size: 13px;
  line-height: 13px;
  opacity: 0.65;
  padding-top: 8px;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case .crm-is-linked {
  color: #42AFCB;
  font-size: 16px;
  padding-top: 3px;
  margin-left: 15px;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case .other-case-subject {
  color: #727E8A;
  opacity: 0.6;
  line-height: 18px;
  margin-top: 6px;
}
#bootstrap-theme .civicase-view-summary .civicase-case-subject-label {
  float: left;
  margin: 2px 5px 0px;
}
#bootstrap-theme.civicase-main .collapsible-title {
  background: none;
  border: none;
  color: #727E8A;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 0;
  padding: 10px 15px;
  position: relative;
  text-transform: uppercase;
}
#bootstrap-theme.civicase-main .crm-collapsible .collapsible-title::before {
  color: #727E8A;
  content: "\f107";
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 13px;
  font-style: normal;
  height: 13px;
  left: 2px;
  position: absolute;
}
#bootstrap-theme.civicase-main .crm-collapsible.collapsed .collapsible-title::before {
  content: "\f105";
}
#bootstrap-theme .civicase-view-tasks li.list-group-item{
  margin-bottom: 17px;
}
#bootstrap-theme.civicase-main .crm-collapsible.collapsed .collapsible-title + * {
  display: none;
}
#bootstrap-theme .civicase-view-other-cases .civicase-view-other-case .other-case-type-manager a {
   margin-left: 15px;
}
#bootstrap-theme .case-view-body {
  margin-top: 53px;
}
#bootstrap-theme .case-view-body .civicase-view-tab-bar {
  margin-top: -53px;
}
#bootstrap-theme .case-view-body .civicase-view-tab-bar.affix-top {
  width: auto;
}
#bootstrap-theme .case-view-body .civicase-view-tab-bar.affix {
  margin-top: 0;
  top: 60px;
  width: inherit;
  z-index: 600;
}
#bootstrap-theme .civicase-view-with-search .civicase-view-tab-bar.affix {
  width: 890px;
}
#bootstrap-theme .civicase-view-with-search.case-is-focused .civicase-view-tab-bar.affix {
  width: 1160px;
}
