#bootstrap-theme .dashboard-case-summary-wrapper {
  padding: 0 20px 0 0;
  overflow-x: auto;
}
#bootstrap-theme .dashboard-case-summary-wrapper.show-summary-breakdown {
  background: #FFFFFF;
  border-bottom: 1px solid #D3DEE2;
  padding-bottom: 10px;
}
#bootstrap-theme .dashboard-case-summary {
  border-collapse: separate;
  position: relative;
}

#bootstrap-theme .dashboard-case-summary th {
  background-color: #F5F8F9;
  border-bottom: 1px solid #D3DEE2;
  padding: 0 10px 20px;
  position: relative;
}
#bootstrap-theme .show-summary-breakdown .dashboard-case-summary th:after {
  background: none;
  border: none;
  bottom: -10px;
  content: "";
  height: 9px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#bootstrap-theme .show-summary-breakdown .dashboard-case-summary th:last-child:after {
  width: calc(100% + 20px);
}
#bootstrap-theme .dashboard-case-summary th:last-child:before {
  background-color: #F5F8F9;
  border-bottom: 1px solid #D3DEE2;
  box-shadow: none;
  content: "";
  height: calc(100% + 1px);
  left: auto;
  position: absolute;
  right: -20px;
  top: 0px;
  width: 20px;
}
#bootstrap-theme .dashboard-case-summary td {
  border-bottom:10px solid #FFFFFF;
  border-top: 10px solid #FFFFFF;
  border-color: #FFFFFF !important;
  padding: 13px;
  position: relative;
  vertical-align: middle;
}
#bootstrap-theme .dashboard-case-summary tr:first-child td {
  border-top-width: 20px;
}
#bootstrap-theme .dashboard-case-summary td .border-right,
#bootstrap-theme .dashboard-case-summary td .border-top,
#bootstrap-theme .dashboard-case-summary td .border-bottom {
  background-color: #E8EEF0;
  display: block;
  position: absolute;
}
#bootstrap-theme .dashboard-case-summary td .border-right {
  height: 100%;
  right: 0;
  top: 0;
  width: 1px;
}
#bootstrap-theme .dashboard-case-summary td .border-top,
#bootstrap-theme .dashboard-case-summary td .border-bottom {
  height: 1px;
  width: 100%;
  left: 0;
}
#bootstrap-theme .dashboard-case-summary td .border-top {
  top: 0;
}
#bootstrap-theme .dashboard-case-summary td .border-bottom {
  bottom: 0;
}
#bootstrap-theme .dashboard-case-summary th:first-child,
#bootstrap-theme .dashboard-case-summary td:first-child {
  padding-left: 20px;
  width: 190px;
}

#bootstrap-theme .dashboard-case-summary td:last-child {
  border-right: 1px solid #E8EEF0;
}
#bootstrap-theme .dashboard-case-summary td:not(:first-child):before {
  border-bottom: 23px solid transparent;
  border-left: 10px solid #E8EEF0;
  border-right: none;
  border-top:  23px solid transparent;
  content:"";
  height: 0;
  position: absolute;
  right: -10px;
  top: -1px;
  width: 0;
  z-index: 1;
}
#bootstrap-theme .dashboard-case-summary td:not(:first-child):after {
  border-bottom: 22px solid transparent;
  border-left: 10px solid #FFFFFF;
  border-right: none;
  border-top:  22px solid transparent;
  content:"";
  height: 0;
  position: absolute;
  right: -9px;
  top: 0px;
  width: 0;
  z-index: 2;
}
#bootstrap-theme .dashboard-case-summary td.case-status-unavailable {
  background-color: #EFF3F5;
}
#bootstrap-theme .dashboard-case-summary td.case-status-unavailable * {
  display: none;
}
#bootstrap-theme .dashboard-case-summary td.case-status-unavailable:after {
  border-left-color: #EFF3F5;
}
#bootstrap-theme .dashboard-case-summary td:last-child:before,
#bootstrap-theme .dashboard-case-summary td:last-child:after {
  content: none;
}
#bootstrap-theme .dashboard-case-summary th .arrow-right:after,
#bootstrap-theme .dashboard-case-summary th .arrow-right:before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 100%;
  position: absolute;
  pointer-events: none;
  top: 50%;
  width: 0;
}
#bootstrap-theme .dashboard-case-summary th .arrow-right:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #F5F8F9;
  border-width: 24px;
  border-left-width: 9px;
  margin-top: -24px;
  z-index: 2;
}
#bootstrap-theme .dashboard-case-summary th .arrow-right:before {
  border-color: rgba(232, 238, 240, 0);
  border-left-color: #D3DEE2;
  border-width: 25px;
  border-left-width: 10px;
  margin-top: -25px;
  z-index: 1;
}
#bootstrap-theme .dashboard-case-summary th:first-child .arrow-right:after,
#bootstrap-theme .dashboard-case-summary th:last-child .arrow-right:after {
  content: none;
}
#bootstrap-theme .dashboard-case-summary th:first-child .arrow-right:before,
#bootstrap-theme .dashboard-case-summary th:last-child .arrow-right:before {
  border: none;
  content: "";
  height: 50px;
  position: absolute;
  background-color: #D3DEE2;
  width: 1px;
  top: 45px;
}
#bootstrap-theme .dashboard-case-summary td a {
  color: #4D5663;
  font-weight: 600;
  text-decoration: none;
}
#bootstrap-theme .dashboard-case-summary a:hover,
#bootstrap-theme .dashboard-case-summary a:focus,
#bootstrap-theme .dashboard-case-summary a:hover {
  color: #42AFCB;
  text-decoration: none;
}
#bootstrap-theme .dashboard-case-summary th a.show-breakdown {
  font-weight: normal;
}
#bootstrap-theme .dashboard-case-summary a .crm-i{
  margin-right: 5px;
}

#bootstrap-theme .dashboard-case-summary th h4,
#bootstrap-theme .dashboard-case-summary td h4 {
  font-size: 18px;
  font-weight: 600;
}
#bootstrap-theme .dashboard-case-summary th h4 {
  margin-top: 18px;
}
#bootstrap-theme .dashboard-case-summary td h4 {
  margin: 0;
}
#bootstrap-theme .dashboard-case-summary td h4 a {
  color: #727E8A;
}
#bootstrap-theme .dashboard-case-summary .summary-pipe {
  background-color: #D3DEE2;
  content: "";
  height: 70%;
  position: absolute;
  right: 0;
  top: 15%;
  width: 1px;
}
#bootstrap-theme .dashboard-case-wrapper .panel-default>.panel-heading .badge.badge-primary {
  background-color: #8EC68A;
}
#bootstrap-theme .dashboard-case-wrapper .case-list-panel {
  padding: 0;
}
#bootstrap-theme .dashboard-case-wrapper .col-md-4 .panel-body {
  overflow-y: auto;
  max-height: 720px;
  min-height: 350px;
}
#bootstrap-theme .dashboard-case-wrapper .panel-default>.panel-heading .badge.badge-danger {
  background-color: #E6807F;
}
#bootstrap-theme .dashboard-case-wrapper .act-feed-item {
  border-radius: 2px;
  margin: 5px 0px;
}
#bootstrap-theme .dashboard-case-wrapper .act-feed-item.activity-overdue {
  border-left-color: #E6807F !important;
  border-right-color: #E6807F !important;
}
#bootstrap-theme .case-stats-wrapper .panel-default>.panel-heading,
#bootstrap-theme .dashboard-case-wrapper .panel-default>.panel-heading {
  padding-bottom: 20px;
  padding-top: 20px;
}
#bootstrap-theme .dashboard-case-wrapper .panel-default>.panel-heading a {
  color: #42AFCB;
  font-size: 13px;
  font-weight: normal;
  margin-top: 3px;
}
#bootstrap-theme .dashboard-case-wrapper .panel-title .badge {
  margin-left: 5px;
}
#bootstrap-theme .dashboard-case-wrapper .act-category-milestone.act-feed-item .act-feed-inner {
  margin-left: 0;
  padding-left: 0;
}
#bootstrap-theme .dashboard-case-wrapper .act-category-milestone .act-feed-item-content > div.ng-scope {
  margin-left: 3em;
  padding-left: 2em;
}
#bootstrap-theme .dashboard-case-wrapper .act-category-milestone.act-feed-item .act-feed-item-content h4 {
  margin-bottom: 0;
}
#bootstrap-theme .dashboard-case-wrapper .act-category-milestone.act-feed-item .act-tags {
  margin-bottom: 0;
}
#bootstrap-theme .dashboard-case-wrapper .act-category-milestone.act-feed-item .cb-dot {
  left: 0;
}
#bootstrap-theme .dashboard-case-wrapper .panel-body:not(.case-list-panel) {
  padding-top: 12px
}
#bootstrap-theme .dashboard-case-wrapper .act-feed-item.act-category-milestone .act-subject {
  font-size: 16px
}
#bootstrap-theme .dashboard-case-wrapper .act-feed-list-group .act-category-milestone.act-feed-item {
  border-left-color: #E8EEF0;
  border-right-color: #E8EEF0;
  margin: 0 0 10px;
  padding-bottom: 15px;
}
#bootstrap-theme .dashboard-case-wrapper .act-feed-item.act-category-milestone .activity-card-menu,
#bootstrap-theme .dashboard-case-wrapper .act-feed-item.act-category-communication .activity-card-menu {
  display: none;
}
#bootstrap-theme .dashboard-case-wrapper .act-category-communication {
  margin: 0;
  padding: 0 0 10px 10px;
}
#bootstrap-theme .dashboard-case-wrapper .act-feed-list-group .act-category-communication h4,
#bootstrap-theme .dashboard-case-wrapper .act-feed-list-group .act-category-communication .act-tags {
  margin-bottom: 0;
}
#bootstrap-theme .dashboard-nav {
  margin-top: 9px;
}
#bootstrap-theme .dashboard-nav input[type=checkbox] + label[for] {
  color: #FFFFFF;
  margin-top: 2px;
}
#bootstrap-theme .dashboard-nav input[type=checkbox] + label[for]:before {
  margin-top: -2px;
}
#bootstrap-theme .dashboard-nav input[type=checkbox] + label[for]:after {
  margin-top: -6px;
}
#bootstrap-theme .dashboard-nav .btn-default,
#bootstrap-theme .dashboard-nav .btn-default:active,
#bootstrap-theme .dashboard-nav .btn-default:focus {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 2px !important;
  color: #FFFFFF;
  float: none;
  outline: none;
  padding-left: 15px;
  vertical-align: baseline;
}
#bootstrap-theme .dashboard-nav .btn-default .fa-plus {
  line-height: 13px;
  padding-right: 5px;
}
#bootstrap-theme.civicase-main .nav-pills.nav-pills-horizontal {
  padding: 0 8px;
}
#bootstrap-theme.civicase-main .nav-pills > li > a {
  border-bottom: 3px solid transparent;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
}
#bootstrap-theme.civicase-main .nav-pills > li.active > a {
  border-color: #FFFFFF;
}
#bootstrap-theme.civicase-main .nav-pills > li.active > a:after {
  border-bottom: none;
}
#bootstrap-theme.civicase-dashboard .tab-pane {
  background: #E8EEF0;
  padding: 0;
  margin-top: 16px;
}
#bootstrap-theme .dashboard-tab-container {
  margin-top: 53px;
}
#bootstrap-theme .dashboard-tab-container ul.nav-pills-horizontal {
  margin-top: -53px;
}
#bootstrap-theme .dashboard-tab-container ul.nav-pills-horizontal.affix {
  margin-top: 0;
  top: 60px;
  width: 1200px;
  z-index: 600;
}
