input[type="file"]#cc-uploader-button {
  display: none;
}
#bootstrap-theme .cc-uploader-dropzone {
  border: 1px dashed #C2CFD8;
  margin: 2em;
  padding: 5em 2em;
  text-align: center;
}
#bootstrap-theme .cc-uploader-dropzone.nv-file-over {
  border: 1px dashed #eca67f;
}
#bootstrap-theme label[for=cc-uploader-button] {
  cursor: pointer;
}
#bootstrap-theme label[for=cc-uploader-button]:hover {
  opacity: .8;
}
#bootstrap-theme .cc-uploader-detail {
  border: 0.2em transparent;
  margin: 2em 1em;
  padding: 0em 2em;
}
#bootstrap-theme .cc-uploader-dropzone i.fa {
  color: #4D5663;
  font-size: 2em;
}
#bootstrap-theme .cc-uploader-dropzone label span {
  color: #727E8A;
  font-weight: normal;
}
#bootstrap-theme .cc-uploader-dropzone.cc-uploader-active {
  transition: visibility 0.5s, width 0.5s;
  width: calc(100% - 52px);
}
#bootstrap-theme .cc-uploader-dropzone.cc-uploader-inactive,
#bootstrap-theme .cc-uploader-detail {
  transition: visibility 0.5s, width 0.5s;
  width: 48.5%;
}
#bootstrap-theme .cc-uploader-detail .civicase-file-name {
  color: #42AFCB;
  font-size: 13px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#bootstrap-theme .cc-uploader-detail .civicase-file-action {
  text-align: right;
}
#bootstrap-theme .cc-uploader-detail .btn.civicase-file-remove {
  border: none;
  font-size: 13px;
  font-weight: normal;
  margin-top: -4px;
  padding: 0 5px 2px;
  text-transform: none;
}
#bootstrap-theme .cc-uploader-detail .btn.civicase-file-remove:hover {
  background: none;
  color: #E6807F;
}
#bootstrap-theme .cc-uploader-detail .btn-default.cancel {
  border: 1px solid #727E8A;
  margin-right: 10px;
}
#bootstrap-theme .cc-uploader-detail .btn-default.cancel:hover {
  background: #4D5663;
  color: #fff;
}
#bootstrap-theme .cc-uploader-detail .progress {
  background: #E8EEF0;
  border-radius: 0;
  box-shadow: none;
  height: 5px;
  margin-top: 10px;
}
#bootstrap-theme .cc-uploader-detail .progress .progress-bar {
  background: #42AFCB;
}
#bootstrap-theme .cc-uploader-detail .progress .progress-bar.fullwidth {
  background: #8EC68A;
}