table.dBug_array,table.dBug_object,table.dBug_resource,table.dBug_resourceC,table.dBug_xml {
	font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; font-size:12px;
}

.dBug_arrayHeader,
.dBug_objectHeader,
.dBug_resourceHeader,
.dBug_resourceCHeader,
.dBug_xmlHeader 
	{ font-weight:normal; color:#FFFFFF; }

/* array */
table.dBug_array { background-color:#9999cc; }
table.dBug_array td { background-color:#FFFFFF; }
table.dBug_array td.dBug_arrayHeader { background-color:#9999cc; cursor:default}
table.dBug_array td.dBug_arrayKey { background-color:#f0f0f0; cursor:default}

/* object */
table.dBug_object { background-color:#9999cc; }
table.dBug_object td { background-color:#FFFFFF; }
table.dBug_object td.dBug_objectHeader { background-color:#9999cc; cursor:default}
table.dBug_object td.dBug_objectKey { background-color:#f0f0f0; cursor:default}

/* resource */
table.dBug_resourceC { background-color:#9999cc; }
table.dBug_resourceC td { background-color:#FFFFFF; }
table.dBug_resourceC td.dBug_resourceCHeader { background-color:#9999cc; cursor:default}
table.dBug_resourceC td.dBug_resourceCKey { background-color:#f0f0f0; cursor:default}

/* resource */
table.dBug_resource { background-color:#9999cc; }
table.dBug_resource td { background-color:#FFFFFF; }
table.dBug_resource td.dBug_resourceHeader { background-color:#9999cc; cursor:default }
table.dBug_resource td.dBug_resourceKey { background-color:#f0f0f0; cursor:default}

/* xml */
table.dBug_xml { background-color:#9999cc; }
table.dBug_xml td { background-color:#FFFFFF; }
table.dBug_xml td.dBug_xmlHeader { background-color:#9999cc; cursor:default }
table.dBug_xml td.dBug_xmlKey { background-color:#f0f0f0; cursor:default}