/* Main CSS for Report Template */

h1{
	color:#036;
}

.border-right{
	border-right:1px solid #777;
}

hr {
	border:1px solid #999;
	border-style: solid none none none;
}

table {
	border-spacing:0px;
	box-shadow:0px 0px 3px #888;
}

.district-view {
	display:none;
}

/* Datatable CSS */
table.datatable tr.odd{
	background-color:#EEE !important;
}
table.datatable tr.even {
	background-color:#FFF !important;
}

table.datatable tr.odd td.sorting_1{
	background-color:#EEE !important;
}
table.datatable tr.even td.sorting_1 {
	background-color:#FFF !important;
}

.datatables_filter, .dataTables_paginate, .dataTables_info {
	margin-bottom:5px;
	margin-top:5px;
}