.BBMessages
{
  $successColor: #B0D730;
  $standardColor: #DAF2FF;
  $errorColor: #EC2E08;
  $warningColor:#EDF2A0;
  overflow:visible;
  height:auto;
  background-color: $standardColor;
  color: darken($standardColor, 80%);
  border: {
    style: solid;
    color: darken($standardColor,10%);
    bottom-width: 1px;
  }
  .title {
    margin:5px 0;
    font-weight: bold;
    font-size:18px;
  }
  .seeMore {
    cursor:pointer;
    font-weight:bold;
    font-style:italic;
    text-decoration: underline;
  }
  .moreHidden {
    display:none;
    word-wrap:break-word;
  }
  span {
    font-weight:bold;
  }
  padding:5px;
  display:none;
  &.static {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 1;
    width:495px;
  }
  &.BBError {
    background-color: lighten($errorColor, 10%);
    color: darken($errorColor, 80%);
    border: {
      style: solid;
      color: $errorColor;
      bottom-width: 1px;
    }
  }
  &.BBWarning {
    background-color: $warningColor;
    color: darken($warningColor, 80%);
    border: {
      style: solid;
      color: darken($warningColor,10%);
      bottom-width: 1px;
    }
  }
  &.BBSuccess {
    background-color: $successColor;
    color: darken($successColor, 80%);
    border: {
      style: solid;
      color: darken($successColor,10%);
      bottom-width: 1px;
    }
  }
  .closeMessage {
    @include closeButton;
    height:16px;
    width:16px;
    float:right;
  }
}