/*

Tags CSS
SassCommandWin: sass --update themes\Bluebird\nyss_skin\tags\tags.scss:themes\Bluebird\nyss_skin\tags\tags.css
SassCommand*nix: sass --update themes/Bluebird/nyss_skin/tags/tags.scss:themes/Bluebird/nyss_skin/tags/tags.css


*/
/*vars*/
/*icons*/
/*boxwidth*/
/*mixins*/
/* page size */
/* fCB icon mixins, would like to make this into an each statement once Variable Interpolation comes out */
.loadingGif {
  background: url("/sites/default/themes/Bluebird/images/loading.gif") no-repeat scroll center white; }

/*pagestructure*/
#BBTreeContainer, #BBTreeContainer.short {
  /* $inputBox: $inputBoxWidthFull; */
  width: 522px;
  background-color: #fff;
  overflow-x: hidden;
  border: 1px solid #ccc;
  cursor: default;
  position: relative;
  margin: 0 auto;
  margin: 15px auto; }
  #BBTreeContainer dl, #BBTreeContainer.short dl {
    margin: 0; }
  #BBTreeContainer *, #BBTreeContainer.short * {
    line-height: 1em;
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal; }

.short#BBTreeContainer {
  width: 285px;
  /*everything else should be percentage based*/ }

#BBTreeContainer .BBTree {
  overflow-y: scroll;
  height: 400px; }
  #BBTreeContainer .BBTree dl.lv-1 {
    width: 98%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-2 {
    width: 96%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-3 {
    width: 94%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-4 {
    width: 92%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-5 {
    width: 90%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-6 {
    width: 88%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-7 {
    width: 86%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-8 {
    width: 84%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-9 {
    width: 82%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree dl.lv-10 {
    width: 80%;
    margin-left: 2%;
    display: none; }
  #BBTreeContainer .BBTree .tag {
    padding: 0px;
    height: 20px;
    line-height: 20px;
    overflow-y: hidden; }
    #BBTreeContainer .BBTree .tag .ddControl {
      height: 20px;
      width: 20px;
      float: left;
      margin: 0px; }
      #BBTreeContainer .BBTree .tag .ddControl.treeButton {
        background: url("/sites/default/themes/Bluebird/nyss_skin/images/icons-3e3e3e.png") no-repeat -32px -15px;
        cursor: pointer; }
        #BBTreeContainer .BBTree .tag .ddControl.treeButton.open {
          background-position: -64px -15px; }
  #BBTreeContainer .BBTree .search {
    display: none; }

.BBTree-menu {
  width: 100%; }
  .BBTree-menu .BBTree-settings {
    float: left;
    width: 10%;
    height: 20px;
    background-color: #ccc; }
  .BBTree-menu .BBTree-top, .BBTree-menu .BBTree-bottom {
    height: 20px;
    border-bottom: 1px solid #ccc; }
  .BBTree-menu .BBTree-autocomplete, .BBTree-menu .BBTree-tabs {
    float: left;
    width: 90%; }
  .BBTree-menu input#JSTree-ac {
    border-style: none;
    width: 100%;
    padding: 0px;
    padding-left: 3px;
    margin: 0px;
    height: 20px; }
