
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
}
h1 {
    font-size: 2em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: "“" "”" "‘" "’";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #C0C0C0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


*::-moz-selection {
    background: none repeat scroll 0 0 #F1F6F7;
}
body {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    color: #444B58;
    font-family: 'Open Sans',Helvetica,arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 0 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
footer {
    font-size: 12px;
    margin-top: 50px;
}
a, a:visited {
    text-decoration: none;
    transition: color 0.2s ease 0s;
}
strong, #links a {
    font-weight: 500;
}
a, a:visited {
    color: #2F97E9;
}
a:hover {
    color: #7DBDFF;
}
h1 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-transform: lowercase;
}
h1 .version {
    font-size: 12px;
    letter-spacing: 0;
}
h2 {
    font-size: 15px;
}
label {
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
}
p, .control-group {
    margin: 0 0 20px;
}
p.feature {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
}
li {
    margin-bottom: 5px;
}
.toggle-code {
    font-size: 12px;
    font-weight: 500;
}
.toggle-code:before {
    margin-right: 5px;
}
.toggle-code.closed:before {
    content: "▶";
}
.toggle-code.open:before {
    content: "▲";
}
#content {
    margin-top: 35px;
}
#tabs {
    padding: 0;
    position: relative;
}
.tabs {
    height: 45px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -45px;
}
.tabs li {
    display: inline-block;
    margin: 0;
}
.tabs li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px 3px 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    font-weight: 600;
    padding: 10px 15px;
}
.tabs li.active a, .tabs li.active a:hover {
    border-color: #E8E8E8;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.01);
    color: #404040;
}
#logo {
    background: url("../images/logo@2x.png") no-repeat scroll 0 0 / 153px 35px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 35px;
    overflow: hidden;
    text-indent: -1000em;
    width: 153px;
}
pre code {
    display: block;
    width: 1000px;
}
pre {
    overflow: auto;
    width: 100%;
}
pre .string {
    color: #0D9BFF;
    font-weight: 500;
}
pre .constant, pre .literal, pre .number {
    color: #FCB01D;
}
pre .keyword {
    color: #FC611D;
    font-weight: bold;
}
.demo {
    margin: 100px auto;
    width: 600px;
 }
.demo > * {
    padding: 15px 0;
}
.demo > .header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 0;
}
.demo .sandbox {
    padding: 0;
}
.demo select, .demo input, .demo .selectize-control {
    width: 100%;
}
.demo > *:first-child {
    margin-top: 0;
}
.demo > *:last-child {
    margin-bottom: 0;
}
.demo .value {
    font-size: 12px;
    margin: 10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.demo .value span {
    font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;
}
.inset, .tabs li.active a, .tabs li.active a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.selectize-control {
    font-weight: normal;
    line-height: 0;
}
.inset {
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
}
.wrapper {
    margin: 0 auto;
    padding: 40px 0;
    text-align: left;
    width: 520px;
}
.wrapper > *:last-child {
    margin-bottom: 0;
}
pre {
    background: none repeat scroll 0 0 rgba(45, 45, 45, 0.01);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
    font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;
    font-size: 12px;
    line-height: 15px;
    padding: 10px !important;
}
input[type="button"] {
    background: none repeat scroll 0 0 #E0E0E0;
    border: 0 none;
    border-radius: 3px;
    color: #606060;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 6px 10px;
    width: auto;
}
.buttons {
    margin: 0 0 25px;
}
input[type="button"]:hover {
    background: none repeat scroll 0 0 #DADADA;
}
kbd {
    -moz-user-select: none;
    background: -moz-linear-gradient(center top , #F0F0F0, #e1e1e1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0.3em;
    box-shadow: 0 0 1px #FFFFFF inset, 0 0.1em 0 #C8C8C8, 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.4);
    color: #323232;
    cursor: default;
    display: inline-block;
    font: 0.85em/1 "Open Sans","Lucida Grande",Lucida,Arial,sans-serif;
    min-width: 1em;
    padding: 0.2em 0.3em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #FFFFFF;
}
#theme-selector {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
    border-top: 1px solid rgba(80, 80, 80, 0.1);
    bottom: 0;
    box-shadow: 0 -1px 80px 80px rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: normal;
    left: 0;
    padding: 5px 15px;
    position: fixed;
    right: 0;
    z-index: 9999;
}
#theme-selector .label {
    margin-right: 10px;
}
#theme-selector a {
    margin: 0 4px;
}
#theme-selector a.active {
    color: #242320;
    font-weight: bold;
}
#github-banner {
    height: 149px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 149px;
    z-index: 99999;
}
#github-banner a {
    background-color: #333333;
    background-image: -moz-linear-gradient(center bottom , #534E41 3%, #9E9B96 5%, #64625A 7%, #5C5A55 93%, #9E9B96 95%, #534E41 97%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: block;
    font-family: Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans serif;
    font-size: 14px;
    left: 20px;
    padding: 5px 15px 5px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -37px;
    transform: rotate(45deg);
    transform-origin: 0 0 0;
    width: 190px;
    word-spacing: 2px;
}
.selectize-control.repositories .selectize-dropdown [data-selectable] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.selectize-control.repositories .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}
.selectize-control.repositories .selectize-dropdown .by:before {
    content: "by ";
}
.selectize-control.repositories .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}
.selectize-control.repositories .selectize-dropdown .title {
    display: block;
}
.selectize-control.repositories .selectize-dropdown .description {
    display: block;
    font-size: 12px;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.selectize-control.repositories .selectize-dropdown .meta {
    font-size: 10px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.selectize-control.repositories .selectize-dropdown .meta li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
}
.selectize-control.repositories .selectize-dropdown .meta li span {
    font-weight: bold;
}
.selectize-control.repositories:before {
    background: url("../images/spinner.gif") repeat scroll 0 0 / 16px 16px rgba(0, 0, 0, 0);
    content: " ";
    display: block;
    height: 16px;
    margin: -8px 0 0;
    opacity: 0;
    position: absolute;
    right: 34px;
    top: 50%;
    transition: opacity 0.2s ease 0s;
    width: 16px;
    z-index: 2;
}
.selectize-control.repositories.loading:before {
    opacity: 0.4;
}
.parent-291,.parent-292,.parent-296  {
    display: block;
    float: left;
    margin: -2px 5px -2px -6px;
    text-align: center;
    padding: 2px 5px;
    background:#61DB7F;
    color:#fff;
    font-family: "Geneva", serif;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0px 0px 3px hsla(0,0%,0%,.25);
    min-width: 12px;
    border-right:1px solid #AFAFAF;

}
.large-parent{
    padding: 12px 7px;
    clear: both;
    min-width: 20px;
    border:none;
}
.parent-292 {
    background:#DBBD61;
}
.parent-296 {
    background:#61ADDB;
}
.name{
  float: left;
  display: block;
  width: 100%;
}
.name ul,.name ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.path{
  display: block;
  font-size: 11px;
}
.path-name{
  color:#666;
  border-bottom:1px solid #ccc;
  padding:0 2px 2px;
}
.slash{
  color:#555;
}

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.06) !important;
    border: 0 none !important;
    box-shadow: 0 0 12px 4px #FFFFFF inset;
    visibility: visible !important;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder:after {
    content: "!";
    visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
    background: none repeat scroll 0 0 #F8F8F8;
    border-bottom: 1px solid #D0D0D0;
    border-radius: 3px 3px 0 0;
    padding: 7px 10px;
    position: relative;
}
.selectize-dropdown-header-close {
    color: #303030;
    font-size: 20px !important;
    line-height: 20px;
    margin-top: -12px;
    opacity: 0.4;
    position: absolute;
    right: 10px;
    top: 50%;
}
.selectize-dropdown-header-close:hover {
    color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
    -moz-box-sizing: border-box;
    border-right: 1px solid #F2F2F2;
    border-top: 0 none;
    float: left;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
    padding-right: 24px !important;
    position: relative;
}
.selectize-control.plugin-remove_button [data-value] .remove {
    -moz-box-sizing: border-box;
    border-left: 1px solid #B4B4B4;
    border-radius: 0 2px 2px 0;
    bottom: 0;
    color: inherit;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    vertical-align: middle;
    width: 17px;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: #DB6161;
    color:#fff;
}
.selectize-control.plugin-remove_button .active[data-value] .remove {
    border-left-color: #333444;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
    border-left-color: #B4B4B4;
}
.selectize-control {
    position: relative;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 20px;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: text;
    display: inline-block;
}
.selectize-input {
    -moz-box-sizing: border-box;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.selectize-control.multi .selectize-input.has-items {
    padding: 8px 10px 4px;
}
.selectize-input.full {
    background-color: #F2F2F2;
}
.selectize-input.disabled, .selectize-input.disabled * {
    cursor: default !important;
}
.selectize-input.focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}
.selectize-input.dropdown-active {
    border-radius: 3px 3px 0 0;
}
.selectize-input > * {
    display: inline-block;
    vertical-align: baseline;
}
.selectize-control.multi .selectize-input > div {
    background: none repeat scroll 0 0 #B8E76F;
    border: 1px solid #B4B4B4;
    color: #333;
    cursor: pointer;
    margin: 0 4px 4px 0;
    padding: 1px 5px;
}
.selectize-control.multi .selectize-input > div.active {
    background: none repeat scroll 0 0 #92C836;
    border: 1px solid #333444;
    color: #303030;
}
.selectize-control.multi .selectize-input.disabled > div, .selectize-control.multi .selectize-input.disabled > div.active {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #B4B4B4;
    color: #878787;
}
.selectize-input > input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    box-shadow: none !important;
    line-height: inherit !important;
    margin: 0 2px 0 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    min-height: 0 !important;
    padding: 0 !important;
    text-indent: 0 !important;
}
.selectize-input > input:focus {
    outline: medium none !important;
}
.selectize-input:after {
    clear: left;
    content: " ";
    display: block;
}
.selectize-input.dropdown-active:before {
    background: none repeat scroll 0 0 #F0F0F0;
    bottom: 0;
    content: " ";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
}
.selectize-dropdown {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #D0D0D0 #D0D0D0;
    border-image: none;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #D0D0D0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: -1px 0 0;
    position: absolute;
    z-index: 10;
}
.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
    background: none repeat scroll 0 0 rgba(255, 237, 40, 0.4);
    border-radius: 1px;
}
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 7px 10px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
    background: none repeat scroll 0 0 #F8F8F8;
    color: #303030;
    cursor: default;
}
.selectize-dropdown .active {
    background-color: #e1e1e1;
    color: #303030;
}
.selectize-dropdown .active.create {
    color: #303030;
}
.selectize-dropdown .create {
    color: rgba(48, 48, 48, 0.5);
}
.selectize-dropdown-content {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: pointer;
}
.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
    cursor: text;
}
.selectize-control.single .selectize-input:after {
    border-color: #808080 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;
}
.selectize-control.single .selectize-input.dropdown-active:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #808080;
    border-width: 0 5px 5px;
    margin-top: -4px;
}
.selectize-control.rtl.single .selectize-input:after {
    left: 15px;
    right: auto;
}
.selectize-control.rtl .selectize-input > input {
    margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
    background-color: #FAFAFA;
    opacity: 0.5;
}
.selectize-control.multi .selectize-input [data-value] {
    background-color: #ccc;
    background-image: linear-gradient(to bottom, #e1e1e1, #ccc);
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    overflow: hidden;
}
.selectize-control.multi .selectize-input .active[data-value] {
    background-color: #B4B4B4;
    background-image: linear-gradient(to bottom, #B4B4B4, #909090);
    background-repeat: repeat-x;
}
.selectize-control.single .selectize-input {
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #F5F5F5, #EFEFEF);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 2px 0 #E0E0E0, 0 3px 0 #C8C8C8, 0 4px 1px rgba(0, 0, 0, 0.1);
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: #B8B8B8;
}
.selectize-dropdown .optgroup-header {
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    font-size: 0.8em;
    font-weight: bold;
}


/**
 * selectize.default.css (v0.8.2) - Default Theme
 * Copyright (c) 2013 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
/*
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  visibility: visible !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
	  box-shadow: inset 0 0 12px 4px #ffffff;
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  background: #f8f8f8;
  border-bottom: 1px solid #d0d0d0;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
	  border-radius: 3px 3px 0 0;
}

.selectize-dropdown-header-close {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
  font-size: 20px !important;
  line-height: 20px;
  color: #303030;
  opacity: 0.4;
}

.selectize-dropdown-header-close:hover {
  color: #000000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  float: left;
  border-top: 0 none;
  border-right: 1px solid #f2f2f2;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 17px;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-left: 1px solid #0073bb;
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
	  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #00578d;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #aaaaaa;
}

.selectize-control {
  position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-family: inherit;
  font-size: 13px;
  -webkit-font-smoothing: inherit;
  line-height: 18px;
  color: #303030;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  display: inline-block;
  cursor: text;
  background: #ffffff;
}

.selectize-input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding: 8px 8px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
	  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 5px 8px 2px;
}

.selectize-input.full {
  background-color: #ffffff;
}

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}

.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
	  border-radius: 3px 3px 0 0;
}

.selectize-input > * {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  vertical-align: baseline;
  zoom: 1;
}

.selectize-control.multi .selectize-input > div {
  padding: 2px 6px;
  margin: 0 3px 3px 0;
  color: #ffffff;
  cursor: pointer;
  background: #1da7ee;
  border: 1px solid #0073bb;
}

.selectize-control.multi .selectize-input > div.active {
  color: #ffffff;
  background: #92c836;
  border: 1px solid #00578d;
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #ffffff;
  background: #d2d2d2;
  border: 1px solid #aaaaaa;
}

.selectize-input > input {
  max-width: 100% !important;
  max-height: none !important;
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0 1px !important;
  line-height: inherit !important;
  text-indent: 0 !important;
  background: none !important;
  border: 0 none !important;
  -webkit-box-shadow: none !important;
	  box-shadow: none !important;
  -webkit-user-select: auto !important;
}

.selectize-input > input:focus {
  outline: none !important;
}

.selectize-input::after {
  display: block;
  clear: left;
  content: ' ';
}

.selectize-input.dropdown-active::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: #f0f0f0;
  content: ' ';
}

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  margin: -1px 0 0 0;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-top: 0 none;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
	  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.selectize-dropdown [data-selectable] {
  overflow: hidden;
  cursor: pointer;
}

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
	  border-radius: 1px;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
  color: #303030;
  cursor: default;
  background: #ffffff;
}

.selectize-dropdown .active {
  color: #495c68;
  background-color: #f5fafd;
}

.selectize-dropdown .active.create {
  color: #495c68;
}

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}

.selectize-dropdown-content {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}

.selectize-control.single .selectize-input:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-color: transparent transparent #808080 transparent;
  border-width: 0 5px 5px 5px;
}

.selectize-control.rtl.single .selectize-input:after {
  right: auto;
  left: 15px;
}

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled {
  background-color: #fafafa;
  opacity: 0.5;
}

.selectize-control.multi .selectize-input.has-items {
  padding-right: 5px;
  padding-left: 5px;
}

.selectize-control.multi .selectize-input.disabled [data-value] {
  color: #999;
  text-shadow: none;
  background: none;
  -webkit-box-shadow: none;
	  box-shadow: none;
}

.selectize-control.multi .selectize-input.disabled [data-value],
.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  border-color: #e6e6e6;
}

.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  background: none;
}

.selectize-control.multi .selectize-input [data-value] {
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  background-color: #1b9dec;
  background-image: -moz-linear-gradient(top, #1da7ee, #178ee9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
  background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
  background-image: -o-linear-gradient(top, #1da7ee, #178ee9);
  background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
  background-repeat: repeat-x;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
	  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
	  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
}

.selectize-control.multi .selectize-input [data-value].active {
  background-color: #0085d4;
  background-image: -moz-linear-gradient(top, #008fd8, #0075cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008fd8), to(#0075cf));
  background-image: -webkit-linear-gradient(top, #008fd8, #0075cf);
  background-image: -o-linear-gradient(top, #008fd8, #0075cf);
  background-image: linear-gradient(to bottom, #008fd8, #0075cf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008fd8', endColorstr='#ff0075cf', GradientType=0);
}

.selectize-control.single .selectize-input {
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
	  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
  border-color: #b8b8b8;
}

.selectize-dropdown .optgroup-header {
  padding-top: 7px;
  font-size: 0.85em;
  font-weight: bold;
}

.selectize-dropdown .optgroup {
  border-top: 1px solid #f0f0f0;
}

.selectize-dropdown .optgroup:first-child {
  border-top: 0 none;
}*/
