#mainTabContainer .tag-section,
#tagSelect .tag-section,
form#Contact .groupTagsKeywords .tag-section {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 524px;
}

#mainTabContainer ul.token-input-list-facebook,
#tagSelect ul.token-input-list-facebook,
form#Contact .groupTagsKeywords ul.token-input-list-facebook {
    width: 522px;
}

.page-civicrm-admin-tag .tag-section .label,
.page-civicrm-contact .tag-section .label{
  font-size: 120%;
  margin-top: 20px;
}


.tag-label{
  margin: 10px 0 0 0;
  font: bold 16px/21px sans-serif;
}
.tag-label label{
  float: left;
  text-align: left !important;
  margin:10px 0 0;
  width: 100%;
}



#issue-code-search{
  margin:0;
  width: 524px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 8px 0px 8px 8px;
  border: 1px solid #8F8F8F;
  border-bottom:none;
  font-family:Verdana,​Arial,​sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style : normal;
  color: #4D4D4D;
  line-height: 16px;
  vertical-align:  middle;
}
#issue-code-search::-ms-clear {
    display: none;
}
#issue-code-search.placeholder{
  color: #aaa;
}
#issue-code-search:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid #5ee3ff;
  border: 1px solid rgba(81, 203, 238, 1);

}
.page-civicrm-contact-view #issue-code-search{
  margin:15px 0 0 0;
}

form#Contact .groupTagsKeywords ul.token-input-list-facebook {
    width: 517px;
}

.TreeWrap dt .lv-0{
  margin: 10px 10px 0;
  display: none;
}
.TreeWrap{
  min-height: 200px;
  max-height: 310px;
  border: 1px solid #CCCCCC;
  float: left;
  overflow-y:scroll;
  font-size: 1em;
  padding: 10px;
  font-weight: normal;
  width: 100%;
  background:url("/sites/default/themes/Bluebird/images/loading.gif") no-repeat scroll center center #FFFFFF;
  font: normal 14px/21px sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.TreeWrap.loaded{
  background: none repeat scroll 0 0 #FFFFFF !important;
}

.page-civicrm-contact .TreeWrap{
  height: 230px;
  margin-bottom: 30px;
}

.page-civicrm-contact .TreeWrap dt.lv-0{display: none !important;}

.page-civicrm-imap .TreeWrap{
  height: 230px;
}
.page-civicrm-imap .TreeWrap{
  width: 289px;
}



/* Admin page */
.page-civicrm-admin-tag .TreeWrap{
  width: 500px;
  height: 580px;
  min-height: 580px;
  border: none;
  border-left: 1px solid #CCCCCC;
}

.page-civicrm-admin-tag .TreeWrap .hidden{
  display: none;
}

.page-civicrm-admin-tag #crm-tagListWrap{
  width: 100%;
}

/* tabs */
.crm-tagTabHeader, .BBTree-Tags {
  height: 15px;
  clear: both;
}
.crm-tagTabHeader li, .BBTree-Tags li {
  float: left;
  margin-right: 15px;
  background: #D8E0E6;
  border: 1px solid #fff;
  border-bottom: none;
  color: #444;
  list-style: none;
  width: 135px;
  text-align: center;
  cursor: pointer;
  padding: 8px 0;
  margin-top: 2px;

  font-size: 12px !important;
}
.crm-tagTabHeader li:hover, .BBTree-Tags li:hover {
  color: #333;
  background: #ccc;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-top: 2px;

}
.crm-tagTabHeader li.active, .BBTree-Tags li.active {
  background: #fff;
  padding: 9px 0;
  font-size: 15px !important;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  margin-top: 0px;
  border-bottom: 1px solid #fff;

}

/* legend */
#crm-container .crm-tagLegend td div {
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 5px; }
#crm-container .crm-tagLegend td.addTag div {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-position: 0; }
#crm-container .crm-tagLegend td.removeTag div {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-position: -17px 0px; }
#crm-container .crm-tagLegend td.moveTag div {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-position: -34px 0px; }
#crm-container .crm-tagLegend td.updateTag div {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-position: -50px 0px; }
#crm-container .crm-tagLegend td.mergeTag div {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-position: -66px 0px; }
#crm-container .crm-tagLegend td.convertTag div {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  cursor: pointer;
  background-position: -107px 0px; }
#crm-container .crm-tagLegend td.printTag div {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/icons-3e3e3e.png") !important;
  cursor: pointer;
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/icons-3e3e3e.png") !important;
  cursor: pointer;
  background-position: -160px -96px; }
#crm-container .crm-tagLegend th {
  border: 0px; }
#crm-container .crm-tagLegend * {
  border: 0px; }
#crm-container .crm-tagLegend table {
  width: 380px;
  float: right;
  margin-bottom: -10px;
}


.BBTree dt .fCB .checkbox,
.fCB .selectRadio{
  display: auto;
  padding: 1px 3px;
  float: left;
  width: auto;
  cursor:pointer;
}

.BBTree dt .fCB ul,
#BBTreeContainer .BBTree dt .fCB ul,
#BBDialog .BBTree dt .fCB ul {
  margin: 0;
}
.BBTree dt .fCB ul li{
  height: 16px;
  width: 16px;
  float: left;
  margin: 1px 2px 0 0;
  list-style-image: none !important;
  list-style-type: none !important;
  cursor: pointer;
}
.BBTree dt .fCB ul li.addTag{
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  background-position: 0;
}

.BBTree dt .fCB ul li.removeTag{
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  background-position: -17px 0px;
}

.BBTree dt .fCB ul li.moveTag{
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  background-position: -34px 0px;
}
.BBTree dt .fCB ul li.updateTag {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  background-position: -50px 0px;
}
.BBTree dt .fCB ul li.mergeTag {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  background-position: -66px 0px;
}
.BBTree dt .fCB ul li.convertTag {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/fcb.png") !important;
  background-position: -107px 0px;
}
.BBTree dt .fCB ul li.printTag {
  background-image: url("/sites/default/themes/Bluebird/nyss_skin/images/icons-3e3e3e.png") !important;
  background-position: -160px -96px;
}


.BBTree dt:hover,
#BBTreeContainer .BBTree dt:hover,
#BBDialog .BBTree dt:hover {
  background-color: #DEDEDE;
}
.BBTree dt:hover .fCB,
#BBTreeContainer .BBTree dt:hover .fCB,
#BBDialog .BBTree dt:hover .fCB {
  display: inline;
}
.BBTree dt:hover.lv-0,
#BBTreeContainer .BBTree dt:hover.lv-0,
#BBDialog .BBTree dt:hover.lv-0 {
  background-color: transparent;
}
.BBTree dt.subChecked,
#BBTreeContainer .BBTree dt.subChecked,
#BBDialog .BBTree dt.subChecked {
  background-color: #F1F8EB;
  border: 1px dashed #B0D730;
}
.BBTree dt.subChecked:hover,
#BBTreeContainer .BBTree dt.subChecked:hover,
#BBDialog .BBTree dt.subChecked:hover {
  background-color: #DEDEDE;
}
.BBTree dt.checked,
#BBTreeContainer .BBTree dt.checked,
#BBDialog .BBTree dt.checked {
  background-color: #F1F8EB;
  border: 1px solid #B0D730;
}
.BBTree dt.checked:hover,
#BBTreeContainer .BBTree dt.checked:hover,
#BBDialog .BBTree dt.checked:hover {
  background-color: #DEDEDE;
}

.crm-tagListInfo {
    padding:15px;
    float:left;
    width:370px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.tagInfoBody {
    margin-top:15px;
}
.tagInfoBody div {
    margin-top:2px;
    line-height:24px;
}
.crm-tagTreeDisplay {
    float:right;
}
#BBTreeContainer .BBTree {
    border:0;
    border-left:1px solid #ccc;
}
.container #status {
    display:none;
}

.tag_filter_bar  {
  border-bottom: medium none !important;
  padding: 8px !important;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* For search */
#issue-code-empty{
  max-height: 310px;
  min-height: 180px;
  padding: 10px;
  margin: 0;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #FFDCDC;
  border-style: solid;
  border-color: #CD4343;
  border-width: 1px;
  color:#B52B36;
  width: 490px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
.page-civicrm-imap #issue-code-empty{
  width: 255px;
}



#clear {
  background: url("/sites/default/themes/Bluebird/nyss_skin/images/header-search-bg.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
  float: right;
  height: 18px;
  line-height: 1em;
  margin: -30px 3px 0 0;
  padding: 4px 6px;
  position: relative;
  text-indent: -9999em;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 0;
  width: 14px;
  z-index: 10000;
}
#clear.close {
  background-image:url("/sites/default/themes/Bluebird/nyss_skin/images/close.png");
  background-position: 7px 7px;
  background-color: #FFDCDC;
  cursor:pointer;
  border-color: #CD4343;
}
.TreeWrap dt{
  width:100%;
  float: left;
  padding: 0;
  margin:0;
  background: #fff;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.tag-row{
  padding-left:20px;
}

/* Toggling arrow */

.ddControl.treeButton {
  float: left;
  height: 20px;
  margin: 0;
  width: 20px;
  margin-left: -20px;
  background: url("/sites/default/themes/Bluebird/nyss_skin/images/icons-3e3e3e.png") no-repeat -32px -15px;
  cursor: pointer;
}
.ddControl.treeButton.open {
  background-position: -64px -15px;
}

dt.lv-0 .treeButton{
  display: none;
}

.tag-row .tag{
  float: left;
  display: inline;
  padding-left: 5px;
}
.tag-row .name{
  font-weight: normal;
  font-size: 1em;
  display: inline;
}
dt.lv-0 .tag-row .name{
  font-weight: bold;
  margin: 0 0 0 -15px;
}
.tag-row .entityCount{
  float: left;
  background: blue;
}


.tag-row .fCB{
  float: left;
}
.page-civicrm-admin-tag .tag-row .fCB{
  float: right;
}
.tag-row .fCB ul,.tag-row .fCB ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.fCB .printTag,
.fCB .addTag,
.fCB .removeTag,
.fCB .moveTag,
.fCB .updateTag,
.fCB .convertTag,
.fCB .mergeTag{
  display: none;
}

.TreeWrap dt:hover .printTag,
.TreeWrap dt:hover .addTag,
.TreeWrap dt:hover .removeTag,
.TreeWrap dt:hover .moveTag,
.TreeWrap dt:hover .updateTag,
.TreeWrap dt:hover .convertTag,
.TreeWrap dt:hover .mergeTag{
  display: inline;
}

/* Search and Hover styles*/
.TreeWrap .search-hidden{
  display: none;
}
.TreeWrap dt{
  border:solid 1px #fff;
}
.TreeWrap dt.search-parent{
  background-color: #fff;
  border:solid 1px #fff;
}
.TreeWrap dt.subChecked{
  background-color: #E9FCCF;
  border-style:dotted;
  border-width:1px;
  border-color:#fff #ACDB85 #ACDB85 #ACDB85;
}
.TreeWrap dt.search-match,
.TreeWrap dt.search-match.search-parent{
  background-color: #e1e1e1;
  border-style:solid;
  border-width:1px;
  border-color:#fff #A3C297 #A3C297 #A3C297;
}
.TreeWrap dt.checked.search-match,
.TreeWrap dt.checked{
  background-color: #C2E5B3 !important;
  border-style:solid;
  border-width:1px;
  border-color:#fff #AABF8B #AABF8B #AABF8B;
}
.TreeWrap dt.checked.search-match.search-highlighted{
  background-color: #9EBA92 !important;
  border-style:solid;
  border-width:1px;
  border-color:#fff #9EBA92 #9EBA92 #9EBA92;
}
.TreeWrap dt.search-highlighted,
.TreeWrap dt:hover{
  background-color: #A3C297 !important;
  border: 1px solid #2F4A24 !important;
}

.TreeWrap dl.lv-0 {margin: 0 !important;}


/* Dirty indent */
.TreeWrap dt.lv-0{
  padding-left:0;
}
.TreeWrap dt.lv-1{
  padding-left:0;
}
.TreeWrap dt.lv-2{
  padding-left:20px;
}
.TreeWrap dt.lv-3{
  padding-left:30px;
}
.TreeWrap dt.lv-4{
  padding-left:40px;
}
.TreeWrap dt.lv-5{
  padding-left:50px;
}
.TreeWrap dt.lv-6{
  padding-left:60px;
}
.TreeWrap dt.lv-7{
  padding-left:70px;
}
.TreeWrap dt.lv-8{
  padding-left:80px;
}
.TreeWrap dt.lv-9{
  padding-left:90px;
}
.TreeWrap dt.lv-10{
  padding-left:100px;
}
.TreeWrap dt.lv-11,
.TreeWrap dt.lv-12,
.TreeWrap dt.lv-13,
.TreeWrap dt.lv-14,
.TreeWrap dt.lv-15,
.TreeWrap dt.lv-16,
.TreeWrap dt.lv-17,
.TreeWrap dt.lv-18,
.TreeWrap dt.lv-19,
.TreeWrap dt.lv-20{
  padding-left:110px;
}
.crm-form-block .TreeWrap dt{
  width: 100%;
}

/* modals */
.page-civicrm-admin-tag .modal dt{
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.page-civicrm-admin-tag .modal dt .fCB{
  float: left;
  float: left;
  height: 17px;
  width: 25px;
}
.page-civicrm-admin-tag .modal dt.lv-0 .tag-row .name {
  padding-left: 15px;
}

/* Dirty indent */
.page-civicrm-admin-tag .modal dt.lv-0{
  padding-left:0;
}
.page-civicrm-admin-tag .modal dt.lv-1{
  padding-left:0;
}
.page-civicrm-admin-tag .modal dt.lv-2{
  padding-left:20px;
}
.page-civicrm-admin-tag .modal dt.lv-3{
  padding-left:30px;
}
.page-civicrm-admin-tag .modal dt.lv-4{
  padding-left:40px;
}
.page-civicrm-admin-tag .modal dt.lv-5{
  padding-left:50px;
}
.page-civicrm-admin-tag .modal dt.lv-6{
  padding-left:60px;
}
.page-civicrm-admin-tag .modal dt.lv-7{
  padding-left:70px;
}
.page-civicrm-admin-tag .modal dt.lv-8{
  padding-left:80px;
}
.page-civicrm-admin-tag .modal dt.lv-9{
  padding-left:90px;
}
.page-civicrm-admin-tag .modal dt.lv-10{
  padding-left:100px;
}
.page-civicrm-admin-tag .modal dt.lv-11,
.page-civicrm-admin-tag .modal dt.lv-12,
.page-civicrm-admin-tag .modal dt.lv-13,
.page-civicrm-admin-tag .modal dt.lv-14,
.page-civicrm-admin-tag .modal dt.lv-15,
.page-civicrm-admin-tag .modal dt.lv-16,
.page-civicrm-admin-tag .modal dt.lv-17,
.page-civicrm-admin-tag .modal dt.lv-18,
.page-civicrm-admin-tag .modal dt.lv-19,
.page-civicrm-admin-tag .modal dt.lv-20{
  padding-left:110px;
}

