/*wrap block: 11083*/
div.crm-unmatchedmessages-selector,
div.crm-matchedmessages-selector {
  padding: 4px;
  border-radius: 4px;
  background-color: white;
}

table.inbox-messages-selector th:first-child {
  padding-left: 10px;
}

div.crm-contact-form-block-multiactions {
  padding-top: 7px;
}

#crm-container h2.crm-title {
  margin-bottom: 30px;
}
.crm-left {
  float: left;
}
.crm-right {
  float: right;
}
.crm-margin-right {
  margin-right: 10px;
}
.crm-container .paging_full_numbers {
  width: 400px !important;
}
a.button.cancel {
  min-height: 19px;
}
.crm-container table.crm-table-group-summary {
  border: none;
}
.crm-container #match-emails .crm-tooltip-wrapper {
  left: -16px;
}

.emailbubble,
.matchbubble {
  line-height: 14px;
  padding: 2px 4px;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 4px;
  margin-left: 4px;
}
.emailbubble {
  background-color: #dee7f8;
  border: #a3beec solid 1px;
  color: #333539;
}
.matchbubble {
  background-color: #B2E1C2;
  color: #fff;
  font-weight: bold;
}
.matchbubble.match-auto {
  background-color: #999999;
}
.multi {
  background-color: #468847;
}
.match-details {
  font-size: 90%;
}
.match-details-email-row {
  border-bottom: 1px solid #cccccc;
}
.match-details-email-row .label {
  padding-top: 4px;
}
.email_address {
  cursor: pointer;
}
select.crm-entityref-filter-key option[value=contact_type] {
  display: none;
}
.empty {
  background-color: #999;
}
.crm-container .attachment {
  float: right;
}
.message-body {
  max-height: 250px;
  overflow: auto;
  border: 1px solid #dddddd;
  padding: 5px;
  /*margin-right: 8px;*/
}
.message-details {
  font-size: 90%;
}
.message-details div.crm-section {
  margin-bottom: 0;
}
.message-details div.label {
  padding: 2px 6px;
  font-weight: bold;
}
.message-details div.content {
  padding-right: 4px;
}
div.description {
  font-style: italic;
}
.crm-actions {
  min-width: 110px !important;
}

.ui-tabs .ui-tabs-panel {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#mainTabContainer .tag-section {
  margin-left: 19%;
  margin-right: 0;
  margin-bottom: 20px;
  display: inline-block;
}
.tag-label {
  margin-top: 0;
}

.click-message {
  padding: 4px 6px;
  background-color: #EBEE5D;
  color: #AF605E;
  display: none;
  font-weight: bold;
  font-style: italic;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  margin: 6px 0;
}

/*email highlighting*/
.found {
  background: #31546F;
  border: 1px solid #C1C1C1;
  margin: -1px -4px;
  padding: 1px 4px;
  border-radius: 3px;
  display:inline-block;
  color: white;
  cursor: pointer;
}
.found:hover {
  background: #31546F;
  border: 1px solid #A0A0A0;
}

/*name/zip/phone highlighting*/
.found.name {
  background: #69B4EE;
}
.found.name:hover {
  background: #69B4EE;
}
.found.zip {
  background: #477AA2;
}
.found.zip:hover {
  background: #477AA2;
}
.found.phone {
  background: #32333C;
}
.found.phone:hover {
  background: #32333C;
}

/*when viewing existing contacts, reset name/zip/phone*/
.CRM_NYSS_Inbox_Form_AssignContact .found.name,
.CRM_NYSS_Inbox_Form_AssignContact .found.name:hover,
.CRM_NYSS_Inbox_Form_AssignContact .found.zip,
.CRM_NYSS_Inbox_Form_AssignContact .found.zip:hover,
.CRM_NYSS_Inbox_Form_AssignContact .found.phone,
.CRM_NYSS_Inbox_Form_AssignContact .found.phone:hover {
  background: none;
  color: black;
  border: none;
  padding: 0;
  margin: 0;
  cursor: auto;
}
