/*wrap block: 11083*/
div.crm-unmatchedmessages-selector,
div.crm-matchedmessages-selector {
  padding: 4px;
  border-radius: 4px;
  background-color: white;
}

#crm-container h2.crm-title {
  margin-bottom: 30px;
}
.crm-left {
  float: left;
}
.crm-right {
  float: right;
}
.crm-margin-right {
  margin-right: 10px;
}
.crm-container .paging_full_numbers {
  width: 400px !important;
}

.emailbubble,
.matchbubble {
  line-height: 14px;
  padding: 2px 4px;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 4px;
  margin-left: 4px;
}
.emailbubble {
  background-color: #dee7f8;
  border: #a3beec solid 1px;
  color: #333539;
}
.matchbubble {
  background-color: #B2E1C2;
  color: #fff;
  font-weight: bold;
}
.matchbubble.match-auto {
  background-color: #999999;
}
.multi {
  background-color: #468847;
}
.match-details {
  font-size: 90%;
  padding-left: 4px;
}
.match-sort_name {
  width: 200px;
  display: inline-block;
  overflow: hidden;
}
.email_address {
  cursor: pointer;
}
select.crm-entityref-filter-key option[value=contact_type] {
  display: none;
}
.empty {
  background-color: #999;
}
.crm-container .attachment {
  float: right;
}
.message-body {
  max-height: 300px;
  overflow: auto;
  border: 1px solid #999999;
  padding: 5px;
  margin-right: 8px;
}
.message-details {
  font-size: 90%;
}
.message-details div.label {
  background-color: #ddd;
  padding: 2px 6px;
}
.message-details div.content {
  padding-right: 4px;
}
.crm-actions {
  min-width: 110px !important;
}

.ui-tabs .ui-tabs-panel {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#mainTabContainer .tag-section {
  margin-left: 19%;
  margin-right: 0;
  margin-bottom: 20px;
  display: inline-block;
}
.tag-label {
  margin-top: 0;
}

/*email highlighting*/
.found {
  background: rgba(255,230,0, 0.5);
  border: 1px solid #C1C1C1;
  margin: -1px -4px;
  padding: 1px 4px;
  border-radius: 3px;
  display:inline-block;
}
.found:hover {
  background: rgba(255,230,0, 0.8);
  border: 1px solid #A0A0A0;
}
.found.name {
  /* red ffb7b7 */
  background: rgba(255,183,183, 0.5);
}
.found.name:hover {
  background: rgba(255,183,183, 0.8);
}
.found.zip {
  /* blue a8d1ff*/
  background: rgba(168,209,255, 0.5);
}
.found.zip:hover {
  background: rgba(168,209,255, 0.8);
}
.found.phone {
  /* green a8d1ff*/
  background: rgba(196,255,143, 0.5);
}
.found.phone:hover {
  background: rgba(196,255,143, 0.8);
}
