/**
  Main block
 */
.nyss-inbox-report-container {
  background-color: #FFFFFF;
  clear: both;
  display: block;
  float: left;
  padding: 4px;
  position: relative;
  width: 100%;
}

/**
  Header row
 */
.header-title {
  padding-bottom:.6em;
}
.header-title:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.header-title h1 {
  float:left;
  margin: .1em 0 0 .2em;
}

/**
  Date range selector
 */
.date-range-container {
  float: right;
  margin-top: .6em;
  text-align: right;
}
#date_range_relative {
  margin-right: 1.7em;
}

/**
  Stats row
 */
.stats {
  text-align: center;
  margin: 10px 0;
  clear: both;
}
a.stats-overview {
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  vertical-align: top;
  font-size: 1.2em;
  border: 1px solid #cccccc;
  border-radius: .5em;
}
a.stats-overview:hover{
  background: #f2f2f2;
}
a.stats-overview.active{
  background: #C8DEE1;
}
a.stats-overview span {
  padding: 0 0 0 .5em;
  font-weight: bold;
  font-size: 1em;
  color: #444444;
}

/**
  Datatables style overrides
 */
.page-civicrm-nyss-inbox-report .paging-controls {
  float: right;
  width: min-content;
  min-width: 50%;
  max-width: 70%;
  text-align: right;
  white-space: nowrap;
}
.page-civicrm-nyss-inbox-report .length-subset .length {
  display: inline-block;
  white-space: nowrap;
  margin-right: 2em;
}
.page-civicrm-nyss-inbox-report .paging-controls {
  display: inline-block;
  text-align: right;
  white-space: nowrap;
  min-width: 400px;
}
.page-civicrm-nyss-inbox-report .paging-controls .paging_full_numbers {
  width: initial !important;
}
.page-civicrm-nyss-inbox-report .table-controls .filter {
  margin-right: 3em;
  line-height: 1.5em;
}
.page-civicrm-nyss-inbox-report .table-controls .dataTables_filter {
  float: none;
  text-align: initial;
  width: initial;
  padding-top: .5em;
}
.page-civicrm-nyss-inbox-report .table-controls .dataTables_filter input[type="search"] {
  width: 20%;
}
.page-civicrm-nyss-inbox-report .table-controls,
.page-civicrm-nyss-inbox-report .length-subset {
  padding: 4px 20px;
}
.page-civicrm-nyss-inbox-report .length-subset {
  margin-top: 1em;
}
.page-civicrm-nyss-inbox-report .length-subset .dataTables_length {
  width: initial;
  padding-bottom: initial;
}
.page-civicrm-nyss-inbox-report .info {
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  margin-right: 2em;
  vertical-align: middle;
  height: 31px;
  line-height: 25px;
}
.page-civicrm-nyss-inbox-report .paging-controls .dataTables_info {
  float:none;
  width: initial;
}
.page-civicrm-nyss-inbox-report #sortable-results th {
  font-size: 11.4px;
  font-weight: bold;
  vertical-align: middle;
}

/**
  Advanced filter
 */
.advanced-filter-container {
  margin: 0 auto 1em;
  max-width: 95%;
  padding: .5em 1em;
}
.advanced-filter-container.active {
  border: 1px solid #cccccc;
  border-radius: .75em;
}
.advanced-filter-switch {
  cursor: pointer;
}
.advanced-filter-switch:after {
  content: '\f101';
  font-size: 1em;
  height: 1.4em;
  width: 2.5em;
  display: inline-block;
  margin-left: .5em;
  font-family: FontAwesome;
  padding-left: .5em;
  font-weight: bold;
}
.advanced-filter-container.active .advanced-filter-switch:after {
  content: '\f103';
}
.advanced-filters {
  display: none;
}
.advanced-filter-container.active .advanced-filters {
  display: block;
}
.advanced-filter-add label, .advanced-filter-add button {
  margin-right: 2em;
}

/* hover icons for matched/matcher contacts */
.crm-container .nyss-inbox-report-container .icon.mail-merge-icon {
  background-image: url(../img/inbound_email_icons.png);
  display: inline-block;
  float: none;
  margin-right: 0.3em;
}
.crm-container .nyss-inbox-report-container .mail-merge-icon.mail-merge-matched {
  background-position: 0px 0px;
}
.crm-container .nyss-inbox-report-container .mail-merge-icon.mail-merge-unmatched {
  background-position: 0px -16px;
}
.crm-container .nyss-inbox-report-container .mail-merge-icon.mail-merge-cleared {
  background-position: 0px -32px;
}
.crm-container .nyss-inbox-report-container .mail-merge-icon.mail-merge-deleted {
  background-position: 0px -48px;
}
.crm-container .nyss-inbox-report-container .mail-merge-icon.mail-merge-unprocessed {
  background-position: 0px -64px;
}
.crm-container .nyss-inbox-report-container .mail-merge-icon.mail-merge-tags {
  background-position: 0px -80px;
}
.mail-merge-filter-data {
  display:none;
}
.crm-container .mail-merge-hover .crm-tooltip {
  min-width: 150px;
  min-height: 40px;
  padding: 10px;
  background-color: #2f2f2e !important;
}
.filter-item-label, .filter-item-term {
  width:120px;
}
.filter-item-remove {
  border: 1.5px solid #777777;
  line-height: 1em;
  padding: .1em;
  border-radius: .5em;
  text-align: center;
  cursor: pointer;
}
.filter-item-remove:after {
  display:inline-block;
  width:1em;
  height:1em;
  font-family: FontAwesome;
  content: '\f00d';
  pointer-events: none;
}
.advanced-filter-current-item > div {
  display: inline-block;
  margin: 0 0 0 1em;
}
