div#crm-profile-block {
  font-size: 85%;
}
div#crm-profile-block a.select2-choice {
  font-size: 85%;
  padding: 0 0 0 4px;
}
div.ui-dialog {
  min-width: 1000px !important;
}
div.crm-profile-name-new_individual {
  min-width: 320px;
  float: left;
}
form.CRM_Profile_Form_Edit div.message-details {
  float: right;
  max-width: 630px;
}
form.CRM_Profile_Form_Edit div.message-details .content {
  padding-left: 4px;
}
