div#crm-profile-block {
  font-size: 85%;
}
div#crm-profile-block a.select2-choice {
  font-size: 85%;
  padding: 0 0 0 4px;
}
div.ui-dialog {
  min-width: 1000px !important;
}
div.crm-profile-name-new_individual {
  min-width: 310px;
  float: left;
  border-right: 1px solid #aaaaaa;
  margin-bottom: 50px;
}
form.CRM_Profile_Form_Edit div.message-details {
  float: right;
  width: 540px;
  margin-right: 10px;
}
form.CRM_Profile_Form_Edit div.message-details .content {
  padding-left: 4px;
}
form.CRM_Profile_Form_Edit div.crm-submit-buttons {
  overflow: visible !important;
  padding-left: 150px !important;
}
div.ui-dialog-buttonpane {
  margin-top: 0 !important;
  display: none !important;
}
.crm-container.ui-dialog .button.cancel {
  padding: 8px 12px !important;
}
.crm-container.ui-dialog .button.cancel i {
  padding-right: 4px;
}
