;
; BluebirdCRM configuration
;
; Project: BluebirdCRM
; Author: Ken Zalewski
; Organization: New York State Senate
; Date: 2010-10-13
; Revised: 2012-06-16
; Revised: 2013-07-18 - add site.key
; Revised: 2013-09-13 - add imap.activity.status.default
; Revised: 2013-11-02 - add db.login_path; removed http.* parameters
; Revised: 2013-11-15 - add db.insecure_cli_login
; Revised: 2015-08-03 - add imap.{server,opts,mailbox,archivebox}
; Revised: 2015-10-15 - add openleg.api.{key,base} and openleg.template.url
; Revised: 2015-10-28 - add website.url; changed "integration" to "website"
; Revised: 2015-12-28 - add website.use_tunnel
; Revised: 2018-04-17 - add imap.sender.blacklist_file
; Revised: 2018-10-05 - add news.url and multiple ldap.* parameters
; Revised: 2019-02-27 - add geo.provider, geo.api.key, map.provider, map.api.key
; Revised: 2021-02-19 - add public.url.base
;
; This is a sample configuration file, used to illustrate the various
; configuration parameters that can be used to control the setup and
; maintenance of the BluebirdCRM application.
;
; It will NOT work as is.
;
; Note: Double-quotes must be used around any values that contain special
;       characters.
;


; The [globals] section contains settings that apply to all CRM instances
; within this Bluebird installation.

[globals]
; global database settings
; login_path is used by the MySQL 5.6 command line client for security
db.login_path = bluebird
; host, user, and pass are the traditional login parameters, used by PHP
db.host = DBSERVER
db.user = DBUSER
db.pass = DBPASS
; set this parameter to 1 to force execSql.sh to use the insecure CLI options
db.insecure_cli_login = 0
; database names are a concatenation of the prefix and the instance name
db.civicrm.prefix = senate_c_
db.drupal.prefix = senate_d_
db.log.prefix = senate_l_

; global path settings
app.rootdir = /opt/bluebird
data.rootdir = /var/bluebird
drupal.rootdir = /opt/bluebird/drupal
import.rootdir = /var/bluebird/importData

; CRON backup host is of the form [user@]hostname
backup.cron.host = BACKUPSERVER
backup.cron.rootdir = /crmbackups

; Bluebird interface backup directory
backup.ui.dirname = nyss_backup

; global host settings
base.domain =
site.key = SITE_KEY

; global file ownership settings
app.rootdir.owner = bluebird:bluebird
app.rootdir.perms = "u+rw,g+r-w,o-rw"
data.rootdir.owner = www-data:bluebird
data.rootdir.perms = "u+rw,g+r-w,o="
import.rootdir.owner = root:bluebird

; global cache settings
; APC is a PHP extension that caches and optimizes PHP intermediate code
;   see http://pecl.php.net/package/apc
cache.apc = 1
; There are currently three different classes that implement database object
; caching: ArrayCache, Memcache, and Memcached
; ArrayCache is the default.  It caches database objects in the current
; PHP context/memory, but does not persist across multiple HTTP requests.
; Memcache and Memcached requires the memcached server to be running, which
; caches database objects and persists them across multiple HTTP requests.
; Memcache requires the Memcache PHP extension to be installed
;   see http://pecl.php.net/package/memcache
; Memcached requires the Memcached PHP extension to be installed, which also
; requires the libmemcached C library
;   see http://pecl.php.net/package/memcached
cache.db.class = ArrayCache
cache.memcache.timeout = 600

; Geocoding and mapping services (use manageCiviConfig to refresh these values)
geo.provider = SAGE
geo.api.key = APIKEY
map.provider = Google
map.api.key = APIKEY

; global SAGE settings
sage.api.key = APIKEY
sage.api.base = http://sage.nysenate.gov/api/

; global OpenLegislation settings
openleg.api.key = APIKEY
openleg.api.base = https://legislation.nysenate.gov/api
; The URL template is used in the description of position tags.  The {year}
; and {billno} macros will be replaced with the actual bill year and number.
openleg.url.template = https://legislation.nysenate.gov/bill/{year}/{billno}

; global LDAP settings (use manageLdapConfig to refresh these values)
; All of these LDAP parameters are stored in the database (use manageLdapConfig
; to refresh these values) except for ldap.logingroups[.global], which are
; used dynamically at login time
; Each parameter has a comment indicating the table and field affected
;
; ldap_servers.address
ldap.host = ldapHostname
; ldap_servers.port
ldap.port = ldapPortNumber
; ldap_servers.ldap_type
ldap.type = default | openldap | ad | novell_edir
; ldap_servers.bind_method (false = 1/service account bind, true = 3/anonymous)
ldap.anonymous = false
; ldap_servers.binddn
ldap.user = ldapBindAccountUsername
; ldap_servers.bindpw
ldap.pass = ldapBindAccountPassword
; ldap_servers.basedn (serialized array)
ldap.basedn = "ou=SenateAccounts,dc=nysenate,dc=gov"
; ldap_servers.user_attr
ldap.user_attr = cn | uid | sAMAccountName
; ldap_servers.mail_attr
ldap.mail_attr = mail
; ldap_servers.grp_object_cat
ldap.group_class = groupOfNames | group
; ldap_servers.grp_user_memb_attr
; ldap_servers.grp_user_memb_attr_exists
ldap.group_member = memberOf
; ldap_authorization.derive_from_entry_entries
ldap.entries = CRMAnalytics, CRMAdministrator, CRMOfficeAdministrator, CRMOfficeDataEntry, CRMOfficeManager, CRMOfficeStaff, CRMOfficeVolunteer, CRMPrintProduction, CRMSOS
; ldap_authorization.mappings
ldap.mappings = CRMAnalytics|Analytics User, CRMAdministrator|Administrator, CRMOfficeAdministrator|Office Administrator, CRMOfficeDataEntry|Data Entry, CRMOfficeManager|Office Manager, CRMOfficeStaff|Staff, CRMOfficeVolunteer|Volunteer, CRMPrintProduction|Print Production, CRMSOS|SOS, CRMDConferenceServices|Conference Services, CRMRConferenceServices|Conference Services
; This is the only LDAP configuration field that is not stored in the database.
; It is used at runtime as part of the user login process.
; See civicrm/scripts/ldap_group_check.inc for how these are used.
ldap.logingroups.global = CRMAnalytics, CRMAdministrator, CRMPrintProduction, CRMSOS

; URL for the Bluebird News RSS feed
news.url = https://senateonline.nysenate.gov/BluebirdNews.nsf

; global SOLR settings (use manageSolrConfig to refresh these values)
solr.url = http://localhost:8080/solr
solr.read_only = 0
solr.direct_commit = 1
solr.soft_commit = 1

; global SMTP settings (use manageCiviConfig to refresh these values)
smtp.host = smtp.sendgrid.net
smtp.port = 587
; SMTP username and password are configured at the instance level
smtp.auth = 1
smtp.domain = nysenate.gov
; Default "From:" header, which should be overridden in each instance
senator.name.formal = "Bluebird Administrator"
senator.email = bluebird.admin@nysenate.gov

; SendGrid-specific configuration (use manageSendgrid to refresh these values)
sendgrid.username = SENDGRID_MASTER_USER
sendgrid.password = SENDGRID_MASTER_PASS
sendgrid.eventnotify_url = http://example.com/process_events.php
sendgrid.eventnotify_version = 3

; global IMAP settings for inbound email processing
imap.server = webmail.nysenate.gov
imap.port = 143
imap.flags = "/imap/ssl/notls"
imap.mailbox = INBOX
imap.archivebox = Archive
imap.sender.blacklist_file = /opt/bluebird/inbound_blacklist.cfg

; E-mail message settings
; This set of message settings controls template construction.
; They are used only when manageCiviConfig is run to rebuild the templates.
email.font.family = arial
email.font.size = 14
email.font.color = #505050
email.background.color = #ffffff
email.header.include_banner = 1
; email.header.website_url defaults to http://SHORTNAME.nysenate.gov/
email.header.website_url = https://www.nysenate.gov/
email.footer.include_banner = 1
email.footer.include_addresses = 1
; This set of message settings controls dynamic construction of the e-mail
; message as it is about to be sent.  These are known as "extras".
; There are 4 types of extras: whitelist, view-in-browser, opt-out, & share-on
; Include whitelisting language - 1=yes, 0=no
email.extras.include_whitelist = 1
; The actual whitelisting language.  Any occurrence of %SENATOR_EMAIL% will
; be replaced with the value of the "senator.email" parameter.
email.extras.whitelist_html = In order to ensure delivery of emails to your inbox, please add <a href="mailto:%SENATOR_EMAIL%">%SENATOR_EMAIL%</a> to your email address book.
email.extras.whitelist_text = In order to ensure delivery of emails to your inbox, please add %SENATOR_EMAIL% to your email address book.
; The location of the whitelist clause (values can be either 'top' or 'bottom')
email.extras.whitelist_location = top
; Include a "View in Browser" link - 1=yes, 0=no
email.extras.include_browserview = 1
; Include an opt-out/subscription management link - 1=yes, 0=no
email.extras.include_optout = 1
; Include sharing links (eg. "Share on Facebook") - 1=yes, 0=no
email.extras.include_shareon = 1

; global Sendgrid Stats Accumulator settings
accumulator.db.host = sendgrid.nysenate.gov
accumulator.db.port = 3306
accumulator.db.name = sendgridstats
accumulator.db.user = ACCUMUSER
accumulator.db.pass = ACCUMPASS

; global Web Signups settings
; The database connection information for Web Signups
signups.db.host = DBSERVER
signups.db.port = DBPORT
signups.db.name = signups
signups.db.user = DBUSER
signups.db.pass = DBPASS
; The domain and key for the NYSenate.gov xmlrpc API
signups.api.domain = civicrm.nysenate.gov
signups.api.key = APIKEY
; Web Signups reports parameters.
signups.reports.dirname = nyss_signups
signups.reports.date_format = Ymd
signups.reports.name_template = signups_<instance>_<date>.xls
; SMTP message headers for signups reports.
; Use these parameters to specifiy the From:, To:, and BCC: headers.
; Note that "@nysenate.gov" (via smtp.domain) is implied if there is no domain
; portion, and that commas are used to separate multiple e-mail addresses.
; SMTP connection settings come from the smtp.* parameters above.
signups.email.from = "NYSenate Signups Auto Sender" <no-reply-signups@nysenate.gov>
; If signups.email.to is not set, then senator.email is used instead.
signups.email.to = zalewski, biernack, kim
signups.email.bcc = bluebird.admin@nysenate.gov

; other global configuration parameters
search.include_email_in_name = 0
search.include_wildcard_in_name = 0
mailer.batch_limit = 1000
mailer.job_size = 1000
mailer.jobs_max = 10

; for access to the Redmine API
redmine.api.key = API_KEY

; The base URL for Bluebird files that are accessible to the public, such
; as images, CSS/JS files, unsubscribe page, view-in-browser, etc.
public.url.base = https://pubfiles.nysenate.gov

; NYSenate.gov website integration settings
; The canonical website URL
website.url = https://www.nysenate.gov

; If an SSH tunnel must be used to access the website database, then
; website.use_tunnel should be set to 1, and the various ssh and tunnel
; parameters below must be set accordingly.
website.use_tunnel = 1

; If an SSH tunnel is being used to access the website database, it is
; configured below.
; The hostname and username of the server that initiates the SSH tunnel.
website.ssh.host = SSH_HOST
website.ssh.user = SSH_USER
; The local port which is forwarded to the remote port of the tunnel host.
website.tunnel.local.port = 7777
; The hostname of the target of the SSH tunnel.
website.tunnel.remote.host = localhost
; The remote port on the tunnel host to which connections are forwarded.
website.tunnel.remote.port = 3306
; The file path for the SSH tunnel socket control file
website.socket.file = /var/run/bbintegrator

; These values specify the credentials necessary to connect to the database
; for the public website.  These values should reflect any SSH tunnel usage.
website.source.db.host = 127.0.0.1
website.source.db.user = SITE_DBUSER
website.source.db.pass = SITE_DBPASS
website.source.db.port = 7777
website.source.db.name = SITE_DBNAME

; These values specify the credentials necessary to connect to the local
; Bluebird database that stores a local copy of the accumulator.
website.local.db.host = DBSERVER
website.local.db.user = DBUSER
website.local.db.pass = DBPASS
website.local.db.name = senate_web_integration

; Indicates if messages should be archived (default) or deleted after import
website.archive = 1
; sets the logging level for the entire PHP process
website.log.level = 6


; Controls whether or not to display the "District # to Process Exclusions"
; field on the ExportPrintProduction form.
export.use_district_excludes = 0

; nyss_io configuration
;   log_path = Path to directory to store the importData logs
nyss_io.log_path = ABS_PATH

; xhprof configuration
;   profile = 0 or 1 to enable/disable profiling, default disabled
;   memory = 0 or 1 to enable/disable memory profiling, default disabled 
;   cpu = 0 or 1 to enable/disable cpu profiling, default disabled
;   builtins = 0 or 1 to enable/disable profiling of builtins, default enabled
;   ignore[] = 'func_name' to ignore specific functions in profiling. Still 
;              profiles the function's subtree as per normal.
;
; NOTE: www/xhprof requires graphviz to generate callgraphs.
;   see http://pecl.php.net/package/xhprof
xhprof.profile=0
xhprof.memory=0
xhprof.cpu=0
xhprof.builtins=0
xhprof.ignore[]='eval'
xhprof.ignore[]='call_user_func'
xhprof.ignore[]='call_user_func_array'


; The [instance_sets] section contains aliases for groups of CRM instances.
; Its use has become deprecated as Bluebird has come online in production.
; However, the LOCKED instance set is important.

[instance_sets]
civimail = sd99 civimail example
signups = sd99 example
rollout = sd99 krueger mcdonald oppenheimer
sandboxes = example dhill kenz kims sacha
training = training1 training2 training3 training4
; The LOCKED instance set is a special set.  Any instances in this set will
; be skipped by the bluebird_setup.sh script.
LOCKED = krueger mcdonald oppenheimer


; Each CRM instance should have its own section.
; The name must begin with "instance:", as shown below.

[instance:template]
db.basename = template
data.dirname = template
datasets =
ldap.logingroups =

[instance:sd99]
district = 99
db.basename = sd99
data.dirname = sd99files
datasets = sd99
ldap.logingroups = SenatorTest

; imap.accounts is a comma-separated list of IMAP accounts to check for
; inbound e-mail, where each account is of the form:  username|password
imap.accounts = "crmsd99|password"

; imap.validsenders is a comma-separated list of e-mail addresses that are
; authorized to send messages into the CRM inbox.  This augments the list
; of authorized forwarders in the "Authorized Forwarders" group in Bluebird.
imap.validsenders = zalewski@nysenate.gov, zalewski.senate@gmail.com

; imap.activity.status.default is the activity status that gets assigned
; to each activity that is created as a result of a matched inbound e-mail.
; The match could be either automatic (via the inbox polling script), or
; manual (via the Unmatched/Matched screens within Bluebird).
; Possible values are:
;   Completed, Scheduled, Cancelled, Left Message, Unreachable, Draft
; If this parameter is not specified, "Completed" is assumed.
imap.activity.status.default = Completed

; Global parameters can be overridden on a per-instance basis:
db.host = anotherDBHost.nysenate.gov
db.pass = anotherPassword
smtp.username = SMTPUSER
smtp.password = SMTPPASS
senator.name.formal = "Senator Test District"
; senator.email is used for both sending blast e-mails (as the From address)
; and for sending web signup reports (as the To address)
senator.email = "SenatorTest@nysenate.gov"
; If senator.email.replyto is not set, then senator.email is used as the
; Reply-To address.
senator.email.replyto = "do_not_reply@nysenate.gov"
; Up to three office addresses can be specified to be included in the
; e-mail footer template: Albany Office, District Office, and Satellite Office
; Use the pipe character (|) to indicate line breaks.
senator.address.albany = "100 Legislative Office Bldg|Albany, NY 12247|518-455-1000"
senator.address.district = "1 Main Street|Mytown, NY 10101|518-867-5309"
senator.address.satellite = ""
; email.filter.district values:
; 0 | all = do not restrict contacts by district
; 1 | strict = include in-district contacts only
; 2 | fuzzy = include in-district plus unknown-district contacts
email.filter.district = 0
; or  email.filter.district = all
; If signups.email.to is not set, then senator.email is used instead.
signups.email.to = zalewski, crm.sd99@nysenate.gov

[instance:krueger]
district = 26
db.basename = krueger
;datasets = sd26,sd26ext
datasets = sd26all
ldap.logingroups = SenatorKrueger
imap.accounts = crmkrueger
senator.name.formal = "Senator Liz Krueger"
senator.email = "krueger@nysenate.gov"

[instance:mcdonald]
district = 43
db.basename = mcdonald
datasets = sd43
ldap.logingroups = SenatorMcDonald
imap.accounts = crmmcdonald
senator.name.formal = "Senator McDonald"

[instance:oppenheimer]
district = 37
db.basename = oppenheimer
datasets = sd37,sd37ext
ldap.logingroups = SenatorOppenheimer
imap.accounts = crmoppenheimer

[instance:training1]
district = 99
db.basename = training1
datasets = sd99
ldap.logingroups = SenatorTraining
imap.accounts = "crmsd99|pass"

[instance:training2]
district = 99
db.basename = training2
datasets = sd99
ldap.logingroups = SenatorTraining
imap.accounts = crmsd99

[instance:example]
district = 99
db.basename = example
datasets = sd99
ldap.logingroups = SenatorTest
imap.accounts = crmsd99
