    </div>
    </td>
    </tr>
    <tr>
    <td align="center" valign="top">	
    <table style="color:#707070; font-size:12px; line-height:125%;" border="0" cellpadding="20px" cellspacing="0" width="100%">
      <tr>
      <td valign="top" width="50%"><strong>Albany Office:</strong>
      <br/>%ALBANY_OFFICE_INFO%
      </td>
      <td valign="top" width="50%"><strong>District Office:</strong>
      <br/>%DISTRICT_OFFICE_INFO%
      </td>
      </tr>
    </table>
    </td>
    </tr>
    <tr style="background-color:#D8E2EA;">
    <td><a href="http://www.nysenate.gov/" target="_blank"><img src="http://%SERVER_NAME%/sites/%SERVER_NAME%/pubfiles/images/template/footer.png" alt="New York State Senate seal"/></a></td>
    </tr>
  </table>
  </td>
  </tr>
</table>
</center>
</body>
</html>
