<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>{mailing.name}</title>
</head>
<body style="font-family:arial; font-size:14px; color:#505050; background-color:#ffffff;" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tr>
  <td align="center" valign="top">
  <table style="border:1px solid #DDDDDD;" cellpadding="0" cellspacing="0" width="600px">
    <tr>
    <td><a href="http://%INSTANCE%.nysenate.gov" target="_blank"><img src="http://%INSTANCE%.crm.nysenate.gov/sites/%INSTANCE%.crm.nysenate.gov/pubfiles/images/template/header.png" alt="%SENATOR_FORMAL%"/></a></td>
    </tr>
    <tr>
    <td valign="top">
    <div style="padding:20px; text-align:left; line-height:150%;">
