<div
  ng-if="isMainContentVisible()"
  class="civicase__case-tab--people civicase__case-tab__container"
  civicase-case-details-people-tab="item"
  refresh-callback="refresh">
</div>

<!-- Placeholder -->
<div
  ng-if="isPlaceHolderVisible()"
  class="civicase__case-tab--people civicase__case-tab__container">
  <div class="civicase__people-tab">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <a href class="civicase__people-tab-link">
          <div class="civicase__loading-placeholder__oneline" style="width: 8em;"></div>
        </a>
      </li>
      <li role="presentation">
        <a href class="civicase__people-tab-link">
          <div class="civicase__loading-placeholder__oneline" style="width: 8em;"></div>
        </a>
      </li>
    </ul>
    <div class="civicase__people-tab__sub-tab">
      <div class="civicase__people-tab__search">
        <div class="civicase__loading-placeholder__oneline pull-right" style="width: 3em; font-size:35px; margin-bottom: 5px;">
        </div>
        <h3><div class="civicase__loading-placeholder__oneline" style="width: 6em; font-size: 20px; margin-bottom: 5px;"></div></h3>
        <div class="civicase__people-tab__selection">
          <div class="civicase__loading-placeholder__oneline" style="width: 20em; margin-bottom: 5px;"></div>
        </div>
        <div class="civicase__people-tab__select-box">
          <div class="civicase__loading-placeholder__oneline" style="width: 6em; font-size:30px; margin-bottom: 5px;"></div>
        </div>
      </div>
      <div class="civicase__people-tab__filter">
        <div class="civicase__loading-placeholder__oneline" style="width: 60em; margin-bottom: 5px;"></div>
        <div class="civicase__loading-placeholder__oneline" style="width: 5em; font-size:30px; margin-bottom: 5px;"></div>
      </div>
      <table class="civicase__people-tab__table table">
        <thead class="civicase__people-tab__table-header">
          <tr>
            <th class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
            </th>
            <th class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
            </th>
            <th class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
            </th>
            <th class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
            </th>
            <th class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
            </th>
            <th class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
            </th>
          </tr>
        </thead>
        <tbody class="civicase__people-tab__table-body">
          <tr>
            <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
              <div class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 24px; margin-right: 5px;"></div>
              <label>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
              </label>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </th>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
              <div class="civicase__loading-placeholder__oneline" style="width: 0.5em; font-size: 20px;"></div>
            </td>
          </tr>
          <tr>
            <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
              <div class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 24px; margin-right: 5px;"></div>
              <label>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
              </label>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </th>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
              <div class="civicase__loading-placeholder__oneline" style="width: 0.5em; font-size: 20px;"></div>
            </td>
          </tr>
          <tr>
            <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
              <div class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 24px; margin-right: 5px;"></div>
              <label>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
              </label>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column">
              <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
            </td>
            <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
              <div class="civicase__loading-placeholder__oneline" style="width: 0.5em; font-size: 20px;"></div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="civicase__people-tab-counter clearfix">
        <div class="civicase__loading-placeholder__oneline pull-right" style="width: 8em;"></div>
      </div>
    </div>
  </div>
</div>
