<h5 title="{{ ts('%1 block', {1: block.groupTitle || 'Unknown'}) + (block.contact_type ? ' (' + contactTypeLabel(block.contact_type) + ')' : '') }}">
  <i role="img" aria-hidden="true" class="crm-i {{ block.icon || 'fa-question-circle-o' }}"></i>
  <span>{{ block.title || ts('Untitled') }}</span>
</h5>
<div class="btn-group btn-group-xs cse-block-buttons">
  <button type="button" class="btn btn-success-outline" ng-if="block.edit" ng-click="editBlock(block)" title="{{:: ts('Edit custom fields') }}">
    <i role="img" aria-hidden="true" class="crm-i fa-pencil"></i>
  </button>
  <button type="button" class="btn btn-danger-outline"
          title="{{:: ts('Disable %1', {1: block.title}) }}"
          ng-if="col && isSystemBlockTogglable(block)"
          crm-confirm="{type: 'disable', obj: block, message: ts('Block will be removed from the system default layout and the Contact Edit form.')}"
          on-yes="toggleSystemBlock(block)">
    <i role="img" aria-hidden="true" class="crm-i fa-close"></i>
  </button>
  <button type="button" class="btn btn-primary-outline"
          title="{{:: ts('Enable %1', {1: block.title}) }}"
          ng-if="!col && isSystemBlockTogglable(block)"
          crm-confirm="{message: ts('Block will be added to the system default layout and the Contact Edit form.')}"
          on-yes="toggleSystemBlock(block)">
    <i role="img" aria-hidden="true" class="crm-i fa-undo"></i>
  </button>
</div>
<div class="btn-group btn-group-xs cse-block-collapsible-toggle">
</div>
<div class="cse-block-sample">
  <p class="cse-no-sample" ng-if="!block.sample || !block.sample.length">{{:: ts('(No fields)') }}</p>
  <p ng-repeat="sample in block.sample">{{:: sample }}</p>
</div>
