<nav class="navbar navbar-default">
  <div class="container-fluid">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <label for="selected_layout_contact_type">{{:: ts('Show:') }}</label>
        <select id="selected_layout_contact_type" class="form-control crm-auto-width" ng-model="selectedLayout.contact_type" crm-ui-select ng-change="changeContactType(selectedLayout)">
          <option value="">{{:: ts('Contact type') }}</option>
          <option ng-repeat="ct in contactTypes" value="{{ ct.name }}" ng-if="!ct.parent_id">{{ ct.label }}</option>
        </select>
        <span ng-if="selectedLayout.contact_type && selectableSubTypes(selectedLayout.contact_type).length">
          <select multiple placeholder="{{:: ts('Any subtype') }}" class="form-control" ng-model="selectedLayout.contact_sub_type" crm-ui-select>
            <option ng-repeat="ct in selectableSubTypes(selectedLayout.contact_type)" value="{{ ct.name }}">{{ ct.label }}</option>
          </select>
        </span>
        <span ng-if="selectedLayout.contact_sub_type.length > 1">
          <select ng-model="selectedLayout.settings.sub_type_operator" class="form-control crm-auto-width">
            <option value="OR">{{:: ts('Any') }}</option>
            <option value="AND">{{:: ts('All') }}</option>
          </select>
        </span>
        <label for="selected_layout_groups">{{:: ts('To:') }}</label>
        <input id="selected_layout_groups" class="form-control" ng-list ng-model="selectedLayout.groups"
          crm-entityref="{entity: 'Group', api: {id_field: 'name', params: {is_hidden: 0, is_active: 1}}, select: {placeholder: ts('Groups'), multiple: true, allowClear:true, minimumInputLength: 0}}"
        />
      </div>
    </form>
  </div>
</nav>
<div class="panel-inner">
  <contact-layout-edit-tabs contact-type="selectedLayout.contact_type" layout="selectedLayout" defaults="$ctrl.data.tabs || systemTabs"></contact-layout-edit-tabs>
  <div id="cse-block-container" class="crm-flex-box cse-block-container-editable">
    <div id="cse-rows" class="crm-flex-2">
      <div class="cse-row crm-flex-box" ng-repeat="row in selectedLayout.blocks">
        <div class="cse-col cse-layout-col" ng-repeat="(colNum, col) in row">
          <button type="button" class="btn btn-xs btn-danger-outline cse-remove-col" ng-click="removeCol(row, colNum)" title="{{:: ts('Remove column') }}">
            <i class="crm-i fa-close"></i>
          </button>
          <div class="cse-drop" ui-sortable="{connectWith: '.cse-drop', containment: '#cse-block-container', cancel: 'input,textarea,button,select,option,a,.crm-editable-enabled,[contenteditable]'}" ng-model="col">
            <div class="cse-block crm-draggable" ng-repeat="block in col" ng-class="{collapsible: block.collapsible, collapsed: block.collapsed, 'show-title': block.showTitle, 'block-multiple': block.multiple}" ng-include="'~/contactlayout/contactlayout-block.html'"></div>
          </div>
        </div>
        <a class="cse-add-col" href ng-click="addCol(row)" title="{{:: ts('Add column') }}"><i class="crm-i fa-plus"></i></a>
      </div>
      <a class="cse-add-row" href ng-click="addRow()" title="{{:: ts('Add row') }}"><i class="crm-i fa-plus"></i></a>
    </div>
    <div id="cse-palette-col">
      <h4>
        {{:: ts('Blocks') }}
        <div class="btn-group btn-group-sm pull-right">
          <button type="button" class="btn btn-primary" ng-click="newProfile()" title="{{:: ts('Create new block') }}">
            <i class="crm-i fa-plus"></i> {{:: ts('Block') }}
          </button>
        </div>
      </h4>
      <div id="cse-palette" class="cse-col cse-drop" ui-sortable="{connectWith: '.cse-drop', containment: '#cse-block-container', update: enforceUnique, cancel: 'input,textarea,button,select,option,a,.invalid-block'}" ng-model="selectedLayout.palette">
        <div class="cse-block crm-draggable" ng-repeat="block in selectedLayout.palette" ng-class="{'invalid-block': !checkBlockValidity(block)}" ng-include="'~/contactlayout/contactlayout-block.html'"></div>
      </div>
    </div>
  </div>
</div>
