<h5><i class="crm-i {{ block.icon }}"></i> {{ block.title || ts('Unknown block') }}</h5>
<div class="btn-group btn-group-xs">
  <button class="btn btn-success-outline" ng-if="block.edit" ng-click="editBlock(block)" title="{{ ts('Edit block') }}">
    <i class="crm-i fa-pencil"></i>
  </button>
  <button class="btn btn-danger-outline" ng-if="col" ng-click="removeBlock($index, col)" title="{{ ts('Remove block') }}">
    <i class="crm-i fa-close"></i>
  </button>
  <button class="btn btn-danger-outline" ng-if="!col && block.profile_id" ng-click="deleteBlock(block)" title="{{ ts('Delete block') }}">
    <i class="crm-i fa-trash"></i>
  </button>
</div>
<div class="cse-block-sample">
  <p class="cse-no-sample" ng-if="!block.sample || !block.sample.length">{{ ts('(No fields)') }}</p>
  <p ng-repeat="sample in block.sample">{{ sample }}</p>
</div>