<h1 crm-page-title>{{:: ts('Contact Summary Editor') }}</h1>

<div id="contactLayoutEditor" class="crm-flex-box">

  <div id="contactLayoutLayouts">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group btn-group-md pull-right">
          <button type="button" class="btn btn-primary" ng-click="newLayout()" title="{{:: ts('Create new layout') }}">
            <i role="img" aria-hidden="true" class="crm-i fa-plus"></i> {{:: ts('Layout') }}
          </button>
        </div>
        <h2 class="panel-title">
          {{:: ts('Layouts') }}
        </h2>
      </div>
      <div class="panel-body">
        <div class="alert alert-info" ng-if="!deletedLayout">
          <i role="img" aria-hidden="true" class="crm-i fa-sort-amount-desc"></i>
          {{:: ts('Layouts on top have highest priority.') }}
        </div>
        <div class="alert alert-danger cse-deleted-msg" ng-if="deletedLayout">
          {{ ts('Deleted %1', {1: deletedLayout.label}) }}
          <a href ng-click="restoreLayout()" class="pull-right">{{:: ts('Undo') }}</a>
        </div>
        <div class="panel-inner" ui-sortable="{axis: 'y', cancel: 'input,textarea,button,select,option,a,.crm-editable-enabled,[contenteditable]'}" ng-model="$ctrl.data.layouts">
          <div class="cse-layout-item crm-draggable" ng-repeat="layout in $ctrl.data.layouts" ng-class="{'cse-item-selected': layout == selectedLayout}" ng-click="selectLayout(layout)">
            <div class="btn-group btn-group-sm pull-right">
              <button type="button" class="btn btn-info-outline" ng-click="copyLayout($index); $event.stopPropagation();" title="{{:: ts('Copy layout') }}">
                <i role="img" aria-hidden="true" class="crm-i fa-copy"></i>
              </button>
              <button type="button" class="btn btn-danger-outline" ng-click="deleteLayout($index); $event.stopPropagation();" title="{{:: ts('Delete layout') }}">
                <i role="img" aria-hidden="true" class="crm-i fa-trash"></i>
              </button>
            </div>
            <h4 class="cse-layout-item-title" contact-layout-editable ng-model="layout.label">{{ layout.label || ts('Untitled') }}</h4>
            <div class="cse-layout-item-contact_types">{{ ts('Show: %1', {1: showContactTypes(layout)}) }}</div>
            <div class="cse-layout-item-groups">{{ ts('To: %1', {1: showGroups(layout)}) }}</div>
          </div>
          <div class="cse-layout-item cse-layout-system-default" title="{{:: ts('Cannot be moved') }}" ng-class="{'cse-item-selected': !selectedLayout}" ng-click="selectLayout(null)">
            <div class="btn-group btn-group-sm pull-right">
              <button type="button" class="btn btn-info-outline" ng-click="copyDefaultLayout(); $event.stopPropagation();" title="{{:: ts('Copy layout') }}">
                <i role="img" aria-hidden="true" class="crm-i fa-copy"></i>
              </button>
            </div>
            <h4 class="cse-layout-item-title"><i role="img" aria-hidden="true" class="crm-i fa-lock disabled"></i> {{:: ts('System Default') }}</h4>
            <div>{{:: ts('Fallback for all contact types') }}</div>
            <div>{{:: ts('if no other layout applies for the acting user') }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contactLayoutEdit" class="crm-flex-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" >
          <form class="form-inline">
            <div class="btn-group btn-group-md pull-right">
              <button type="submit" class="btn" ng-class="{'btn-primary': !changesSaved && !saving, 'btn-warning': saving, 'btn-success': changesSaved}" ng-disabled="changesSaved || saving" ng-click="save()">
                <i role="img" aria-hidden="true" class="crm-i" ng-class="{'fa-check': !saving, 'fa-spin fa-spinner': saving}"></i>
                <span ng-if="changesSaved">{{:: ts('All Saved') }}</span>
                <span ng-if="!changesSaved && !saving">{{:: ts('Save All') }}</span>
                <span ng-if="saving">{{:: ts('Saving...') }}</span>
              </button>
            </div>
            <div ng-if="!selectedLayout">{{:: ts('System Default') }}</div>
            <div ng-if="selectedLayout" contact-layout-editable ng-model="selectedLayout.label">{{ selectedLayout.label || ts('Untitled') }}</div>
          </form>
        </h2>
      </div>
      <div class="panel-body">
        <div ng-if="selectedLayout" ng-include="'~/contactlayout/contactlayout-canvas.html'"></div>
        <div ng-if="!selectedLayout" ng-include="'~/contactlayout/contactlayout-systemDefault.html'"></div>
      </div>
    </div>
  </div>

</div>
