<div class="alert alert-warning">
  <p>
    {{:: ts('Customizing the system tabs will affect every layout which uses default tabs.') }}
  </p>
</div>
<contact-layout-edit-tabs layout="$ctrl.data" defaults="systemTabs" is-system="true"></contact-layout-edit-tabs>
<div class="alert alert-warning">
  <p>
    {{:: ts("The system default will be shown if no other layout's criteria matches the contact being viewed by the acting user. It displays all blocks enabled on the Contact Edit form; they cannot be rearranged.") }}
  </p>
</div>
<div class="panel-inner">
  <div id="cse-block-container" class="crm-flex-box cse-block-container-system">
    <div id="cse-rows" class="crm-flex-2">
      <div class="cse-row crm-flex-box" ng-repeat="row in systemLayout">
        <div class="cse-col cse-layout-col" ng-repeat="(colNum, col) in row">
          <div>
            <div class="cse-block" ng-repeat="block in col" ng-show="isSystemBlockEnabled(block)" ng-class="{collapsible: block.collapsible, collapsed: block.collapsed, 'show-title': block.showTitle, 'block-multiple': block.multiple}" ng-include="'~/contactlayout/contactlayout-systemBlock.html'"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="cse-palette-col">
      <h4>
        {{:: ts('Disabled Blocks') }}
      </h4>
      <div id="cse-palette" >
        <div class="cse-block" ng-repeat="block in systemBlocks" ng-hide="isSystemBlockEnabled(block)" ng-include="'~/contactlayout/contactlayout-systemBlock.html'"></div>
      </div>
    </div>
  </div>
</div>
