.civicase__case-custom-fields__container {
  &.civicase__summary-tab-tile {
    padding-top: 0;
  }

  civicase-masonry-grid-item:not(:first-child) {
    margin-top: 30px;
  }

  .panel-body {
    border-top: 0 !important;
  }

  .crm-editable-enabled:not(.crm-editable-editing) {
    &:hover {
      border: 2px dashed transparent;
      padding: 24px;
    }
  }

  .crm-case-custom-form-block {
    table {
      width: 100%;
    }
  }

  .crm-submit-buttons {
    border: 0;
    padding: 15px 8px 0;
    text-align: right;
  }

  .crm-form-submit {
    min-width: auto;
    padding: 7px 19px;

    &.cancel {
      padding: 6px 19px;

      &:hover {
        color: $crm-white !important;
      }
    }
  }

  .crm-ajax-container {
    background: $crm-white;
    padding: 20px;

    .crm-block {
      box-shadow: none;
    }
  }

  .custom_field-row {
    label {
      color: $crm-gray-matte;
      font-weight: $font-weight-content !important;
    }

    &:not(:first-child) {
      display: block;
      margin-top: 16px;
    }

    td {
      &:first-child {
        display: block;
        text-align: left;
      }

      &:nth-child(2) {
        display: block;
        margin-left: 7px;

        /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
        textarea,
        .cke {
          width: calc(100% - 4px);
        }

        .select2-arrow {
          padding-right: 20px;
        }

        .crm-form-radio,
        .crm-form-checkbox {
          margin-right: 8px;
          margin-top: -4px;
        }
        /* stylelint-enable max-nesting-depth, selector-max-compound-selectors */
      }
    }
  }
}

.civicase__case-custom-fields {
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.civicase__case-custom-field__label {
  color: $crm-gray-matte;
}

.civicase__case-custom-field__value {
  color: $gray-darker;
}
