.civicase__case-activity-count__popover {
  border: 1px solid $gray-light;
  border-radius: 2px;
  box-shadow: $box-shadow-tooltip;
  padding: 0;
  white-space: nowrap;
  z-index: 11;

  .arrow {
    border-bottom-color: $gray-light;

    &.left {
      left: 20px;
    }
  }
}
