.civicase__checkbox {
  background-color: $crm-white;
  border: 1px solid $crm-grayblue-darker;
  border-radius: 2px;
  box-shadow: $box-shadow-checkbox;
  box-sizing: border-box;
  height: 18px;
  position: relative;
  width: 18px;
}

.civicase__checkbox--checked {
  color: $crm-grayblue-darker;
  font-size: 24px;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 0;
  transition: 0.2s all cubic-bezier(0, 0, 0, 0.4);
  z-index: 10;
}

.civicase__animated-checkbox-card {
  position: relative;
  transition: 0.1s padding-left cubic-bezier(0, 0, 0, 0.4);
  transition-delay: 0.1s;

  .civicase__checkbox--bulk-action {
    cursor: pointer;
    left: 14px;
    opacity: 0;
    position: absolute;
    top: 15px;
    transform: scale(0.3);
    transition: 0.1s all cubic-bezier(0, 0, 0, 0.4);
    transition-delay: unset;
  }
}

.civicase__animated-checkbox-card--expanded {
  padding-left: 30px;
  transition-delay: 0;

  .civicase__checkbox--bulk-action {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
  }
}
