$contact-avatar-size: 30px;

.civicase__contact-card {
  color: $brand-primary;
  display: flex;
}

.civicase__contact-name-container {
  display: flex;
}

.civicase__contact-name,
.civicase__contact-name-additional {
  color: inherit;
  margin-left: 5px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.civicase__contact-icon,
.civicase__contact-icon-additional {
  color: $crm-grayblue-darker;
  font-size: 18px;
  margin-top: 2px;

  &:hover,
  &.civicase__contact-icon--highlighted {
    color: $brand-primary;
    cursor: pointer;
  }

  .material-icons {
    line-height: inherit;
  }
}

.civicase__contact-additional__container {
  margin-left: 8px;
}

.civicase__contact-additional__container,
.civicase__tooltip-popup-list--additional-contacts {
  color: $brand-primary;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .civicase__contact-icon {
    font-size: 18px;
  }

  .civicase__contact-name-additional {
    color: $brand-primary;
  }
}

.civicase__contact-additional__popover {
  border: 1px solid $gray-light;
  border-radius: 0;
  box-shadow: $box-shadow-tooltip;
  cursor: pointer;

  a {
    display: flex !important;
    line-height: 22px;
  }

  .arrow {
    border-bottom-color: $gray-light;
  }

  .popover-content {
    padding: 0;
  }
}

.civicase__contact-additional__list {
  margin: 0;
  padding: 0;

  li {
    height: 34px;
    list-style: none;
    padding: 7px 20px;

    &:hover {
      background: $gray-lighter;
    }

    .civicase__contact-icon {
      vertical-align: middle;
    }

    a {
      text-decoration: none;
    }
  }
}

.civicase__contact-avatar {
  background: $contact-avatar-background;
  min-width: $contact-avatar-size;
  padding: $crm-btn-padding-small-vertical;
  position: relative;
}

.civicase__contact-additional__container--avatar {
  background: $contact-avatar-background;
  margin-left: 0;
  margin-top: -10px;
  min-width: $contact-avatar-size;
  padding: $crm-btn-padding-small-vertical;
}

.civicase__contact-avatar--image {
  background: none;
  padding: 0;
  position: relative;
  z-index: 1;

  img {
    border-radius: 2px;
    height: 25px;
    width: 25px;
  }
}

.civicase__contact-avatar__full-name {
  background: $contact-avatar-background;
  border-radius: $border-radius-base / 2;
  display: none;
  height: $contact-avatar-size;
  left: 0;
  padding: $crm-btn-padding-small-vertical $padding-base-horizontal;
  position: absolute;
  top: 0;
  width: auto;
}

.civicase__contact-avatar--image .civicase__contact-avatar__full-name {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.civicase__contact-avatar--has-full-name:hover {
  // This remove the transparency given by the `.crm_notification-badge` class
  // which the contact card avatar depends on. The transparency is not needed
  // when displaying the contact's full name:
  opacity: 1;

  .civicase__contact-avatar__full-name {
    display: block;
  }

  &.civicase__contact-avatar--image .civicase__contact-avatar__full-name {
    left: $contact-avatar-size - ($border-radius-base / 2);
    padding-left: $padding-small-horizontal + ($border-radius-base / 2);
    z-index: 0;
  }
}

.civicase__contact-card__with-more-fields {
  flex-wrap: wrap;

  .civicase__contact__more-field {
    color: $gray-darker;
  }

  .civicase__contact__break {
    flex-basis: 100%;
    height: 0;
  }

  .civicase__contact-name {
    max-width: initial;
  }
}

.civicase__contact-additional__list__with-more-fields {
  max-height: 300px;
  overflow-y: auto;

  li {
    height: auto;

    &:not(:first-of-type) {
      border-top: 1px solid $gray-light;
    }
  }

  .civicase__contact-name-additional {
    max-width: initial;
  }

  .civicase__contact__more-field {
    margin-top: $basic-gutter;
  }
}
