.civicase__crm-dashboard {
  &__tabs {
    position: relative;
    width: 100%;
    z-index: 1;

    &.affix {
      position: fixed;
      z-index: 11;
    }
  }

  &__myactivities-tab {
    padding: 0;
  }
}
