$form-control-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

.civicase-inline-datepicker__wrapper {
  margin-left: -$padding-base-horizontal - 1px;
  margin-top: -$padding-base-vertical - 1px;

  [civicase-inline-datepicker] {
    border: 1px solid transparent;
    border-radius: $input-border-radius;
    height: $input-height-base;
    padding: $padding-base-vertical $padding-base-horizontal;
    width: 140px !important;
  }

  .form-control {
    box-shadow: none;
    display: inline-block;
  }

  .form-control.ng-invalid {
    background-color: $light-danger;
  }

  .addon {
    margin-top: -3px !important;
    opacity: 0;
    transition: opacity 0.15s;
  }

  &:hover,
  &:active,
  &:focus {
    [civicase-inline-datepicker] {
      border: 1px solid $crm-grayblue-darker;
    }

    .form-control {
      box-shadow: $form-control-box-shadow;
    }

    .addon {
      opacity: 1;
    }
  }

  .civicase__inline-datepicker--open {
    border: 1px solid $crm-grayblue-darker;
    box-shadow: $form-control-box-shadow;
  }

  [civicase-inline-datepicker]:focus + .addon,
  [civicase-inline-datepicker]:active + .addon {
    opacity: 1;
  }
}
