.civicase__tooltip__popup {
  border: 1px solid $gray-light;
  border-radius: 2px;
  box-shadow: $box-shadow-tooltip;
  padding: 0;
  z-index: 5;

  .arrow {
    border-bottom-color: $gray-light;

    &.left {
      left: 20px;
    }
  }
}

.civicase__tooltip__ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
