.main-container {
	position: relative;
	margin-top:5px;
	}

#header-access {
	position: absolute;
	top:0px;
	right: 8px;
	}

#breadcrumb { 
    position: absolute;
    top:0px;
    left:3px;
    width:50%;
    font-size:11px;
    z-index:14;
    color:#3e3e3e;
    }
    #breadcrumb a {color:#2786C2;}
    #breadcrumb a.crm-summary-link {display:none;}

#edit-profile {
	position: absolute;
	top:0px;
	right: 96px;
	}

.logout-icon { background-position: 0 -63px; }

#civi-admin-menu {
	position: fixed;
	top:3px;
	left:4px;
	cursor:pointer;
	display: none;
	}
	
	#civi-admin-menu .add-icon {background-image: url(images/icons-4EBAFF.png);}

#civicrm-menu {display: none;}

/* search forms section */
.civi-search-section {
	width:465px;
	font-family: Verdana, Sans;
	font-size:14px;
	color: #3e3e3e;
	height:68px;
	position:relative;
	z-index: 12;
	}

.civi-contact-search {
	position: absolute;
	top:15px;
	left: 0px;
	}

.civi-general-search {
	position: absolute;
	top:15px;
	left: 240px;
	}

.civi-search-title {
color:#5077A7;
font-size:12px;
font-weight:normal;
padding-left:2px;
    
    }

.civi-contact-search,
.civi-general-search {
	width: 222px;
	}
.civi-search-section .input-wrapper	{
	background:transparent url(images/header-search-bg.gif) no-repeat top left;
	padding:0 5px;
	height:27px;
	}
	
	.civi-search-section #gen-search-wrapper input.form-submit {
	   background:transparent none repeat scroll 0 0;
       color:transparent;
       height:23px;
       position:absolute;
       right:2px;
       top:20px;
       width:15px;
	   text-indent: -1000px;
	   border: none;
	   }
	#find_contacts {
	   background:transparent none repeat scroll 0 0;
       color:transparent;
       height:23px;
       position:absolute;
       right:2px;
       top:20px;
       width:15px;
	   text-indent: -1000px;
	   border: none;
	   }   
.civi-search-section .input-wrapper input {
	color:#B2B2B2;
	width:190px;
	padding:4px 20px 5px 0;
	margin:0px;
	}
	.civi-search-section .input-wrapper input.input-active { color:#3e3e3e;}

#civi_sort_name,
#civi_text_search {
	margin:0px;
	border:0px;
	margin-bottom:4px;
	background-color: transparent;
	outline:none;
	}

.civi-search-section .input-wrapper input.ac_loading,
.civi-navigation-section .crm-loading .icon {
	background:transparent url(images/header-search-active.gif) no-repeat center right;
	}

.crm-advanced_search_form-accordion>div.crm-accordion-body {
    border: none;
    }

/* menu functions */

.crm-link-home,
#menu-logout {display: none;}

.civi-menu li.crm-Administer {
    float: right;
    margin-right: 140px;
    }

#crm-container #crm-contact-actions-list {width:auto!important;}

.civi-navigation-section {
	margin-bottom:2px;
	position: relative;
	z-index: 5;
	}

.civi-advanced-search-link-inner {
	width:214px;
	}

.civi-advanced-search-link,
.civi-advanced-search-button {
	color:#FFF;
	background-color: #457AA4;
	float: left;
	padding:2px 4px;
	}


.civi-advanced-search-link .crm-accordion-pointer,
.civi-advanced-search-button .crm-accordion-pointer {
	background-position: -32px -16px;
	background-image:url(images/icons-FFFFFF.png) ;
	}
.civi-adv-search-linkwrap-active .crm-accordion-pointer {
	background-position: -64px -16px;
	background-image:url(images/icons-3e3e3e.png) ;
	}
.civi-adv-search-body .crm-master-accordion-header {display: none;}

input.dateplugin,
#crm-container input.dateplugin {
    background:white url(images/cal.png) no-repeat scroll right center;
    padding-right:16px;
    width:9em;
    }
.hiddenElement {
    display:none;
    }
.ui-datepicker {
    z-index:1000;
    }


.civi-menu {
	color:#FFF;
	background-color: #457AA4;
	margin-left: 240px;
	height:22px;
	position: relative;
	font-family: Verdana, Sans;
	}

.civi-menu .primary-link {
	float:left;
	margin-right:8px;
	}

.civi-menu .main-menu-item,
.civi-menu a.main-menu-item  { 
	padding: 2px 8px;
	color:#FFF;
	display: inline-block;
	cursor: pointer;
	}

.civi-menu a.active {
	background-color: #405362;
	padding-bottom: 5px;
	}
	.civi-menu a.active .link-icon {background-position: -192px -31px;}

.primary-link {position: relative;padding-bottom:1px;}
.primary-link .menu-container {
	left:0;
	position:absolute;
	top:23px;
	width:190px;
	display: none;
	background-color: #405362;
	z-index: 100;
	font-size: 11px;
	}

.create-link {
	position: absolute;
	top:37px;
	left: 480px;
	font-size:12px;
	color:#FFF;
	padding: 4px;
	background-color: #457AA4;
	}
	#create-link {
		cursor:pointer;
		width:68px;
		display: inline-block;
		}

.primary-link .menu-container ul {
	margin:4px 4px 8px 4px;
	}
.primary-link .menu-container li {
	list-style: none;
	padding: 2px 0px;
	}

.civi-admin-block a,	
.primary-link .menu-container li a,
#civicrm-menu li a, 
#root-menu-div li a { color:#7FCDFE;}
.primary-link .menu-container li a:hover,
#civicrm-menu li a:hover, 
#root-menu-div li a:hover {color:#FFF;}

.primary-link .menu-container li.menu-separator,
li.menu-separator {
	border-bottom:1px solid #6F6F6C;
	padding: 0px;
	margin:4px 4px 0 4px;
	}
img.menu-item-arrow {
    position:absolute;
    right:1px;
    top:8px!important;
    }
.primary-link-active {background-color: #405362;}

.primary-link-active .menu-container {display:inline-block;}

#civi-custom-search-link {width:142px;}

#reports-link {width: 77px;}

#civi-admin-link {width:97px;}

#printer-friendly {float: right;margin:2px 6px 0 0;}

#printer-friendly .ui-icon-print {background-image:url(images/icons-FFFFFF.png) ;}


#bluebirds {
    background:transparent url(images/bluebirds.png) no-repeat scroll left top;
    height:41px;
    position:absolute;
    right:227px;
    top:30px;
    width:87px;
    z-index:6;
    }
#crm-seal {
    background:transparent url(images/seal-bluebird.png) no-repeat scroll left top;
    width:160px;
    height:55px;
    margin-top:10px;
    float: left;
    }
#crm-container .footer .col1 {
	width: auto;
}
/* adv search */
.civi-adv-search-linkwrap {
	cursor: pointer;
	}
.civi-adv-search-linkwrap-active {
	padding-bottom:4px;
	background-color: #E6E6DC;
	color:#3e3e3e;
	}
.civi-adv-search-body {
	margin-top:2px;
	display: none;
	}

.civi-adv-search-body table td {vertical-align: top;}

#crm-container .crm-advanced_search_form-accordion .section .label {
    float: none;
    text-align: left;
    }

#crm-container .crm-advanced_search_form-accordion .section .content {
    margin-left:0px;
    }

/* contact edit form */

#crm-container #contactDetails table {margin-bottom:2px;}

#contactDetails td {
    padding:1px;
    }
#contactDetails input[type="text"], 
#contactDetails input[type="password"], 
#contactDetails input.text, 
#contactDetails input.title, 
#contactDetails textarea, 
#contactDetails select {
    margin:0 0 2px 0;
    }    


/* contact summary */
/*#crm-container div#contactTopBar td.label {width:auto;}*/
#crm-container  #mainTabContainer .friend-of-senator {
    border-top:5px solid #FBCA54 !important;
	border-bottom:5px solid #FBCA54 !important;
}


/* bulk tagging box */

#crm-container .listing-box { 
  max-height: 500px;
  min-height: 125px;
}

/* twitter dashlet icons */
#crm-container .column-1 .widget-icon {background-image:url(images/icons-FFFFFF.png) ;}


/* admin block */
.civi-admin-block-wrapper {
	position: absolute;
	top:23px;
	z-index: 100;
	display: none;
	right: 0px;
	padding-bottom: 100px;	
	}
.civi-admin-block {
	background-color: #405362;
	padding:4px;
	min-width: 300px;
	}

.civi-admin-block .crm-title,
.civi-admin-block #civicrm-footer,
.civi-admin-block #access { display:none;}

.admin-link { float:right;margin-right:95px}

.civi-menu .crm-loading-element  {
	padding-left:30px;
	height:30px;
	background: transparent url("images/loading-405362.gif") no-repeat 0px 0px;
	}
	
/* rounding the corners */
input.form-submit,
.create-link,
.account-info-wrapper,
.ac_results-inner,
.civi-advanced-search-link,
.civi-advanced-search-button,
.civi-menu,
.civi-admin-block,
.civi-search-section .input-wrapper,
.not-logged-in #block-user-login #edit-submit,
.standard-container	
{-moz-border-radius: 4px; -webkit-border-radius: 4px;   -khtml-border-radius: 4px; border-radius:4px; }

.civi-adv-search-body,
div.outerbox,
.primary-link .menu-container {
	-moz-border-radius: 	0px 4px 4px 4px; 
	-webkit-border-radius: 	0px 4px 4px 4px;   
	-khtml-border-radius: 	0px 4px 4px 4px; 
	border-radius:			0px 4px 4px 4px;
	-webkit-border-top-left-radius: 	0px;
	-webkit-border-top-right-radius: 	4px;
	-webkit-border-bottom-left-radius: 	4px;
	-webkit-border-bottom-right-radius: 4px; 
	}

.crm-Custom_Search {
	-moz-border-radius: 	4px 0px 0px 0px; 
	-webkit-border-radius: 	4px 0px 0px 0px;   
	-khtml-border-radius: 	4px 0px 0px 0px; 
	border-radius:			4px 0px 0px 0px; 
	-webkit-border-top-left-radius: 	4px;
	-webkit-border-top-right-radius: 	0px;
	-webkit-border-bottom-left-radius: 	0px;
	-webkit-border-bottom-right-radius: 0px; 
	}

#crm-container .column-1 .widget-header,
.civi-adv-search-linkwrap-active,
#footer #dashboard-link-wrapper {
	-moz-border-radius: 	4px 4px 0px 0px; 
	-webkit-border-radius: 	4px 4px 0px 0px;   
	-khtml-border-radius: 	4px 4px 0px 0px; 
	border-radius:			4px 4px 0px 0px; 
	-webkit-border-top-left-radius: 	4px;
	-webkit-border-top-right-radius: 	4px;
	-webkit-border-bottom-left-radius: 	0px;
	-webkit-border-bottom-right-radius: 0px; 
	}

#crm-container .column-1 .widget-content {
	-moz-border-radius: 	0px 0px 4px 4px; 
	-webkit-border-radius: 	0px 0px 4px 4px;   
	-khtml-border-radius: 	0px 0px 4px 4px; 
	border-radius:			0px 0px 4px 4px; 
	-webkit-border-top-left-radius: 	0px;
	-webkit-border-top-right-radius: 	0px;
	-webkit-border-bottom-left-radius: 	4px;
	-webkit-border-bottom-right-radius: 4px; 
	}
	
