<div
  class="panel panel-default panel-strip-primary civicase__case-card civicase__case-card--detached"
  ng-style="{'border-left-color': data.color}"
  ng-class="{
    'civicase__case-card--closed': data.status === 'Resolved',
    'civicase__case-card--active': $parent.viewingCaseId === data.id
  }">
  <div class="panel-body">
    <div class="civicase__case-card__row civicase__case-card__row--primary clearfix">
      <div class="pull-left civicase__case-card-subject">{{ data.subject }}</div>
      <div class="pull-right">
        <span> {{ ts('Case ID :') }} </span>
        <strong> {{ data.id }} </strong>
        <strong ng-if="data['case_type_id.is_active'] === '0'">Disabled</strong>
        <span class="civicase__pipe" ng-if="data['case_type_id.is_active'] === '0'" > | </span>
        <strong> {{ data.status }} </strong>
        <span class="civicase__pipe"> | </span>
        <span>
          <span>Last Activity: </span>
          <span
            class="civicase__case-card__date"
            ng-class="{'civicase__overdue-activity-icon': data.activity_summary.milestone[0].is_overdue}"
            >
            {{ data.activity_summary.last[0].activity_date_time ?
              formatDate(data.activity_summary.last[0].activity_date_time, 'DD/MM/YYYY')
              : ''
            }}
          </span>
        </span>
      </div>
    </div>
    <div class="civicase__case-card__row civicase__case-card__row--secondary clearfix" ng-if="showContactRole">
      <div class="pull-left civicase__case-card-role-container">
        <i class="material-icons">link</i>
        <span> Contact Role: </span>
        <span class="civicase__case-card-role"> {{ civicaseTs(data.contact_role) }}</span>
      </div>
    </div>
  </div>
</div>
