<div class="civicase__people-tab civicase__case-tab-container">
  <div crm-ui-debug="allRoles"></div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: tab == 'roles'}"><a href class="civicase__people-tab-link" ng-click="setTab('roles')">{{ ts('Case Roles') }}</a></li>
    <li role="presentation" ng-class="{active: tab == 'relations'}"><a href class="civicase__people-tab-link" ng-click="setTab('relations')">{{ ts('Other Relationships') }}</a></li>
  </ul>
  <!-- End Nav Tabs -->
  <!-- Case Role Tab -->
  <div class="civicase__people-tab__sub-tab" ng-show="tab == 'roles'">
    <div class="civicase__people-tab__search">
      <div class="btn-group btn-group-md pull-right">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">add_circle</i>{{ ts('Add Case Role') }}
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li ng-if="allowMultipleCaseClients">
            <a href ng-click="assignRoleOrClient()">{{ ts('Client') }}</a>
          </li>
          <li ng-repeat="role in allRoles">
            <a href ng-click="assignRoleOrClient(role)">{{ role.role }}</a>
          </li>
        </ul>
      </div>
      <h3>{{ ts('%1 Contacts', {1: getCountOfRolesWithContacts(roles)}) }}</h3>
      <div class="civicase__people-tab__selection">
        <span> {{ ts('Select Records:') }} </span>
        <input type="radio" value="all" ng-model="rolesSelectionMode" id="rolesSelectionMode-all" />
        <label for="rolesSelectionMode-all" class="people-selection-radio">{{ ts('All %1 records', {1: getCountOfRolesWithContacts(roles)}) }}</label>
        <input type="radio" value="checked" ng-model="rolesSelectionMode" id="rolesSelectionMode-checked"/>
        <label for="rolesSelectionMode-checked" class="people-selection-radio">Selected records only</label>
      </div>
      <div class="civicase__bulkactions-actions-dropdown">
        <div class="btn-group">
          <button
            type="button" class="btn btn-default"
            ng-disabled="!getSelectedContacts('roles').length"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ ts('Actions') }}
          </button>
          <button
            type="button" class="btn btn-default dropdown-toggle"
            ng-disabled="!getSelectedContacts('roles').length"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="(key, opt) in contactTasks">
              <a href ng-click="doBulkAction(key, opt)">
                {{ ts(opt.title) }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="civicase__people-tab__filter">
      <paging
        class="center-block paging-top"
        page="rolesPage"
        page-size="25"
        total="rolesCount"
        ng-show="rolesCount > 25"
        show-prev-next="true"
        show-first-last="true"
        text-first="{{ ts('<< First') }}"
        text-last="{{ ts('Last >>') }}"
        text-next="{{ ts('Next >') }}"
        text-prev="{{ ts('< Prev') }}"
      >
      </paging>
      <div>
        <a ng-repeat="letter in letters" class="civicase__people-tab__filter-alpha-pager" ng-class="{active: letter === rolesAlphaFilter}" ng-click="setLetterFilter(letter, 'roles')">{{ letter }}</a>
        <a href class="all" ng-click="setLetterFilter('', 'roles')">All</a>
      </div>
      <div class="civicase__people-tab__filter-role">
        <select class="form-control" ng-model="rolesFilter" crm-ui-select>
          <option value="">{{ ts('All Roles') }}</option>
          <option value="client">{{ ts('Client') }}</option>
          <option ng-repeat="role in allRoles" value="{{ role.name }}">{{ role.role }}</option>
        </select>
      </div>
    </div>
    <div>
    </div>
    <table class="civicase__people-tab__table table">
      <thead class="civicase__people-tab__table-body">
        <tr>
          <th class="civicase__people-tab__table-column">{{ ts('Role') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Name') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Start date') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Phone') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Email') }}</th>
          <th class="civicase__people-tab__table-column civicase__people-tab__table-column--last"></th>
        </tr>
      </thead>
      <tbody class="civicase__people-tab__table-body">
        <tr class="contact--{{role.contact_id}}" ng-repeat="role in roles track by $index" ng-if="!isRolesLoading" ng-class="{unassigned: !role.contact_id}">
          <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
            <span ng-if="role.contact_id" class="civicase__checkbox" >
              <input id="select-role-{{ $index }}" class="civicase__people-tab__table-checkbox" type="checkbox" ng-model="role.checked" ng-click="setSelectionMode('checked', 'roles')" />
              <i ng-if="role.checked" class="civicase__checkbox--checked material-icons">check_box</i>
            </span>
            <label for="select-role-{{ $index }}">
              <div><strong>{{ role.role }}</strong></div>
              <div><em>{{ role.description }}</em></div>
              <div>{{ role.desc }}</div>
            </label>
          </td>
          <td class="civicase__people-tab__table-column">
            <a ng-if="role.contact_id" ng-href="{{ 'civicrm/contact/view' | civicaseCrmUrl:{ cid: role.contact_id } }}">{{ role.display_name }}</a>
            <span ng-if="!role.contact_id">{{ ts('Unassigned')  }}</span>
          </td>
          <td class="civicase__people-tab__table-column">{{ role.start_date ? formatDate(role.start_date) : '' }}</td>
          <td class="civicase__people-tab__table-column">{{ role.phone }}</td>
          <td class="civicase__people-tab__table-column">{{ role.email }}</td>
          <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
            <div class="civicase__people-tab__table-assign-icon"
              ng-if="!role.contact_id"
              ng-click="assignRoleOrClient(role)"
            >
              <i class="fa fa-user-plus"></i>
            </div>
            <div ng-if="role.contact_id" class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href ng-click="replaceRoleOrClient(role)">{{ ts('Reassign %1', {1: role.role}) }}</a>
                </li>
                <li ng-if="role.relationship_type_id || allowMultipleCaseClients">
                  <a href ng-click="assignRoleOrClient(role)">{{ ts('Add Another %1', {1: role.role}) }}</a>
                </li>
                <li ng-if="role.relationship_type_id || item.client.length > 1">
                  <a href ng-click="unassignRole(role)">{{ ts('Remove %1', {1: role.role}) }}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li ng-if="role.email">
                  <a class="crm-popup" ng-href="{{ 'civicrm/activity/email/add' | civicaseCrmUrl:{ action: 'add', caseid: item.id, reset: 1, cid: role.contact_id } }}">{{ ts('Send Email') }}</a>
                </li>
                <li>
                  <a class="crm-popup" ng-href="{{ 'civicrm/activity/pdf/add' | civicaseCrmUrl:{ action: 'add', caseid: item.id, reset: 1, cid: role.contact_id, context: 'standalone' } }}">{{ ts('Print/Merge Document') }}</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr
          ng-repeat="i in [1, 2, 3]"
          ng-if="isRolesLoading"
          ng-include="'~/civicase/case/details/people-tab/directives/case-details-people-tab-placeholder.html'"
        ></tr>
        <tr ng-if="!roles.length && !isRolesLoading">
          <td colspan="9" class="text-center">
            <button class="btn btn-default" disabled>
              {{ ts('None Found') }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="civicase__people-tab-counter clearfix">
      <div class="pull-right">{{ ts('Page %1 of %2', {1: rolesPage, 2: ceil(rolesCount / 25)}) }}</div>
      <paging
        class="center-block"
        page="rolesPage"
        page-size="25"
        total="rolesCount"
        ng-show="rolesCount > 25"
        show-prev-next="true"
        show-first-last="true"
        text-first="{{ ts('<< First') }}"
        text-last="{{ ts('Last >>') }}"
        text-next="{{ ts('Next >') }}"
        text-prev="{{ ts('< Prev') }}"
      >
      </paging>
    </div>
  </div>
  <!-- End Case Roles Tab -->
  <!-- Case Relationship tab -->
  <div class="civicase__people-tab__sub-tab" ng-show="tab == 'relations'">
    <div class="civicase__people-tab__search">
      <div class="btn-group btn-group-md pull-right">
        <a ng-if="item.client.length === 1" class="btn btn-primary crm-popup" crm-popup-form-success="getRelations()" ng-href="{{ 'civicrm/contact/view/rel' | civicaseCrmUrl:{ action: 'add', reset: 1, cid: item.client[0].contact_id } }}">
          <i class="material-icons">add_circle</i>{{ ts('Relationship') }}
        </a>
        <button ng-if="item.client.length > 1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="material-icons">add_circle</i>{{ ts('Relationship') }} <span class="caret"></span>
        </button>
        <ul ng-if="item.client.length > 1" class="dropdown-menu dropdown-menu-right" crm-popup-form-success="getRelations()">
          <li ng-repeat="client in item.client">
            <a class="crm-popup" ng-href="{{ 'civicrm/contact/view/rel' | civicaseCrmUrl:{ action: 'add', reset: 1, cid: client.contact_id } }}">
              {{ client.display_name }}
            </a>
          </li>
        </ul>
      </div>
      <h3>{{ ts('%1 Contacts', {1: relations.length}) }}</h3>
      <div class="civicase__people-tab__selection">
        <span> {{ ts('Select Records:') }} </span>
        <input type="radio" value="all" ng-model="relationsSelectionMode" id="relationsSelectionMode-all"/>
        <label for="relationsSelectionMode-all">{{ ts('All %1 Contacts', {1: relations.length}) }}</label>
        <input type="radio" value="checked" ng-model="relationsSelectionMode" id="relationsSelectionMode-checked"/>
        <label for="relationsSelectionMode-checked">{{ ts('%1 Selected', {1: getSelectedContacts('relations', true).length}) }}</label>
        <div class="civicase__people-tab__select-box">
          <select class="form-control " crm-ui-select ng-model="relationsSelectedTask" ng-change="doContactTask('relations')" ng-disabled="!getSelectedContacts('relations').length" >
            <option value="">{{ ts('Actions') }}</option>
            <option ng-repeat="(key, opt) in contactTasks" value="{{ key }}">{{ opt.title }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="civicase__people-tab__filter">
      <paging
        class="center-block paging-top"
        page="relationsPage"
        page-size="25"
        total="relationsCount"
        ng-show="relationsCount > 25"
        show-prev-next="true"
        show-first-last="true"
        text-first="{{ ts('<< First') }}"
        text-last="{{ ts('Last >>') }}"
        text-next="{{ ts('Next >') }}"
        text-prev="{{ ts('< Prev') }}"
      ></paging>
      <div>
        <a ng-repeat="letter in letters" class="civicase__people-tab__filter-alpha-pager" ng-class="{active: letter === relationsAlphaFilter}" ng-click="setLetterFilter(letter, 'relations')">{{ letter }}</a>
        <a href class="all" ng-click="setLetterFilter('', 'relations')">All</a>
      </div>
    </div>
    <table class="civicase__people-tab__table table">
      <thead class="civicase__people-tab__table-body">
        <tr>
          <th class="civicase__people-tab__table-column">{{ ts('Name') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Relationship') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Description') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Client') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Phone') }}</th>
          <th class="civicase__people-tab__table-column">{{ ts('Email') }}</th>
          <th class="civicase__people-tab__table-column civicase__people-tab__table-column--last"></th>
        </tr>
      </thead>
      <tbody class="civicase__people-tab__table-body">
        <tr ng-repeat="contact in relations" ng-if="!isRelationshipLoading">
          <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
            <span class="civicase__checkbox">
              <input type="checkbox" id="select-relation-{{ $index }}" class="civicase__people-tab__table-checkbox" ng-model="contact.checked" ng-click="setSelectionMode('checked', 'relations')" />
              <i ng-if="contact.checked" class="civicase__checkbox--checked material-icons">check_box</i>
              <label for="select-relation-{{ $index }}"></label>
            </span>
            <label for="select-role-{{ $index }}">
              <a ng-href="{{ 'civicrm/contact/view' | civicaseCrmUrl:{ cid: contact.contact_id } }}">{{ contact.display_name }}</a>
            </label>
          </td>
          <td class="civicase__people-tab__table-column">{{ contact.relation }}</td>
          <td class="civicase__people-tab__table-column">{{ contact.relationship_description }}</td>
          <td class="civicase__people-tab__table-column">{{ contact.client }}</td>
          <td class="civicase__people-tab__table-column">{{ contact.phone }}</td>
          <td class="civicase__people-tab__table-column">{{ contact.email }}</td>
          <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" crm-popup-form-success="getRelations()">
                <li>
                  <a class="crm-popup" ng-href="{{ 'civicrm/contact/view/rel' | civicaseCrmUrl:{ action: 'update', reset: 1, id: contact.relationship_id, cid: contact.id, rtype: contact.relationship_direction } }}">{{ ts('Edit Relationship') }}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li ng-if="contact.email">
                  <a class="crm-popup" ng-href="{{ 'civicrm/activity/email/add' | civicaseCrmUrl:{ action: 'add', caseid: item.id, reset: 1, cid: contact.id } }}">{{ ts('Send Email') }}</a>
                </li>
                <li>
                  <a class="crm-popup" ng-href="{{ 'civicrm/activity/pdf/add' | civicaseCrmUrl:{ action: 'add', caseid: item.id, reset: 1, cid: contact.id, context: 'standalone' } }}">{{ ts('Print/Merge Document') }}</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr
          ng-repeat="i in [1, 2, 3]"
          ng-if="isRelationshipLoading"
          ng-include="'~/civicase/case/details/people-tab/directives/case-details-people-tab-placeholder.html'"
        ></tr>
        <tr ng-if="!relations.length && !isRelationshipLoading">
          <td colspan="9" class="text-center">
            <button class="btn btn-default" disabled>
              {{ ts('None Found') }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="civicase__people-tab-counter clearfix">
      <div class="pull-right">{{ ts('Page %1 of %2', {1: relationsPage, 2: ceil(relationsCount / 25)}) }}</div>
      <paging
        class="center-block"
        page="relationsPage"
        page-size="25"
        total="relationsCount"
        ng-show="relationsCount > 25"
        show-prev-next="true"
        show-first-last="true"
        text-first="{{ ts('<< First') }}"
        text-last="{{ ts('Last >>') }}"
        text-next="{{ ts('Next >') }}"
        text-prev="{{ ts('< Prev') }}"
      >
      </paging>
    </div>
  </div>
  <!-- End Case Relationship tab -->
</div>
