/* legend */
// #crm-container .crm-tagLegend {
//   td div {
//     height:16px;
//     width:16px;
//     float:left;
//     margin-right:5px;
//   }
//   td.addTag div {@include functionIcon($functionIconLink); @include addTag;}
//   td.removeTag div {@include functionIcon($functionIconLink); @include removeTag;}
//   td.moveTag div {@include functionIcon($functionIconLink); @include moveTag;}
//   td.updateTag div {@include functionIcon($functionIconLink); @include updateTag;}
//   td.mergeTag div {@include functionIcon($functionIconLink); @include mergeTag;}
//   td.convertTag div {@include functionIcon($functionIconLink); @include convertTag;}
//   td.printTag div {@include functionIcon($defaultIconLink); @include printTag;}
//   th {border: 0px;}
//   * {border:0px;}
//   table
//   {
//     width: 380px;
//     float:right;
//     margin-bottom:-10px;
//   }
// }
.JSTree-settings {
  .add {
    @include functionIcon($functionIconLink); background-color: transparent; background-position: 0;
  }
}