// code
.BBTree-menu {
  input[type=text]::-ms-clear { 
    display: none; 
  }  
  width:100%;
  .BBTree-top, .BBTree-bottom {
    height:20px;
    border-bottom:1px solid #ccc;
  }
  .BBTree-autocomplete, .BBTree-tabs{
    float:left;
    width:84%;
    div[class*='tab-'] {
      float:left;
    }
  }
  .BBTree-settings {
    float:right;
    width:16%;
    height:20px;
    background-color:#ccc;
  }
  .tab-issue-codes,.tab-search,.tab-positions,.tab-keywords {
  // .tab-issue-codes,.tab-search,.tab-keywords {
    width:33%;
    // width:25%;
    padding:4px 0px;
    text-align: center;
    &.active {
      width:34%;
      // width:25%;
    }
  }
  .tab-search {
    @include in-and-out-hover-opacity($searchColor)
  }
  .tab-issue-codes {
    @include in-and-out-hover-opacity($issueCodesColor)
  }
  .tab-positions {
    @include in-and-out-hover-opacity($positionsColor)
  }
  .tab-keywords {
    @include in-and-out-hover-opacity($keywordsColor)
  }
  input#JSTree-ac {
    border-style:none;
    width: 100%;
    padding:0px;
    padding-left:3px;
    margin:0px;
    height:20px;
  }
}