$defaultSideBoxLabelColor:#999;
#JSTree-container .slideBox, .JSTree-slideBox .slideBox{
  position:absolute;
  width:0%;
  height:inherit;
  background-color:rgba(0,0,0,.2);
  z-index: 15;
  right:0px;
  .label {
    background-color:lighten($defaultSideBoxLabelColor,5%);
    @include round-corners(5px);
    color:#fff;
    padding:4px;
    display: inline-block;
    margin-left:2%;
    letter-spacing: 1px;
    @include inset-shadow(-1px,-1px,2px,.35);
  }
  .header {
    @extend .label;
    background-color:$defaultSideBoxLabelColor;
    margin:5px 0 10px;
    font-size:1.2em;
    font-weight:bold;
    letter-spacing: 1px;
    text-align:center;
    display:block;

  }
  .textBox {
    @include round-corners(5px);
    margin-left:2%;
    margin-bottom:5px;
    width: 90%;
  }
  .errorBox {
    @extend .textBox;
    border:2px solid red;
    margin-bottom:3px;
  }
  .headerdescription {
    @extend .header;
    margin-top:-10px;
    margin-bottom:10px;
    font-weight:normal;
    font-size:.9em;
    min-height: 8px;
  }
  .toTag {
    @extend .headerdescription;
    height:10px;
  }
  .submit {
    @extend .label;
    background-color:$defaultSideBoxLabelColor;
    margin-top:5px;
    font-weight:bold;
    text-transform: capitalize;
    float:right;
    margin-right:2%;
    cursor:pointer;
    clear:none;
  }
  .cancel {
    @extend .submit;
    float:right;
    background-color:lighten($defaultSideBoxLabelColor,15%);
  }
  .errorLabel {
    background-color:red;
  }
  .cancel,.submit {
    &:active {

    }
    &:hover {

    }
  }
  .isReserved {
    // float:left;
    // clear:both;
    &:input{
      margin-left:10px;
    }
  }
  .elementGroup {

  }
  .actionButtons {
    float:left;
    clear:both;
    width:100%;
  }
  .submit.inactive {
    background-color:$defaultSideBoxLabelColor;
    cursor:pointer;
  }
}
.slideBox.bottom {
  position:relative;
  width:auto;
  // hack because of demo_table_jui.css
  border:0px;
  padding:0px;
}
.dropdown ~.slideBox.bottom {
  right:0px;
  width:30%;

}
.JSTree-slideBox {
  width:522px;
  position:absolute;
  margin: 0px auto;
  height:0px;
  line-height:12px;
  .slideBox {
    width:40%;
    right:0px;
    position:absolute;
    @include round-bottom-corners(3px);
  }
}
#JSTree-container, .JSTree-slideBox {
  .JSTree.top-291-active .slideBox, .top-291.slideBox {
    .label,.headerdescription {
      background-color:$issueCodesColor;
    }
    .submit,.header {
      background-color:darken($issueCodesColor,10%);
    }
    .cancel {
      background-color:lighten($issueCodesColor,10%);
    }
    .errorLabel {
      background-color:red;
    }
    .loadingGif {
      height:12px;
      width:12px;
      background-color:white;
    }
    .submit.inactive {
      background-color:$defaultSideBoxLabelColor;
    }
  }
  .JSTree.top-292-active .slideBox, .top-292.slideBox{
    .label,.headerdescription {
      background-color:$positionsColor;
    }
    .submit,.header {
      background-color:darken($positionsColor,10%);
    }
    .cancel {
      background-color:lighten($positionsColor,10%);
    }
    .errorLabel {
      background-color:red;
    }
    .loadingGif {
      height:12px;
      width:12px;
      background-color:white;
    }
    .submit.inactive {
      background-color:$defaultSideBoxLabelColor;
    }
  }

  .JSTree.top-296-active .slideBox, .top-296.slideBox{
    .label,.headerdescription {
      background-color:$keywordsColor;
    }
    .submit,.header {
      background-color:darken($keywordsColor,10%);
    }
    .cancel {
      background-color:lighten($keywordsColor,10%);
    }
    .errorLabel {
      background-color:red;
    }
    .loadingGif {
      height:12px;
      width:12px;
      background-color:white;
    }
    .submit.inactive {
      background-color:$defaultSideBoxLabelColor;
    }
  }
}
