.tag {
  padding: 0px;
  height: 20px;
  line-height:20px;
  overflow-y:hidden;
  .ddControl {
    height:20px; width:20px; float:left; margin:0px;
    &.treeButton{
      background: url($defaultIconLink) no-repeat -32px -15px;
      cursor:pointer;
      &.open {
        background-position: -64px -15px;
      }
    }
  }
  position: relative;
  z-index:2;
}
.transparancyBox {
  position: relative;
  z-index:1;
  height: 20px;
  top: -20px;
  margin-bottom:-20px;
  width:$inputBoxWidthFull;
}
dt {
  height:20px;
}