.JSTree-resize {
  background:url("/sites/default/themes/Bluebird/nyss_skin/images/icons-3e3e3e.png") no-repeat #fff -51px -229px;
  height:6px;
  width:10px;
  margin: 0 auto;
  &:hover {
    cursor: s-resize;
  }
  position:relative;
}
.JSTree-tokenHolder {
  display:none;
  background-color:#fff;
  position:relative;
  padding-bottom:8px;
  width:100%;
  overflow-x:hidden;
  @include round-bottom-corners(3px);
  min-height:16px;
  .JSTree-tokenBody {
    height:16px;
    overflow:hidden;
    padding-top:5px;
    $defaultTokenColor:#999;
    .token {
      background-color:lighten($defaultTokenColor,5%);
      @include round-corners(5px);
      padding:2px 6px;
      margin-bottom:1px;
      display: inline-block;
      margin-left:2px;
      letter-spacing: 1px;
      float:left;
      @include inset-shadow(-1px,-1px,2px,.35);
      color:#fff;
      min-height:12px;
    }
    .token:hover {
      text-decoration:line-through;
      color:lighten(red,15%);
      cursor:pointer;
    }
    [data-type="291"] {
      background-color:$issueCodesColor;
    }
    [data-type="292"] {
      background-color:$positionsColor;
    }
    [data-type="296"] {
      background-color:$keywordsColor;
    }
  }
  .JSTree-tokenBody.oneLine {
    height:16px;
  }
  .JSTree-options {
    position:absolute;
    right:0px;
    height:15px;
    width:8%;
    margin-top:5px;
    @include round-left-corners(3px);
    background-color:#ccc;
    .button {
      height:15px;
      width:15px;
      background:url(/sites/default/themes/Bluebird/nyss_skin/images/icons-3e3e3e.png) transparent;
      cursor:pointer;
    }
    .showToggle{
      @extend .button;
      background-position:-48px -64px;
    }
    .showToggle.slideUp {
      background-position:-191px -49px;
    }
  }
}