.BBTree {
  overflow-y:scroll;
  overflow-x:hidden;
  height:400px;
  // margin-left:2%;
  @include iterator;
  @import "tag";
  @import "search";
  .tagContainer.active {
    display:block;
  }
  .tagContainer {
    display:none
  }
}
@import "tokenHolder";