.BBTree {
  &.top-291-active {
    @include addColors($issueCodesColor,.3);
  }
  &.top-296-active {
    @include addColors($keywordsColor,.3);
  }
  &.top-292-active {
    @include addColors($positionsColor,.3);
  }
  overflow-y:scroll;
  overflow-x:hidden;
  height:400px;
  // margin-left:2%;
  @include iterator;
  @import "tag";
  .tagContainer.active {
    display:block;
  }
  .tagContainer {
   
  }
  &.dropdown {
    display:none;
    &.open {
      display:block;
      position:absolute;
      top:78px;
      width:438px;
      z-index:10;
      background-color:white;
      height: 150px;
    }
  }
  &.hasSlideBox {
    @import "slideBox";
  }
}
@import "tokenHolder";