<div civicase-activity-dot="activity"></div>
<div class="act-feed-item-content">
  <div ng-if="activity.category && activity.category.length && templateExists('~/civicase/ActivityItemInner-' + activity.category[0] + '.html')" ng-include="'~/civicase/ActivityItemInner-' + activity.category[0] + '.html'"></div>
  <div ng-if="!(activity.category && activity.category.length && templateExists('~/civicase/ActivityItemInner-' + activity.category[0] + '.html'))" ng-include="'~/civicase/ActivityItemInner-default.html'"></div>
  <a class="act-case-info" title="{{ ts('View Case') }}" ng-if="activity.case" ng-href="#/case/list?caseId={{ activity.case_id }}&cf=%7B%22status_id%22:%5B%22{{ activity.case.status.name }}%22%5D,%22case_type_id%22:%5B%22{{ activity.case.type.name }}%22%5D%7D">
        <span style="background-color: {{ activity.case.status.color }}" title="{{ ts('Status: %1', {1: activity.case.status.label}) }}">
          {{ ts('Case: %1', {1: activity.case_id}) }}
        </span>
    <span>{{ activity.case.type.title }}</span>
    <span civicase-activity-contacts="activity.case.client"></span>
  </a>
</div>
