<div class="btn-group btn-group-sm activity-card-menu">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a ng-href="#{{ activityFeedUrl(activity.case_id, null, null, activity.id) }}">
        <i class="fa fa-external-link-square"></i> {{ ts('View in Feed') }}
      </a>
      <a ng-href="{{ editActivityUrl(activity.id) }}" class="crm-popup" ng-if="isActivityEditable(activity)">
        <i class="fa fa-pencil"></i> {{ ts('Edit') }}
      </a>
      <a href ng-click="deleteActivity(activity)">
        <i class="fa fa-trash"></i> {{ ts('Delete') }}
      </a>
      <a href ng-click="moveCopyActivity(activity, 'move')">
        <i class="fa fa-clipboard"></i> {{ ts('Move to Case') }}
      </a>
      <a href ng-click="moveCopyActivity(activity, 'copy')">
        <i class="fa fa-files-o"></i> {{ ts('Copy to Case') }}
      </a>
    </li>
  </ul>
</div>
