<div class="btn-group btn-group-sm activity-item-menu">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href ng-click="deleteActivity(activity)">
        <i class="fa fa-trash"></i> {{ ts('Delete') }}
      </a>
      <a href ng-click="moveCopyActivity(activity, 'move')">
        <i class="fa fa-clipboard"></i> {{ ts('Move to Case') }}
      </a>
      <a href ng-click="moveCopyActivity(activity, 'copy')">
        <i class="fa fa-files-o"></i> {{ ts('Copy to Case') }}
      </a>
    </li>
  </ul>
</div>
