<div crm-ui-debug="cases"></div>
<div crm-ui-debug="viewingCase"></div>
<div crm-ui-debug="viewingCaseTab"></div>
<h1 crm-page-title>{{ pageTitle }}</h1>
<div id="bootstrap-theme" class="clearfix civicase-main">

  <div class="panel panel-default civicase-search-panel clearfix" ng-class="{'case-is-focused': caseIsFocused}" civicase-search="filters" hidden-filters="hiddenFilters" expanded="searchIsOpen" on-search="applyAdvSearch(selectedFilters)">
    <div class="civicase-filters-placeholder" ng-click="unfocusCase()">
      <i class="fa fa-angle-double-down" aria-hidden="true"></i>
      {{ ts('Filters') }}
      <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
  </div>

  <div
    class="civicase-view-with-search pull-right"
    ng-class="{'case-is-focused': caseIsFocused, 'cc-zero-w': !viewingCase}"
    civicase-view="viewingCaseDetails"
    civicase-tab="viewingCaseTab"
    civicase-focused="caseIsFocused"
  >
  </div>
  <div class="panel panel-default case-list-panel" ng-class="{'viewing-case': viewingCase, 'case-is-focused': caseIsFocused}">
  <div class="scrolling outer">
    <div class="custom-scroll-wrapper">
      <div class="custom-scroll"></div>
    </div>
    <div class="inner" ng-include="'~/civicase/CaseListTable.html'"></div>
  </div>
    <div class="center-block civicase-pager">
      <div class="pager-counter" ng-show="!viewingCase && page.total" ng-class=" !viewingCase && page.total > 1 ? 'pull-right' : 'text-right' " >
        {{ ts('Page %1 of %2', {1: page.num, 2: page.total}) }}
      </div>
      <paging
        class="center-block text-center"
        ng-show="!caseIsFocused && page.total > 1"
        page="page.num"
        page-size="page.size"
        total="totalCount"
        show-prev-next="true"
        show-first-last="true"
        text-first="{{ ts('<< First') }}"
        text-last="{{ ts('Last >>') }}"
        text-next="{{ ts('Next >') }}"
        text-prev="{{ ts('< Prev') }}"
      ></paging>
    </div>
    <div class="civicase-table-expander" ng-if="viewingCase && !caseIsFocused" ng-click="viewCase(null)"><div>&raquo;</div></div>
    <div class="civicase-table-placeholder" ng-if="caseIsFocused" ng-click="unfocusCase()"><div>&raquo;</div></div>
  </div>
</div>
