<div class="panel-heading">
  <h3 class="panel-title">
    <span role="button" data-toggle="collapse" href="#collapse-other-cases">
      {{ ts('Other Cases') }}
    </span>
  </h3>
</div>
<div id="collapse-other-cases" class="panel-collapse collapse in">
  <div class="panel-body">
    <div class="civicase-view-other-cases">
      <div ng-repeat="relCase in item.relatedCases" class="civicase-view-other-case" ng-click="gotoCase(relCase, $event)">
        <i ng-if="relCase.is_linked" class="pull-right crm-i fa-link crm-is-linked" title="{{ ts('Case is linked') }}"></i>
        <i ng-if="!relCase.is_linked" class="pull-right crm-i fa-user crm-is-linked" title="{{ ts('Case is for the same client(s)') }}"></i>
        <div class="pull-right text-muted">
          <i class="fa fa-calendar"></i>&nbsp;
          <span>{{ CRM.utils.formatDate(relCase.start_date) }}</span>
          <span ng-if="relCase.end_date">- {{ CRM.utils.formatDate(relCase.end_date) }}</span>
          - {{ ts('Ongoing') }}
        </div>
        <h4>
          {{ relCase.client[0].display_name }}
          <div class="btn-group btn-group-xs" ng-if="relCase.client.length > 1">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ ts('Additional clients') }}">
              {{ ts('+%1', {1: relCase.client.length - 1}) }}
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="(index, client) in relCase.client" ng-if="index">
                <span>{{ client.display_name }}</span>
              </li>
            </ul>
          </div>
          <span class="badge" ng-style="{'background': '{{ caseStatuses[relCase.status_id].color }}'}" >
            {{ relCase.status }}
          </span>
        </h4>
        <div class="other-case-type-manager">
          {{ relCase.case_type }} <a ng-href="{{ CRM.url('civicrm/contact/view', {cid: relCase.manager.contact_id}) }}">{{ relCase.manager.display_name }}</a>
        </div>
        <div class="other-case-subject">
          {{ relCase.subject }}
        </div>
      </div>
    </div>
  </div>
</div>