<div class="civicase-view-summary crm-entity" data-entity="Case" data-id="{{ item.id }}">
  <div class="row civicase-summary-top-outer">
    <div class="civicase-case-subject col-md-6">
      <label class="civicase-case-subject-label">Subject: </label>
      <p crm-editable="item" data-field="subject" data-type="textarea" crm-form-success="onChangeSubject($data)"></p>
      <div class="case-custom-data-first" ng-repeat="(index, customGroup) in item.customData" ng-if="!index" ng-include="'~/civicase/CaseViewCustomData.html'"></div>
    </div>
    <div class="civicase-view-next-activities col-md-6">
      <div class="civicase-view-next-activities-inner">
        <ul class="list-group act-feed-list-group">
          <li class="list-group-item" ng-repeat="category in upNextCategories" ng-if="item.activity_summary[category.name].length">
            <h3>
              {{ ts('Next %1', {1: category.label}) }}
              <span class="badge badge-danger" ng-if="item.activity_summary[category.name][0].is_overdue">{{ ts('Overdue') }}</span>
            </h3>
            <div
              case-activity-card="item.activity_summary[category.name][0]"
              refresh-callback="refresh"
              crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
              edit-activity-url="editActivityUrl"
            ></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" ng-if="item.customData.length > 1">
    <div class="col-md-6 case-custom-data-below" ng-repeat="(index, customGroup) in item.customData" ng-if="index" ng-include="'~/civicase/CaseViewCustomData.html'"></div>
  </div>
  <div class="civicase-summary-mid row">
    <div class="col-md-6">
      <div ng-include="'~/civicase/CaseViewCommunicationRecent.html'"></div>
    </div>
    <div class="col-md-6">
      <div ng-include="'~/civicase/CaseViewTasks.html'"></div>
    </div>
  </div>
  
</div>
