<table ng-show="!caseIsFocused" class="case-list-table">
  <thead calculate-scroll-width>
  <tr>
    <th class="fixed-col">
      <div class="case-list-checkbox" ng-if="!viewingCase && selectedCases && bulkAllowed">
        <input type="checkbox" ng-click="selectAll($event)" id="select-role-{{ $index }}" ng-checked="isSelection('all')" />
        <label for="select-role-{{ $index }}"></label>
      </div>
      <div class="btn-group btn-group-sm" ng-if="!viewingCase && selectedCases && bulkAllowed">
        <button type="button" class="btn btn-default dropdown-toggle" ng-class="{disabled: !selectedCases.length}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ ts('Actions') }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" civicase-actions="selectedCases" multiple="true" refresh-callback="refresh"></ul>
      </div>
      <div class="btn-group btn-group-sm cc-sort-btn-group" ng-if="sort.sortable" ng-class="{'pull-right': !viewingCase}">
        <button class="btn btn-default" ng-click="changeSortDir()">
          <i class="fa" ng-class="{'fa-arrow-circle-up': sort.dir === 'ASC', 'fa-arrow-circle-down': sort.dir === 'DESC'}"></i>
        </button>
        <select class="form-control btn btn-default" ng-model="sort.field" crm-ui-select>
          <option value="id">{{ ts('Case ID') }}</option>
          <option value="contact_id.sort_name">{{ ts('Case Client') }}</option>
          <option value="subject">{{ ts('Subject') }}</option>
          <option value="status_id.label">{{ ts('Status') }}</option>
          <option value="case_type_id.title">{{ ts('Type') }}</option>
          <option value="start_date">{{ ts('Start Date') }}</option>
          <option value="end_date">{{ ts('End Date') }}</option>
          <option value="created_date">{{ ts('Date Created') }}</option>
          <option value="modified_date">{{ ts('Last Updated') }}</option>
          <option value="case_manager.sort_name">{{ ts('Case Manager') }}</option>
          <option value="my_role.label_b_a">{{ ts('My Role') }}</option>
          <option value="next_activity">{{ ts('Next Activity') }}</option>
          <option value="next_activity_category_milestone">{{ ts('Next Milestone') }}</option>
          <option value="next_activity_category_task">{{ ts('Next Task') }}</option>
          <option value="next_activity_category_communication">{{ ts('Next Communication') }}</option>
        </select>
      </div>
    </th>
    <th
      ng-show="!viewingCase"
      ng-repeat="header in headers"
      civicase-sortheader="{{ header.sort }}">{{ header.label }}</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in cases">
    <td ng-click="viewCase(item.id, $event)" ng-class="{'case-selected-for-view': viewingCase === item.id}" class="fixed-col">
      <div ng-if="!bulkAllowed" class="lockDiv">
        <div class="fa fa-lock"></div>
      </div>
      <div class="case-list-checkbox" ng-if="!viewingCase && selectedCases && bulkAllowed">
        <input type="checkbox" ng-model="item.selected" />
        <label></label>
      </div>
      <div class="case-list-info">
        <h4>{{ item.client[0].display_name }}</h4>
        <div class="btn-group btn-group-sm" ng-if="item.client.length > 1">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ ts('Additional clients') }}">
            +{{ item.client.length - 1 }}
          </button>
          <ul class="dropdown-menu" >
            <li ng-repeat="(index, client) in item.client" ng-if="index">
              <span>{{ client.display_name }}</span>
            </li>
          </ul>
        </div>
        <div ng-if="item.client[0].email">
          <strong>{{ ts('Email:') }}</strong>
          {{ item.client[0].email }}
        </div>
        <div ng-if="item.client[0].phone">
          <strong>{{ ts('Phone:') }}</strong>
          {{ item.client[0].phone }}
        </div>
        <div>
          <strong>{{ ts('Case ID:') }}</strong>
          {{ item.id }} &nbsp;
          <span class="civicase-tags">
            <span
              class="label label-default"
              title="{{ tag['tag_id.description'] }}"
              ng-repeat="tag in item.tag_id || []"
              ng-class="{'text-dark': CRM.utils.colorContrast(tag['tag_id.color'] || '#cccccc') === 'black'}"
              style="background-color: {{ tag['tag_id.color'] }};"
            >{{ tag['tag_id.name'] }}</span>
          </span>
        </div>
        <div class="case-activity-summary-icons" ng-if="bulkAllowed">
          <a class=""
             ng-repeat="category in activityCategories"
             ng-href="#{{ activityFeedUrl(item.id, category.name, 'incomplete') }}"
             ng-class="{'item-overdue': item.activity_summary[category.name][0].is_overdue}"
             ng-if="item.category_count.incomplete[category.name]"
             title="{{ ts('%1 upcoming %2', {1: item.category_count.incomplete[category.name], 2: category.label}) }}"
          >
            <i class="fa {{ category.icon }}"></i>
            <span class="badge noti-badge">{{ item.category_count.incomplete[category.name] }}</span>
          </a>
        </div>
      </div>
    </td>
    <td
      ng-show="!viewingCase"
      ng-repeat="header in headers"
      ng-class="{'case-activity-card-wrapper': header.display_type == 'activity_card'}">

      <span ng-switch on="header.display_type">
        <span ng-switch-when="activity_card">
          <div
            ng-if="item[header.name]"
            case-activity-card="item[header.name]"
            refresh-callback="refresh"
          >
          </div>
        </span>
        <span ng-switch-when="status_badge" class="badge" style="background-color: {{ item.color }}">
          {{ item.status }}
        </span>
        <span ng-switch-when="contact_reference">{{ item[header.name].display_name }}</span>
        <span ng-switch-when="date">{{ CRM.utils.formatDate(item[header.name]) }}</span>
        <span ng-switch-when="multiple_values">{{ item[header.name].join(', ') }}</span>
        <span ng-switch-default>{{ item[header.name] }}</span>
      </span>
    </td>
  </tr>

  <tr class="case-placeholder-row" ng-repeat="placeholder in casePlaceholders" ng-if="!cases.length && isLoading">
    <td class="fixed-col">
      <h2 style="width: 80%; margin-top: 10px;" class="oneline-loading-placeholder"></h2>
      <div style="width: 70%; margin-top: 15px;" class="oneline-loading-placeholder"></div>
      <div style="width: 50%; margin-top: 15px;" class="oneline-loading-placeholder"></div>
    </td>
    <td ng-show="!viewingCase"><div class="activity-card-loading-placeholder"><div></div></div></td>
    <td ng-show="!viewingCase" ng-repeat="i in [1,2,3,4,5,6,7]"><div class="oneline-loading-placeholder"></div></td>
  </tr>

  <tr ng-if="!cases.length && !isLoading" class="civicase-panel-empty">
    <td class="fixed-col"></td>
    <td colspan="3">
      <i class="fa fa-folder-o fa-big"></i>
      <div class="empty-label">{{ ts('No cases found matching the search criteria.') }}</div>
    </td>
  </tr>
  </tbody>
</table>
