<div class="civicase-view-communication-recent">
  <h3>
    {{ ts('Recent Communications') }}
    <a class="badge"
       ng-href="#{{ activityFeedUrl(item.id, 'communication', 'completed') }}"
       ng-if="item.category_count.completed.communication"
       title="{{ ts('View All') }}"
    >
      {{ item.category_count.completed.communication }}
    </a>
  </h3>
  <div>
    <ul class="list-group act-feed-list-group" ng-if="item.recentCommunication.length">
      <li class="list-group-item" ng-repeat="activity in item.recentCommunication">
        <div
          case-activity-card="activity"
          refresh-callback="refresh"
          crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
          edit-activity-url="editActivityUrl"
        ></div>
      </li>
    </ul>
    <ul class="list-group act-feed-list-group" ng-if="!item.recentCommunication.length && item.category_count.completed.communication">
      <li class="list-group-item" ng-repeat="placeholder in panelPlaceholders(item.category_count.completed.communication)">
        <div class="activity-card-loading-placeholder"><div></div></div>
      </li>
    </ul>
    <div class="civicase-panel-empty" ng-if="!item.category_count.completed.communication">
      <i class="fa fa-comment fa-big"></i>
      <div class="empty-label">{{ ts('This case has no past communications') }}</div>
    </div>
  </div>
</div>
