<nav class="navbar civicase-view-tab-bar navbar-inverse" case-tab-affix>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-repeat="tab in tabs" ng-class="{active: activeTab === tab.name}">
        <a href ng-click="selectTab(tab.name)">
          {{ tab.label }}
          <span class="sr-only" ng-if="activeTab === tab.name">{{ ts('Current') }}</span>
        </a>
      </li>
    </ul>
    <div class="btn-group btn-group-md pull-right">
      <button type="button" class="btn dropdown-toggle searchable-dropdown" data-toggle="dropdown">
        <span><i class="fa fa-plus"></i> {{ ts('Timeline') }}</span>
        <input class="form-control" ng-model="activitySetSearchText" />
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="timeline in item.definition.activitySets | filter:{label: activitySetSearchText}">
          <a href crm-confirm="{message: ts('Add all activities from %1 to this case?', {1: timeline.label})}" on-yes="addTimeline(timeline.name)">
            {{ timeline.label }}
          </a>
        </li>
      </ul>
    </div>
    <div class="btn-group btn-group-md pull-right">
      <button type="button" class="btn dropdown-toggle searchable-dropdown" data-toggle="dropdown">
        <span><i class="fa fa-plus"></i> {{ ts('Activity') }}</span>
        <input class="form-control" ng-model="activityTypeSearchText" />
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="actType in availableActivityTypes | filter:{label: activityTypeSearchText}">
          <a crm-popup-form-success="pushCaseData($data.civicase_reload[0])" class="crm-popup" ng-href="{{ newActivityUrl(actType) }}">
            <i class="fa fa-fw {{ actType.icon || 'fa-circle' }}">
              <span class="civicase-icon-placeholder" ng-if="!actType.icon">{{ actType.label[0] }}</span>
            </i>
            {{ actType.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="case-tab-summary" ng-show="activeTab === 'summary'" ng-include="'~/civicase/CaseViewSummary.html'"></div>
<div class="case-tab-activities" ng-if="activeTab === 'activities'" civicase-activity-feed="{case_id: item.id}" refresh-callback="refresh"></div>
<div class="case-tab-people" ng-if="activeTab === 'people'" civicase-view-people="item" refresh-callback="refresh"></div>
<div class="case-tab-files" ng-if="activeTab === 'files'" civicase-view-files="item"></div>
