<div class="dashboard-case-summary-wrapper" ng-class="{'show-summary-breakdown': showBreakdown}">
  <table class="dashboard-case-summary">
    <thead>
      <tr>
        <th>
          <h4>{{ ts('Case Summary') }}</h4>
          <a href ng-click="showHideBreakdown()" ng-if="caseTypesLength > 1" class="show-breakdown">
            <i class="crm-i fa-angle-right" ng-class="{'fa-rotate-90': showBreakdown}"></i>
            {{ ts('See breakdown by type') }}
          </a>
          <span class="arrow-right"></span>
        </th>
        <th ng-repeat="(sid, status) in caseStatuses" class="text-center">
          <h4 class="case-summary-count">
            <a ng-href="{{ caseListLink(null, status.name) }}">
              {{ summaryData.all[sid] || '0' }}
            </a>
          </h4>
          <div class="case-summary-status">
            <span class="badge badge-secondary" ng-style="{'background-color': status.color}">{{ status.label }}</span>
          </div>
          <span class="arrow-right"></span>
        </th>
      </tr>
    </thead>
    <tbody ng-show="showBreakdown">
      <tr ng-repeat="(ctid, caseType) in caseTypes">
        <td>
          <a ng-href="{{ caseListLink(caseType.name) }}">
            {{ caseType.title }}
          </a>
          <span class="border-right"></span>
        </td>
        <td ng-repeat="(sid, status) in caseStatuses" class="text-center" ng-class="{'case-status-unavailable': (caseType.definition.statuses && (caseType.definition.statuses.indexOf(status.name) < 0))}">
          <h4 class="case-summary-count">
            <a ng-href="{{ caseListLink(caseType.name, status.name) }}">
              {{ summaryData[ctid][sid] || '0' }}
            </a>
          </h4>
          <span class="border-bottom"></span>
          <span class="border-top"></span>
          <span class="border-right"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>