<form><fieldset ng-disabled="block.check()">

<div crm-ui-debug="filesByAct"></div>

<div ng-hide="apiCtrl.loading || apiCtrl.result.count" class="civicase-panel-empty">
  <i class="fa fa-file-o fa-big"></i>
  <div class="empty-label">{{ ts('No files found') }}</div>
</div>

<div civicase-util="caseutil"></div>


<ul class="list-group act-feed-list-group activity-placeholder-list-inner" ng-if="apiCtrl.loading && !apiCtrl.result.count">
  <li class="list-group-item" ng-repeat="i in [0,1,2]">
    <div class="activity-card-loading-placeholder"><div></div></div>
  </li>
</ul>

<ul class="list-group act-feed-list-group act-feed-list-group-file" ng-show="apiCtrl.result.count">
  <li class="list-group-item" ng-repeat="activity in activities">
    <!--<h4>({{$index}})({{activity.activity_date_time}})({{activities[$index-1].activity_date_time}})</h4>-->

    <h4 class="act-date" ng-if="!caseutil.isSameDate(activity.activity_date_time, activities[$index-1].activity_date_time)">
      {{ CRM.utils.formatDate(activity.activity_date_time) }}<br/>
    </h4>

    <div class="act-feed-item status-type-{{ activity.status_type }}">
      <div class="act-feed-inner">

        <div civicase-activity-dot="activity"></div>

        <h4>
          <span class="act-subject">{{activity.type}}{{activity.subject ? ': ' : ''}}{{activity.subject}}</span>
        </h4>

        <!-- FIXME: ellipsis or fade-out effect -->
        <p ng-bind-html="activity.details" style="max-height: 3em; overflow: hidden"></p>

        <div class="act-files">
          <div ng-repeat="file in filesByAct[activity.id]" class="clearfix">
            <a ng-href="{{file.url}}" title="Uploaded {{file.upload_date}}"><i class="fa {{file.icon}}"></i><span>{{file.name}}</span></a>

            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-default-outline btn-xs dropdown-toggle"
                data-toggle="dropdown"
                title="{{ ts('Actions') }}"
              ><i class="crm-i fa-ellipsis-v"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a title="{{ ts('Download') }}" href="{{ file.url }}">{{ts('Download')}}</a>
                </li>
                <li>
                  <a title="{{ ts('Delete') }}" ng-click="delete(activity, file)">{{ts('Delete')}}</a>
                </li>
              </ul>
            </div>

            <p>{{file.description}}</p>

          </div>
        </div>

      </div>
    </div>
  </li>
</ul>

</fieldset></form>
