<form class="form-inline">
<div class="col-sm-4">
  <div class="input-group">
  	<input type="search" class="form-control" placeholder="{{ ts('Contains text') }}" ng-model="apiCtrl.params.text"/>
        <span class="input-group-addon">
    	    <i class="fa fa-search"></i>
        </span>
  </div>
</div>
  <input class="form-control" crm-ui-select="{allowClear: true, multiple: false, placeholder: ts('File Types...'), data: fileCategoriesIT}" ng-model="apiCtrl.params.mime_type_cat"/>
  <select class="form-control" ng-model="customFilters.grouping" crm-ui-select>
    <option value="">{{ ts('All Activity Categories') }}</option>
    <option ng-repeat="(value, item) in ::activityCategories" value="{{ value }}" data-icon="{{ item.icon }}">
      {{ item.label }}
    </option>
  </select>
</form>