<div crm-ui-debug="roles"></div>
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: tab == 'roles'}"><a href ng-click="setTab('roles')">{{ ts('Case Roles') }}</a></li>
  <li role="presentation" ng-class="{active: tab == 'relations'}"><a href ng-click="setTab('relations')">{{ ts('Other Relationships') }}</a></li>
</ul>
<div class="civicase-relationships-case case-people-subtab" ng-show="tab == 'roles'">
  <div class="case-people-status">
    <div class="btn-group btn-group-md pull-right">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus"></i> {{ ts('Add Case Role') }}
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-if="allowMultipleCaseClients">
          <a href ng-click="assignRole({role: ts('Client')})">{{ ts('Client') }}</a>
        </li>
        <li ng-repeat="role in allRoles">
          <a href ng-click="assignRole(role)">{{ role.role }}</a>
        </li>
      </ul>
    </div>
    <h3>{{ ts('%1 Contacts', {1: roles.length}) }}</h3>
    <div>
      {{ ts('Select Records:') }} &nbsp;
      
      <input type="radio" value="all" ng-model="rolesSelectionMode" id="rolesSelectionMode-all" />
      <label for="rolesSelectionMode-all" class="people-selection-radio">{{ ts('All %1 records', {1: roles.length}) }}</label>
      <input type="radio" value="checked" ng-model="rolesSelectionMode" id="rolesSelectionMode-checked"/>
      <label for="rolesSelectionMode-checked" class="people-selection-radio">Selected records only</label>
      <select class="form-control case-action-dropdown" crm-ui-select ng-model="rolesSelectedTask" ng-change="doContactTask('roles')" ng-disabled="!getSelectedContacts('roles').length" >
        <option value="">{{ ts('Actions') }}</option>
        <option ng-repeat="(key, opt) in contactTasks" value="{{ key }}">{{ opt.title }}</option>
      </select>
    </div>
  </div>
  <div>
    <paging
    class="center-block paging-top"
    page="rolesPage"
    page-size="25"
    total="rolesCount"
    ng-show="rolesCount > 25"
    show-prev-next="true"
    show-first-last="true"
    text-first="{{ ts('<< First') }}"
    text-last="{{ ts('Last >>') }}"
    text-next="{{ ts('Next >') }}"
    text-prev="{{ ts('< Prev') }}"
    >
    </paging>
    <div class="pull-right client-role">
      <select class="form-control" ng-model="rolesFilter" crm-ui-select>
        <option value="">{{ ts('All Roles') }}</option>
        <option value="client">{{ ts('Client') }}</option>
        <option ng-repeat="role in allRoles" value="{{ role.name }}">{{ role.role }}</option>
      </select>
    </div>
  </div>

  <div class="civicase-alpha-pager">
    <a ng-repeat="a in letters" href ng-class="{active: a === rolesAlphaFilter}" ng-click="setLetterFilter(a, 'roles')">{{ a }}</a>
  </div>
  <table class="table">
    <thead><tr>
      <th></th>
      <th>{{ ts('Role') }}</th>
      <th>{{ ts('Name') }}</th>
      <th>{{ ts('Phone') }}</th>
      <th>{{ ts('Email') }}</th>
      <th></th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="role in roles" ng-class="{unassigned: !role.contact_id}">
        <td>
          <input ng-if="role.contact_id" id="select-role-{{ $index }}" type="checkbox" ng-model="role.checked" ng-click="setSelectionMode('checked', 'roles')" />
          <label for="select-role-{{ $index }}"></label>
        </td>
        <td>
          <div><strong>{{ role.role }}</strong></div>
          <div><em>{{ role.description }}</em></div>
          <div>{{ role.desc }}</div>
        </td>
        <td>
          <a ng-if="role.contact_id" ng-href="{{ CRM.url('civicrm/contact/view', {cid: role.contact_id}) }}">{{ role.display_name }}</a>
          <span ng-if="!role.contact_id">{{ ts('Unassigned')  }}</span>
        </td>
        <td>{{ role.phone }}</td>
        <td>{{ role.email }}</td>
        <td>
          <a href ng-if="!role.contact_id" ng-click="assignRole(role)">
            <i class="fa fa-user-plus"></i>
          </a>
          <div ng-if="role.contact_id" class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href ng-click="assignRole(role, true)">{{ ts('Reassign %1', {1: role.role}) }}</a>
              </li>
              <li ng-if="role.relationship_type_id || allowMultipleCaseClients">
                <a href ng-click="assignRole(role)">{{ ts('Add Another %1', {1: role.role}) }}</a>
              </li>
              <li ng-if="role.relationship_type_id || item.client.length > 1">
                <a href ng-click="unassignRole(role)">{{ ts('Remove %1', {1: role.role}) }}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li ng-if="role.email">
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/email/add', {action: 'add', caseid: item.id, reset: 1, cid: role.contact_id}) }}">{{ ts('Send Email') }}</a>
              </li>
              <li>
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/pdf/add', {action: 'add', caseid: item.id, reset: 1, cid: role.contact_id, context: 'standalone'}) }}">{{ ts('Print/Merge Document') }}</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pull-right pager-counter">{{ ts('Page %1 of %2', {1: rolesPage, 2: ceil(rolesCount / 25)}) }}</div>
  <paging
    class="center-block"
    page="rolesPage"
    page-size="25"
    total="rolesCount"
    ng-show="rolesCount > 25"
    show-prev-next="true"
    show-first-last="true"
    text-first="{{ ts('<< First') }}"
    text-last="{{ ts('Last >>') }}"
    text-next="{{ ts('Next >') }}"
    text-prev="{{ ts('< Prev') }}"
    ></paging>
</div>
<div class="civicase-relationships-other case-people-subtab" ng-show="tab == 'relations'">
  <div class="case-people-status">
    <div class="btn-group btn-group-md pull-right">
      <a ng-if="item.client.length === 1" class="btn btn-primary crm-popup" crm-popup-form-success="getRelations()" href="{{ CRM.url('civicrm/contact/view/rel', {action: 'add', reset: 1, cid: item.client[0].contact_id}) }}">
        <i class="fa fa-plus"></i> {{ ts('Relationship') }}
      </a>
      <button ng-if="item.client.length > 1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus"></i> {{ ts('Relationship') }} <span class="caret"></span>
      </button>
      <ul ng-if="item.client.length > 1" class="dropdown-menu dropdown-menu-right" crm-popup-form-success="getRelations()">
        <li ng-repeat="client in item.client">
          <a class="crm-popup" href="{{ CRM.url('civicrm/contact/view/rel', {action: 'add', reset: 1, cid: client.contact_id}) }}">
            {{ client.display_name }}
          </a>
        </li>
      </ul>
    </div>
    <h3>{{ ts('%1 Contacts', {1: relations.length}) }}</h3>
    <div>
      <strong>{{ ts('With:') }}</strong> &nbsp;
      <input type="radio" value="all" ng-model="relationsSelectionMode" id="relationsSelectionMode-all"/>
      <label for="relationsSelectionMode-all">{{ ts('All %1 Contacts', {1: relations.length}) }}</label>
      <input type="radio" value="checked" ng-model="relationsSelectionMode" id="relationsSelectionMode-checked"/>
      <label for="relationsSelectionMode-checked">{{ ts('%1 Selected', {1: getSelectedContacts('relations', true).length}) }}</label>
      <select class="form-control case-action-dropdown" crm-ui-select ng-model="relationsSelectedTask" ng-change="doContactTask('relations')" ng-disabled="!getSelectedContacts('relations').length" >
        <option value="">{{ ts('Actions') }}</option>
        <option ng-repeat="(key, opt) in contactTasks" value="{{ key }}">{{ opt.title }}</option>
      </select>
    </div>
  </div>
  <paging
    class="center-block paging-top"
    page="relationsPage"
    page-size="25"
    total="relationsCount"
    ng-show="relationsCount > 25"
    show-prev-next="true"
    show-first-last="true"
    text-first="{{ ts('<< First') }}"
    text-last="{{ ts('Last >>') }}"
    text-next="{{ ts('Next >') }}"
    text-prev="{{ ts('< Prev') }}"
  ></paging>
  <div class="civicase-alpha-pager">
    <a ng-repeat="a in letters" href ng-class="{active: a === relationsAlphaFilter}" ng-click="setLetterFilter(a, 'relations')">{{ a }}</a>
  </div>
  <table class="table">
    <thead><tr>
      <th></th>
      <th>{{ ts('Name') }}</th>
      <th>{{ ts('Relationship') }}</th>
      <th>{{ ts('Client') }}</th>
      <th>{{ ts('Phone') }}</th>
      <th>{{ ts('Email') }}</th>
      <th></th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="contact in relations">
        <td>
          <input type="checkbox" id="select-relation-{{ $index }}" ng-model="contact.checked" ng-click="setSelectionMode('checked', 'relations')" />
          <label for="select-relation-{{ $index }}"></label>
        </td>
        <td><a ng-href="{{ CRM.url('civicrm/contact/view', {cid: contact.contact_id}) }}">{{ contact.display_name }}</a></td>
        <td>{{ contact.relation }}</td>
        <td>{{ contact.client }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" crm-popup-form-success="getRelations()">
              <li>
                <a class="crm-popup" href="{{ CRM.url('civicrm/contact/view/rel', {action: 'update', reset: 1, id: contact.relationship_id, cid: contact.id, rtype: contact.relationship_direction}) }}">{{ ts('Edit Relationship') }}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li ng-if="contact.email">
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/email/add', {action: 'add', caseid: item.id, reset: 1, cid: contact.id}) }}">{{ ts('Send Email') }}</a>
              </li>
              <li>
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/pdf/add', {action: 'add', caseid: item.id, reset: 1, cid: contact.id, context: 'standalone'}) }}">{{ ts('Print/Merge Document') }}</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    <tr ng-if="!relations.length">
      <td colspan="9" style="text-align: center">
        <button class="btn btn-default" disabled>
          {{ ts('None Found') }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="pull-right pager-counter">{{ ts('Page %1 of %2', {1: relationsPage, 2: ceil(relationsCount / 25)}) }}</div>
  <paging
    class="center-block"
    page="relationsPage"
    page-size="25"
    total="relationsCount"
    ng-show="relationsCount > 25"
    show-prev-next="true"
    show-first-last="true"
    text-first="{{ ts('<< First') }}"
    text-last="{{ ts('Last >>') }}"
    text-next="{{ ts('Next >') }}"
    text-prev="{{ ts('< Prev') }}"
  ></paging>
</div>
